[2022-01-28 12:43] omarelb commented on #412
I'll give it a shot. Cheers!

[2022-01-28 14:39] danielsaidi commented on #412
Good luck - I'd love to hear about your progress!

[2022-01-29 15:30] danielsaidi commented on #411
KeyboardKit 5.9.1 will now limit the size of the action callout buttons and will also adjust the callout's design on iPad, to make it look more like the native callouts:

![image](https://user-images.githubusercontent.com/429927/151666810-d0f811fd-36a6-4621-ab61-9c1a8cc7c5ed.png)

[2022-01-29 15:30] #411 closed

[2022-01-29 15:34] danielsaidi commented on #378
@ardavank Have you found any new information regarding this?

[2022-01-29 16:17] danielsaidi opened #413 "Remove `KeyboardInputViewController.shared`"
`KeyboardInputViewController.shared` was added as a convenience when moving to KeyboardKit 5, to avoid having to change many external interfaces.

However, when implementing multi-platform support, many parts of the library must be disabled for macOS and watchOS, since the shared controller doesn't exist on these platforms.

Over time, after releasing to KeyboardKit 6, limit the usage of `Keyboard

[2022-01-29 17:08] ctawong commented on #281
@danielsaidi, I tried this technique in simulator. It doesn't work. Are you able to make this work? Thanks.

[2022-01-29 18:11] danielsaidi commented on #281
@ctawong Hi! I was planning to look at this after releasing 6.0, but haven't tried it yet.

[2022-01-29 18:14] danielsaidi commented on #408
Implement this change as part of using system audio for haptics.

[2022-01-29 18:15] danielsaidi commented on #247
I will add a demo keyboard that demonstrates this in the 6.0 release. If you have nice unicode sets that you'd like to share, I'd love to add them to the demo.

[2022-01-30 00:13] danielsaidi commented on #370
KeyboardKit and KeyboardKit Pro now supports `iOS`, `macOS`, `tvOS` and `watchOS`.

You can test this in the `v6` branch.

[2022-01-30 00:13] #370 closed

[2022-01-30 13:10] OneSman7 opened #414 "Make @Published properties public for reading in ActionCalloutContext"
Hi, @danielsaidi!
Thanks for a great library!

I am working on a custom keyboard based on Keyboard Kit, but wanted to customise the visuals.
I was able to replicate SystemKeyboard() by making my own view with similar code and tweaking layout to my needs.
Next I wanted to customise callouts, but when I tried to make my own version of ActionCallout I found that I need to read properties from ActionC

[2022-01-30 13:26] OneSman7 commented on #414
Found that I will also need `public static let coordinateSpace = "com.keyboardkit.coordinate.ActionCallout"` to provide correct analogue to helper

[code]

[2022-01-31 03:14] ardavank commented on #378
@danielsaidi nothing yet, I'll let you know if I find a solution

[2022-01-31 08:29] danielsaidi commented on #414
Hi @OneSman7

To just customize the visuals, you could create a custom appearance and return a custom callout style, but for more customizations you probably need access to more things in the context.

I chose to keep these things internal for now, to avoid breaking changes if I wanted to change the behavior. I can look at making them public, if the style approach doesn't work for you.

[2022-02-01 11:21] danielsaidi commented on #354
@gtokman I reopened this issue, since I missed your detail about running the keyboard scheme. I now see the prints and hope that I can fix this in KeyboardKit 6.0

[2022-02-01 11:43] danielsaidi commented on #354
I think I managed to solve it now. By not checking the real value until `didMove(toParent:)` has been called, the warning seems to have disappeared. I will add this to the 6.0 release.

[2022-02-01 11:43] danielsaidi commented on #308
I think I managed to solve it now. By not checking the real value until `didMove(toParent:)` has been called, the warning seems to have disappeared. I will add this to the 6.0 release.

[2022-02-01 11:44] danielsaidi commented on #83
I think I managed to solve it now. By not checking the real value until `didMove(toParent:)` has been called, the warning seems to have disappeared. I will add this to the 6.0 release.

[2022-02-01 15:06] danielsaidi commented on #122
Hi again! I just wanted to re-open this to annotate that the warning in this ticket has been fixed in the upcoming 6.0. It probably didn't have anything to do with the warning, but I'm tagging it anyways for future reference.

[2022-02-01 15:06] danielsaidi commented on #122
The fix can be tested in the `v6` feature branch.

[2022-02-01 15:06] #122 closed

[2022-02-01 15:07] danielsaidi commented on #354
The fix can be tested in the `v6` feature branch.

[2022-02-01 15:07] danielsaidi commented on #308
The fix can be tested in the `v6` feature branch.

[2022-02-01 15:07] #308 closed

[2022-02-01 15:08] danielsaidi commented on #83
The fix can be tested in the `v6` feature branch.

[2022-02-01 15:08] #83 closed

[2022-02-01 17:58] OneSman7 commented on #414
It will help to make @Published properties private(set) public and coordinate space public so I can subscribe my custom callout view to context changes and integrate it into SystemKeyboard analogue.

[2022-02-03 21:18] danielsaidi commented on #373
I think I have fixed this problem in the `v6` branch. Could you try it and see if it behaves better?

[2022-02-03 22:41] danielsaidi commented on #401
This is not feasible, since the system keyboard adjusts the appearance's callout styles and injects it statically into the keyboard, without any way to provide an action.

I will mark this as a wontfix. If you do want to do this in your own apps, I basically just created a custom appearance that had a "current action" property that was set by a custom action handler, then used that action to deter

[2022-02-03 22:41] #401 closed

[2022-02-03 23:27] danielsaidi commented on #335
I have gone through all system audio ids from 0 to 3000 and there are just too few haptic variants to cover the haptic feedbacks that is currently supported by the system.

[2022-02-03 23:27] #335 closed

[2022-02-04 00:02] danielsaidi commented on #408
This has been fixed and can be tested in the `v6` feature branch.

[2022-02-04 00:02] #408 closed

[2022-02-04 00:12] danielsaidi commented on #414
I have fixed this in the `v6` feature branch. 👍

[2022-02-04 00:12] #414 closed

[2022-02-04 00:13] #373 closed

[2022-02-04 12:51] danielsaidi commented on #247
Ping @dariogallegos @TechnikEmpire @denandreychuk

I have (finally) added a super-simple unicode keyboard to the demo app in the `v6` feature branch. Have a look at it and let me know what you think.

[2022-02-04 12:51] #247 closed

[2022-02-05 19:59] danielsaidi opened #415 "Make KeyboardFeedbackHandler less complicated"
Today the `KeyboardFeedbackHandler` and the standard implementation has type aliases and an action provider-based function, which is used to make the feedback handler able to determine if should actually perform the feedback that it's asked to trigger.

However, this is backwards and today ONLY used by the standard action handler, which is where this logic actually belongs. Instead of letting the

[2022-02-05 20:00] danielsaidi commented on #415
This can soon be tested in the `v6` feature branch.

[2022-02-05 20:00] #415 closed

[2022-02-05 23:30] danielsaidi commented on #404
These articles have been added to the `v6` feature branch.

[2022-02-05 23:30] #404 closed

[2022-02-06 13:32] OneSman7 commented on #414
Thank you! 🙏
Due to that I was able to build custom width action callouts!

<img width="321" alt="Снимок экрана 2022-02-06 в 16 31 29" src="https://user-images.githubusercontent.com/4619076/152683326-ead8ee4d-aa2d-4d0c-83f6-78db686788ae.png">

[2022-02-06 18:03] remotelxszk opened #416 "Adjust height inside a Preview Keyboard"
Just like in the title this class allows to create a smaller (or larger) preview, and you need to adjust the font size using style accordingly.
[code]

[2022-02-07 16:05] danielsaidi commented on #402
I have created new workflows for copying KeyboardKit into KeyboardKit Pro, adjusting the documentation to contain documentation for all types etc.

After that, the KeyboardKit Pro source code package compiled correctly. However, the Xcode framework project did not compile and failed with `Abort trap: 6` errors.

Recreating the project from scratch fixed this problem, after which I could generate t

[2022-02-07 16:30] danielsaidi commented on #402
I saw this and guess the problem is out of my hands 😪

https://developer.apple.com/forums/thread/699332

[2022-02-08 08:36] danielsaidi commented on #402
I found a workaround! By having the initializers default to `nil` instead of the default values, then resolve the value within the initializer body, this error disappeared.

With this, KeyboardKit Pro is now standalone and has a brand new demo that just demonstrates the Pro setup, while the base demo can be used to demonstrate other parts of KeyboardKit.

This can be tested in the `v6` feature bra

[2022-02-08 08:36] #402 closed

[2022-02-08 08:37] danielsaidi commented on #399
After making KeyboardKit Pro standalone in the `v6` feature branch, these warnings have disappeared.

[2022-02-08 08:37] #399 closed

[2022-02-08 08:58] omarelb commented on #412
Hi Daniel! Things are going quite smoothly so far, but I'm stuck with one thing.

I've implemented the following:

- A custom 'dictation' action for the button left of the space bar. When the button is pressed, the keyboard extension's containing app is opened using `openURL` with the containing app's URL scheme.
- The containing app can record audio, make the transcription API call, and send the

[2022-02-08 10:40] danielsaidi opened #417 "Write more articles"
Add more articles to the documentation:

- [ ] Understanding callouts
- [ ] Understanding keyboard types

[2022-02-08 13:01] danielsaidi commented on #412
There must be some way to do this, but I'm not sure if you can somehow use the `activeAppBundleId` of the input controller and return to that one.

It would be interesting to inspect what is happening in SwiftKey when they manage to navigate back to the previous app.

[2022-02-08 13:03] omarelb commented on #412
That's a great idea. Do you know of a way to inspect what they're doing?

[2022-02-08 13:28] danielsaidi commented on #412
Not on the top of my head. I looked around quickly just now and it doesn't seem to be a way to open the last app, based on bundle ID.

Do you know if there's a way to just make the main app trigger on e.g. a background notification, in a way that the system itself handles opening and closing the app?

[2022-02-08 13:33] omarelb commented on #412
I don't know about that. So far I've read that the only way to bring an app to the foreground using a notification is with user interaction, but I haven't looked into background notifications yet. Thanks for the ideas though, I'll look into it some more!

[2022-02-08 15:27] danielsaidi commented on #412
That's a shame. Even if your app would get approved with this code in it, you'd still be forced to check that it works with every new version of iOS.

[2022-02-08 15:43] omarelb commented on #412
Yeah, definitely sucks. I think it's the best I can do for now though..

[2022-02-09 15:08] reazsumon opened #418 "Crash occurring on Keyboard Extension on Landscape Orientation"
* Run the Demo App's keyboard target (Keyboard Extension) on Safari.
* Or open Safari & Change Keyboard of KeyboardKit Locale
* Change keyboard with any locale.
* Now change orientation to Landscape.
* UI break occurs

Actually there was an crash

open func keyboardLayout(for context: KeyboardContext) -> KeyboardLayout {
    layoutProvider(for: context).keyboardLayout(for: context)
}

When changin

[2022-02-12 09:20] danielsaidi commented on #416
Hi @remotelxszk - sorry for the late reply! Looks good, just not sure if it's something that needs to be in the library :)

[2022-02-12 09:35] danielsaidi opened #419 "-[UIInputViewController needsInputModeSwitchKey] was called before a connection was established to the host application."
I am re-adding this issue since there are still problems with getting it to work, and I now have new information that I didn't have when I struggled with this in the past.

First of all, to get these printouts, you need to target the keyboard extension when debugging, not the parent app:

<img width="406" alt="image" src="https://user-images.githubusercontent.com/429927/153705826-2d6340d5-a780-4fd

[2022-02-12 10:12] danielsaidi commented on #418
I see the same crash, but only in Safari.

[2022-02-12 10:32] danielsaidi commented on #418
@reazsumon I have a solution for this problem, but would like some people to try it out.

Basically, syncing the context in `viewWillLayoutSubviews()` caused layout to change, which caused the function to be called again, which caused a new sync etc.

Removing the context sync in `viewWillLayoutSubviews()` seems to have solved the problem, so I am considering releasing a new `5.9.2` with this fix

[2022-02-13 20:58] danielsaidi commented on #418
I have released this fix in `5.9.2`, since I can't reproduce the bug in Safari now.

Just let me know if you're still experiencing problems and I'll look at it again.

[2022-02-13 20:58] #418 closed

[2022-02-13 20:59] #416 closed

[2022-02-15 12:27] danielsaidi opened #420 "Keyboard disappears when app is opened from iOS search"
I have a an app with a rich text editor. If I do the following:

- Start editing the text field
- Send app to background while editing
- Open iOS Spotlight by swiping down on home screen
- Open app from Spotlight

the keyboard shows for a short while, after which it becomes empty.

I see this error, but am not sure if it's related:

[code]

I can only reproduce this when opening the app from Spotl

[2022-02-15 13:17] danielsaidi commented on #420
I can reproduce this with Grammarly's keyboard, which means that it's something in iOS custom keyboard handling.

[2022-02-15 15:49] danielsaidi opened #421 "Layout fix in 5.9.2 makes iPad rotation fail"
5.9.2 removed the context sync in `viewWillLayoutSubviews`, since it caused the keyboard layout to get stuck in an infinite loop when rotating the device in Safari.

However, removing this caused other problems, for instance that the layout didn't update when rotating on iPad.

5.9.3 aims to solve this by adding a `viewDidLayoutSubviews` where it syncs the context ONLy if the orientation has chang

[2022-02-15 15:49] #421 closed

[2022-02-15 18:46] mrhaxic opened #422 "Memory leak KeyboardViewController duplicate instances"
It seems that the keyboard get duplicated for many instances, while debugging this what we get
Memory use reached 66 MB so it is crashed.

I missed something?

<img width="322" alt="Screen Shot 2022-02-15 at 9 45 06 PM" src="https://user-images.githubusercontent.com/11592785/154128242-a8bc965a-ebf0-4b07-aca3-93bd7184bb97.png">

[code]

[2022-02-15 19:05] danielsaidi commented on #422
Hi @mrhaxic

It's not a memory leak, but rather what it described in this issue: https://github.com/KeyboardKit/KeyboardKit/issues/419

`needsInputModeSwitchKey` is called every time the context is synced with the controller, and if you call it too early, this warning goes off. However, I haven't managed to find the proper time when you can call this without triggering the warning, and the solutio

[2022-02-15 19:05] #422 closed

[2022-02-17 15:29] bitigchi opened #423 "Secondary Action pop-up is clipped if there is nothing above"
Steps:
- Comment out the auto completion bar in demo keyboard
- Launch the app
- Invoke the secondary call-out pop-up for, let's say "e"

Expected:
- The pop up should be visible

Actual:
- It is clipped

[2022-02-17 15:34] bitigchi opened #424 "Secondary Action pop-up is clipped for the last and the first item of the row"
Steps:
- Launch the demo app
- Press and hold the first or the last letter of the row

Expected:
- Pop-up should display without any clippings

Actual:
- Side of the pop-up is out of screen bounds

[2022-02-18 15:05] danielsaidi commented on #423
Hi @bitigchi !

There is no way for keyboard extensions to have their views render outside the keyboard bounds. If you don't want the autocomplete toolbar above the keyboard, you either need 50 points padding or another view that is at least 50 points.

[2022-02-18 15:05] #423 closed

[2022-02-18 15:08] danielsaidi commented on #424
Hi @bitigchi

Although what you describe may be expected, the current design is a conscious choice to keep complexity down.

I will however gladly look at a PR that fixes this :)

[2022-03-10 07:02] andrewssdd opened #425 "KeyboardKit freezes in some apps"
In certain iphone apps, the keyboard shows up but is unresponsive to tap or any action. Running in debug shows the usual message below nonstop which seems to suggest it is in some kind of infinite loop.

I can reproduce using the Demo keyboard in master installing on a physical iphone 12. Apps that show this behavior:
- search field in BLB app
- chat field in wechat app

Any suggestion to troubles

[2022-03-10 09:10] danielsaidi commented on #425
Hi @ctawong

Thank you for the information. I have other reports about the keyboard freezing, but have not been able to replicate that on any of my devices nor in any simulator.

I will try it out in WeChat. What is the BLB app you mention?

To anyone else reading this issue, I am struggling with this problem, so any help would be greatly appreciated. I'll add a new "Help needed" tag to the issue.

[2022-03-10 09:12] danielsaidi commented on #424
Closing this due to inactivity.

[2022-03-10 09:12] #424 closed

[2022-03-10 09:12] danielsaidi commented on #419
To anyone else reading this issue, I am struggling with this problem and cannot seem to find a good approach, so any help would be greatly appreciated. I'll add a new "Help needed" tag to the issue.

[2022-03-10 11:35] ctawong commented on #425
Thanks for your reply.

BLB stands for blue letter bible. But the app's name is BLB.

On Thu, Mar 10, 2022 at 4:10 AM Daniel Saidi ***@***.***>
wrote:

[2022-03-10 11:58] danielsaidi commented on #425
I can‘t reproduce in BLB either :/ Can you record when such a freeze happens and upload it here?

[2022-03-10 12:57] ctawong commented on #425
Here you go. Initially with system keyboard, switched to KeyboardKit. Tapped on keyboard. Switch back to system keyboard.

https://user-images.githubusercontent.com/3319909/157666079-790d9945-8748-461f-bbcc-bee9fa352643.MOV

[2022-03-10 15:00] danielsaidi commented on #425
Thank you for the video! I unfortunately can't reproduce the freeze on any of my devices :| Do you have the possibility to do some debugging to see what is causing the thread lock?

[2022-03-12 18:20] mrhaxic opened #426 "KeyboardKit appearance issue on Snapchat"
I thought that I have a problem with my custom keyboard extension, I installed KeyboardKit and added its default keyboard. I run into same issue. While Snapchat appearance settings based on System appearance which is `dark` in my case but the keyboard still appeared in `light` appearance.

![IMG_6837](https://user-images.githubusercontent.com/11592785/158029961-8a1aba0d-be66-40a6-80dd-b5534d363fc0

[2022-03-12 20:28] ctawong commented on #425
A few screenshots when stopping the debugger during freeze.
<img width="1552" alt="Untitled" src="https://user-images.githubusercontent.com/3319909/158033919-3f91041c-09f5-4931-be14-9fb0e4705feb.png">
<img width="1552" alt="Untitled 2" src="https://user-images.githubusercontent.com/3319909/158033920-acefaa19-972c-4c20-a5b5-3e5f589f233a.png">
<img width="1552" alt="Untitled 3" src="https://user-ima

[2022-03-13 06:58] danielsaidi commented on #425
Thank you for the screenshots!

These doesn't tell me much, though, since they are just the effect and not the cause. Could you try placing breakpoints in the KeyboardInputViewController's various overridden lifecycle functions, of which I think one is probably called in a loop and causes the layout to be called over and over again.

This happens to another person as well, but never for me, so any

[2022-03-13 07:03] danielsaidi commented on #426
Hi @mrhaxic 👋

I can have a look, but it all depends on the information that KeyboardKit receives.

I previously struggled with a problem that appeared when editing a text field that applied a dark keyboard appearance while the system was in light mode. In these cases, iOS told the keyboard extension that the system was actually in dark mode, which made it impossible to determine which colors to a

[2022-03-13 17:38] mrhaxic commented on #426
Hi @danielsaidi ‒ I'll check and get back to you.

[2022-03-29 11:16] aramvr opened #428 "switching to native emoji keyboard if available"
This is not an issue but a generic question.
I wonder is there any way to switch to the native ios emoji keyboard when the emoji button is pressed? or it is an Apple limitation.

Native emoji keyboard has a bunch of advantages like search, the ios avatar thing, etc.

[2022-03-29 11:18] danielsaidi commented on #428
Hi,

Yeah, it's just an imitation.

You can create a custom action handler and handle the `.keyboardtype(.emojis)` action in any way you want. However, I'm not sure how to switch to the emoji keyboard.

[2022-04-08 12:24] danielsaidi opened #429 "KeyboardKit keyboard becomes unresponsive"
This is a really hard bug to replicate, so would appreciate some help with this. Note that it doesn't happen in the demo app, only in a certain client app, but if anyone can replicate it in the demo app, that would really help.

Sometimes, the keyboard becomes unresponsive. It still sends inputs to the document proxy, but only some callouts are displayed and the rest of the keyboard ui is more or

[2022-04-08 17:58] mrhaxic opened #430 "Add new introduced emojis in iOS 15.4"
Hi

Can we add the new introduced emojis in iOS 15.4 while we're importing KeyboardKit in the project? OR we have to wait for a new release?

[2022-04-10 04:49] ravi-solutelabs opened #431 "Any way to detect system's autocapitalization?"
I want to allow users the same control in my Application for the keyboard. How can I handle that in KeyboardKit?
BTW I'm using KeyboardKitPro if it makes any difference.
![Simulator Screen Shot - iPhone 8 Plus - 2022-04-10 at 10 14 48](https://user-images.githubusercontent.com/88034586/162601889-e960f773-8be6-42b1-9710-b24ceeeb1692.png)

[2022-04-11 02:54] ctawong commented on #425
@danielsaidi, the freeze issue seems to be resolved if I make the following changes in `KeyboardInputViewController.swift`
[code]

Don't seem to see any side effect in my test. Can you comment what the intended effect would be?

[2022-04-11 03:15] danielsaidi commented on #425
@ctawong with this code removed, what happens if you rotate device on iPad?

[2022-04-11 03:19] danielsaidi commented on #425
But I know that potential layout changing operations in will layout are dangerous. I’ve only had this there because It seemed to work well for me in multiple tests.

Perhaps the layout for different orientations are better handled by listening to the orientation change notification?

[2022-04-11 03:23] ctawong commented on #425
The keyboard is behaving alright on rotation.

[2022-04-11 04:04] danielsaidi commented on #425
And split screen? (Sorry I’m away from the computer for a few days so I can’t check).

[2022-04-11 04:06] ctawong commented on #425
You are right, sometimes button sizes are not correct after rotation.

Maybe a race condition. Changing to below seems to work....

[code]

[2022-04-11 07:14] danielsaidi commented on #425
Seems strange, since I already have an async wrapper in the context’s sync function:

![3B1856AE-F3A9-4129-8136-23B359EDF330](https://user-images.githubusercontent.com/429927/162684130-ba4ae667-81ea-4f3b-9446-f93df31b0b3f.png)

[2022-04-11 11:16] ctawong commented on #425
It was using 5.4.1 which didn't have it.

[2022-04-12 12:13] gbrooker opened #432 "Implement all UIReturnKeyType's"
The KeyboardAction.PrimaryType enum only supports a handful of return key types
`case done, go, newLine, ok, search`
(which is reflected in SystemKeyboardLayoutProvider)

while UIKits UIReturnKeyType, which could be specified in an app's UITextField, has many more.
`case default, go, google, join, next, route, search, send, yahoo, done, emergencyCall, continue`

As PrimaryType is an enum, it doesn

[2022-04-12 12:20] gbrooker opened #433 "How to add a key which emits multiple characters ?"
On the Apple standard Chinese Pinyin keyboard, there is a key which emits ^_^. I would like to do something similar.

In an InputProvider class I have used the ☺︎ character to represent the key, and in a KeyboardAppearance class I have given a different symbol for the key.

How do I intercept the action to enter ^_^ instead of ☺︎ ?

[2022-04-12 18:52] mrhaxic commented on #433
Hi @gbrooker
In the demo project, you'll find `DemoKeyboardActionHandler` to handle custom actions, for instance;

`    override func action(for gesture: KeyboardGesture, on action: KeyboardAction) -> KeyboardAction.GestureAction? {
        let standard = super.action(for: gesture, on: action)
        switch gesture {
        case .longPress: return longPressAction(for: action) ?? standard

[2022-04-14 01:23] ctawong commented on #425
Master was at 5.4.1 at the time I tested. I also tested the current master (6.0) and confirm that it does not freeze. However keyboard would randomly be removed with master and I did not see that with 5.4.1.  I think there's some change between the two versions may have caused that. For now I am sticking with 5.4.1 with the async change.

[2022-04-15 05:37] danielsaidi commented on #433
@gbrooker As @mrhaxic writes, a custom action handler is the way to go! Just inherit `StandardKeyboardActionHandler` and override the function shown above, or the `handleAction(...)` function if that's easier.

[2022-04-15 05:37] danielsaidi commented on #432
Good point, I'll look into this!

[2022-04-15 05:39] danielsaidi commented on #432
Good point, let's add all the native type. Until then, you can just inspect the proxy to get the real values.

It's a bit of a hassle to have this framework erasing layer between `KeyboardKit` and `UIKit`, but I think it's better than to have KeyboardKit rely on UIKit. In fact, I think I want to take it even further :)

[2022-04-15 05:40] danielsaidi commented on #431
Hi! I'm not sure if this is currently possible, but it sure should be!

[2022-04-15 05:45] danielsaidi commented on #430
Hi!

Yes, I'd like to add them, and was planning to, but would like to wait until we find a clean way to specify the executing platform.

For now (for convenience) emoji categories are listed in strings, which are then split up into characters. This means that we can't specify platform versions for the various new emojis, which means that some who run a KeyboardKit-based keyboard will see empty fi

[2022-04-15 05:46] #428 closed

[2022-04-15 05:54] danielsaidi opened #434 "KeyboardKit keyboards get randomly removed"
There is a previous bug for this, but I decided to open a new one to keep it clean.

iOS sometimes (and randomly) removes KeyboardKit-based keyboards from the list of keyboards. You then have to go into System Settings > Keyboards to re-add it. It's very random and very hard to reproduce, and I see nothing obvious that makes this to happen. I first assumed that this was an iOS bug, just like how y

[2022-04-15 05:57] danielsaidi opened #435 "Sync single context changes"
Today, the context gets synced with the input controller in one big sync function. This updates many observable properties, that most likely don't need syncing.

Instead, wouldn't it be better to just act on single events and sync that part of the proxy? For instance, we now listen for layout changes and sync the entire context. Shouldn't we instead listen for orientation changes and just sync the

[2022-04-15 06:09] danielsaidi commented on #425
@ctawong - great to hear that the async fix solves the problem, and thank you for all the information you have provided! I have another freezing problem in a client app, but that freeze doesn't happen in the master branch.

I have created a new issue to make smaller context changes (https://github.com/KeyboardKit/KeyboardKit/issues/435) and one (https://github.com/KeyboardKit/KeyboardKit/issues/43

[2022-04-15 19:11] mrhaxic commented on #430
Great, we will look into that to figure out a proper way. Thanks!

[2022-04-24 15:12] kyawzayyalintun-codigo opened #436 "Changing keyboard layout based on custom action"
I'm trying to change keyboard layout based on a custom action but the layout doesn't change. I don't even know if this is the correct way to change keyboard layout though. Please

I am trying to change the keyboard layout for a custom action called `shortcut`.
[code]

Here's my custom keyboard action handler
[code]

And I bind that action handler inside my KeyboardViewController

[code]

[2022-04-24 18:01] ctawong opened #437 "Changing a button text based on a state variable"
I need to change text of a button base on the state of a variable in my keyboard. The way I am thinking to do this is to override the `buttonText` function in Appearance class, like what the demo keyboard does. Where should I  put the state variable? The `KeyboardAppearance` class does not have access to the main `KeyboardViewController` instance.  The keyboard appearance has the type `KeyboardApp

[2022-04-24 22:51] mrhaxic commented on #437
Hi @ctawong

Is the variable you want to set is a `boolean` value? if yes, you can do so by setting a variable in `UserDefaults`

[2022-04-24 22:59] mrhaxic commented on #436
Hi @kyawzayyalintun-codigo

You can create a custom layout by changing the `keyboardContext.keyboardType` as you did, refer to `DemoKeyboardLayoutProvider` as a sample from the Demo project

[2022-04-25 01:48] kyawzayyalintun-codigo commented on #436
@mrhaxic ok, but, it didn't change my keyboard layout though. Which code am I missing? I inject my custom action handler inside my controller.

[2022-04-25 21:47] ctawong commented on #437
Thanks @mrhaxic. That's certainly one way to do it.  I just want to make sure I am not missing any existing mechanism.

Turned out I added reference to the `KeyboardViewController` instance through init. That seems overkill for reading one variable...

Looks like appearance is supposed to only rely on `context`. Wish we would be able to define a custom context.

[2022-04-26 11:55] danielsaidi commented on #437
You can subclass `StandardKeyboardAppearance` and inject your custom appearance as is done in the demo.

You can also create your own observable context and inject it into the view hierarchy if you want the views to automatically adapt depending on the value of the text.

Just because there is one single keyboard context doesn't mean you can't create your own contexts. You can leverage the full po

[2022-04-26 18:51] ctawong commented on #437
I like the idea of custom observable context. Thanks!

[2022-04-27 14:42] kyawzayyalintun-codigo commented on #436
Hello, I still have no luck in solving the above issue. Is there anyone experienced before?

[2022-04-27 15:43] kyawzayyalintun-codigo commented on #436
@danielsaidi yes, when I added

[code]

inside `RoCalloutActionProvider` which extends `BaseCalloutActionProvider` and it works correctly. It also work when changing keyboard appearance based on action type. Active breakpoint turns to an outline when app is run and break point marked inside `tryChangeKeyboardType(after:on:)`. So, the problem might be that callback method hasn't been called. I just

[2022-04-28 07:47] danielsaidi commented on #436
@kyawzayyalintun-codigo Hmmmm, I wonder if it's the fact that you do it in `tryChangeKeyboardType`, which is rather to change the keyboard type based on character input (e.g. typing ` should switch back to ABC).

If I remember correctly, that function may not always be called. It should probably be redesigned :D

Can you try overriding `handle(_ gesture: KeyboardGesture, on action: KeyboardAction)

[2022-04-28 09:10] kyawzayyalintun-codigo commented on #436
I changed my code as you above but I found that error.

[code]

[2022-04-30 09:11] kyawzayyalintun-codigo commented on #436
@danielsaidi It works. My apologies, the issue is on my side. I implemented `actionCharacters(for, context:)` func so that when `actions(for, context:)` is called, my custom `[[KeyboardActions]` are ready. It can't load my keyboard actions so behind the scene, it crashes with index out of bound exception.

[2022-04-30 09:11] #436 closed

[2022-05-04 08:47] danielsaidi commented on #436
Ah great to hear! Is everything working for you now?

[2022-05-07 04:09] AMJ-7 commented on #307
@DooMu  did you solve it? how convert fonts to Unicode?!!, please?

[2022-05-07 06:16] danielsaidi commented on #307
@AMJ-7 The demo us a Unicode keyboard. Does it help?

[2022-05-07 06:29] AMJ-7 commented on #307
Sorry but I can’t understood how to convert my custom font into unicode?

[2022-05-07 10:03] AMJ-7 commented on #307
ok, your example looks easy but how i can insert my new fonts stuff?!
[code]
but i have more +50 custom fonts looks like this:
<img width="853" alt="Screen Shot 2022-05-07 at 1 00 18 PM" src="https://user-images.githubusercontent.com/931567/167249436-597127b7-1096-4892-ae8d-5e10add0dffb.png">

how I can deal with it?, sorry I'm not familiar and I need instant help pls.

[2022-05-08 16:18] AMJ-7 commented on #307
ok I got it now, I must copy unicode characters from website like this: https://www.stylishtextgenerator.com/?m=1

so output:

[code]

[2022-05-20 10:16] sethcreate opened #438 "KeyboardKit as a inputView ?"
Hi @danielsaidi , Thanks for your amazing work firstly.
Here is my situation I want to create a custom keyboard only for my app, and build the custom keyboard based on KeyboardKit, is there a way to make KeyboardKit only  as a inputView instead of a keyboard extension.

Thanks,

[2022-05-20 10:19] danielsaidi commented on #438
Hi @sethcreate

Yes, thanks to some adjustments @danielpunkass made a while back, this should be possible.

I haven't used the library like that, though, so I have no concrete advice.

[2022-05-20 10:42] sethcreate commented on #438
Hi @danielsaidi , Thanks for your quick response, I found the contribution from @danielpunkass #374 , and will investigate it.

Have a nice day.

[2022-05-22 14:37] sethcreate commented on #438
@danielsaidi When I try to assign  the KeyboardInputViewController to my textfield.inputViewViewController, it said the property is read only, anything wrong here ?

@danielpunkass It would be great if you could comment here, I have the same sistuation as you, basically that is I want to use keyboardkit only for one of my textfield. Thanks in advance.

[2022-05-22 21:55] danielpunkass commented on #438
@sethcreate It's been a while since I looked at this because I was eager to integrate KeyboardKit into my app but then ran into problems with iOS that made it less appealing to me. Basically shortcomings in the frameworks/system that don't allow inputView to operate as robustly as proper keyboards do.

I don't have a lot of the details at the top of my mind, but I think the "readonly" situation yo

[2022-05-24 02:29] sethcreate commented on #438
Thanks @danielpunkass

[2022-05-24 02:29] #438 closed

[2022-05-27 14:46] danielsaidi commented on #438
Thanks @danielpunkass 🙏

[2022-05-28 15:47] sethcreate commented on #438
Hi @danielsaidi ,
I hope you're doing well,  I have another new issue, when I wrapper a `UITextField` via `UIViewRepresentable`, then I could assign a inputViewController , however when the TextField got focused, the keyboard didn't show, below is the code snippet:

[code]

I also tried another way to assign a UIKit view to the  `inputView` property instead of the `inputViewController`, which coul

[2022-05-28 15:48] danielsaidi commented on #438
Hi! I haven't used the `inputViewController` approach, so I can't help you out here, unfortunately. The library contains a few text field wrappers, so you could perhaps have a look at them?

[2022-05-30 18:19] rawandahmad698 opened #439 "Incorrect character in the Sorani language keyboard."
The current Sorani keyboard contains an alphabet (IPA æ, ɐ) that is an essential alphabet for religious words, especially (Allah, peace be upon him)

This is an important alphabet for writers, believers, and everyday phone users, people would see this as a seen if they couldn't write Allah properly. But the current keyboard produces such.

To reproduce:
Setup a Sorani keyboard and write the name o

[2022-05-30 19:46] rawandahmad698 commented on #439
Update, as a workaround for shipped apps, you can override the action handler:
`    // MARK: - Overrides
    override func action(for gesture: KeyboardGesture, on action: KeyboardAction) -> KeyboardAction.GestureAction? {
        let standard = super.action(for: gesture, on: action)
        switch gesture {
        case .longPress: return longPressAction(for: action) ?? standard
        case .tap:

[2022-05-31 07:17] danielsaidi commented on #439
Thank you so much @rawandahmad698 for pointing this out!

Just to be clear, am I correct in interpreting this as that the keyboard _looks_ correct, but that this key should instead insert "ه" when pressed?

If I change the standard action handler with the code you provided, would this fix the keyboard so that it's completely  correct?

[2022-05-31 07:19] rawandahmad698 commented on #439
Yep, current, looks right, but when pressed should insert the mentioned character, the current code i provided fixes the issue (but only in my keyboard) -- I'd like to have this fixed globally, along with the Riyal Character I mentioned on Twitter.

[2022-05-31 07:27] danielsaidi commented on #439
Perfect, I'll add this and change the currency character 👍

[2022-05-31 07:30] rawandahmad698 commented on #439
Awesome, will close the issue and mark as fixed whenever I get a chance to test it out.

[2022-05-31 07:34] danielsaidi commented on #439
The input fix will be done in KeyboardKit, while the Riyal fix will be done in KeyboardKit Pro 👍

[2022-06-04 14:11] rawandahmad698 opened #440 "Support for alternate layouts per locale"
iOS' system keyboard provides a list of layouts prepared for users. ![image](https://user-images.githubusercontent.com/19406683/172005144-fca6c5f9-4676-447c-8d51-28b114e82f71.jpeg)

It'd be nice for KeyboardKit to support layout creations of a language. This is very important because keyboards take time getting used to, and qwerty is mostly common on PC's.

Let's make this happen together.

[2022-06-04 14:56] danielsaidi commented on #440
This is something that I've been considering for some time. I just don't know how it's best added, since it's not going to be a new locale, but something different.

[2022-06-09 09:02] rawandahmad698 opened #441 "Snapchat Appearance bug"
As reported in [#426](https://github.com/KeyboardKit/KeyboardKit/issues/426), The Snapchat theme bug still exists, during my run, the logs from the keyboard extension indicated that `hasDarkColorScheme` was false whereas the App, and System was in Dark Mode, to clarify: This only happens on Snapchat, everything else is ok!

[code]

I'm happy to provide more logs and information on this.

[2022-06-12 16:14] haxinc commented on #441
Hi @rawandahmad698
I encountered into this issue in Microsoft Teams application too.

[2022-06-13 06:33] danielsaidi commented on #441
@rawandahmad698 Could you post screenshots of the native keyboard as well as the KK keyboard in Snapchat?

[2022-06-21 21:12] #437 closed

[2022-06-21 21:14] danielsaidi commented on #431
@ravi-solutelabs Shouldn't this change affect the text view, which in turn would update the information that is passed to the keyboard extension?

[2022-06-21 21:22] rawandahmad698 commented on #441
Will do.

[2022-06-22 20:08] rawandahmad698 opened #443 "Slow LongGesture on Keyboard Buttons"
The keyboard buttons react slow to long gestures, unlike iOS' default values.

I have opened a  PR that modifies minimumDuration and maximumdDistance:
[Pull Request](https://github.com/KeyboardKit/KeyboardKit/pull/442)

[2022-06-23 20:08] danielsaidi commented on #443
Nice catch! I've tested and think the values should be updated. I've commented on the PR 👍

[2022-06-23 20:13] danielsaidi commented on #432
@gbrooker I started looking at this. One problem is that every new primary button type must be given a localized text, which involves 50+ localizations for each button.

I think it'll be a good addition though, so I'm aiming to implement it in a 6.1.

[2022-06-23 20:18] danielsaidi commented on #432
If you want to help out with this, these are buttons that need to be implemented and localized:

- [] google
- [] join
- [] next
- [] route
- [] send
- [] emergencyCall
- [] continue
- [] custom

[2022-06-27 11:43] danielsaidi commented on #443
This has been fixed in **6.0.3**.

[2022-06-27 11:43] #443 closed

[2022-06-27 11:44] danielsaidi commented on #431
I actually think reading the proxy configuration is the way to go. Closing this.

[2022-06-27 11:44] #431 closed

[2022-06-27 11:45] danielsaidi commented on #429
This was fixed in **6.0**.

[2022-06-27 11:45] #429 closed

[2022-06-27 11:46] danielsaidi commented on #441
Duplicate of #426

[2022-06-27 11:46] #441 closed

[2022-06-27 11:47] danielsaidi commented on #420
This was fixed in **6.0**.

[2022-06-27 11:47] #420 closed

[2022-06-27 11:48] danielsaidi commented on #380
Closing this until the community requires it.

[2022-06-27 11:48] #380 closed

[2022-07-13 11:06] doubleo2 opened #444 "Strange autocomplete behavior"
This is an odd one that I haven't been able to narrow down, but I'm creating an issue in case you have any ideas before I can find the root cause.

On a real device, I'm seeing autocomplete suggestions that are improperly capitalized. For example, if I type "This is a..." the suggestion will be "A" and the suggestion is highlighted so tapping space results in "This is A ". This behavior is consist

[2022-07-13 17:42] danielsaidi commented on #444
Hi @doubleo2

The suggestions depend on the autocomplete provider. What provider do you use?

Best

Daniel

[2022-07-13 17:43] danielsaidi commented on #444
Hi @doubleo2! The autocomplete suggestions depend on the autocomplete provider. What provider do you use?

[2022-07-14 21:51] traffordev opened #445 "Case changing and digits-switcher are not working"
Hello, I wanted to test how SystemKeyboard will work from scratch and found out that there is something from with 123 and ⬆️ buttons. Nothing changes on keyboard when I press them.
KeyboardKit v 6.0.3, was reproduced on ios 15

[code]
Preview recording of the following unexpected behaviour (reproduced on a simulator and real device as well)

https://user-images.githubusercontent.com/109034783/1790

[2022-07-14 22:27] danielsaidi commented on #445
Hi!

This is a thing that I hope to fix soon, but if you look at the demo keyboard, it uses a demo-app specific `KeyboardView` that looks like this:

[code]

If you have a look at the comment, it basically says that if you remove the context environment object (simply by commenting it out), the system keyboard will stop working.

In your case, you need to create an app-specific view that observes

[2022-07-14 22:31] danielsaidi commented on #444
Ah, I see!  In this case, you will get what the OS think you should get, based on the local iOS lexicon and word prediction, the selected locale and the user's own words.

However, I'm sure the standard engine can be tweaked, so I will keep this issue around and take a look at it. Until a fix is in place, you could create a custom provider, have it use the standard provider and adjust any result y

[2022-07-14 22:40] traffordev commented on #445
Oh, my bad, didn't pay attention on the comment above the struct! Thanks for such rapid feedback ✅

[2022-07-15 09:41] doubleo2 commented on #444
This still feels like a bug. The original reporter (US English) and I (UK English) have two strangely capitalized suggestions in common - "In" and "The" - and I can't think of a reasonable explanation for why the suggestion should be capitalized given that the lowercase keyboard layout is active.

Seems odd that the system default keyboard wouldn't show the same suggestions if it draws from the sa

[2022-07-17 02:00] khashashin opened #446 "Keyboard does not appear"
Hi, I'm new to Swift (ios) development. My Target is to create custom system wide keyboard using some unicode characters such as: Ç̇, Ċ, Ä, Ə, Ġ and so on. There are 40 Letters in the alphabet. I tried to figure out the Demo application for Unicode and wrote following in my App:

[code]
---
[code]

But after successful Build and starting the applikation in  iPhone 11 Simulation I don't see the key

[2022-07-17 14:01] traffordev opened #447 "Change keyboard output's font"
I have a custom font for my keyboard, which I modified using `StandardKeyboardAppearance`. But I didn't find out how to make output text from my keyboard follow the same font. Is it possible with **KeyboardKit**?
@danielsaidi 🙏🏻

[2022-07-17 16:24] danielsaidi commented on #447
A custom keyboard produces plain text, without any additional information such as fonts. It's up to the receiver to determine what to do with the text, how to present it etc.

[2022-07-17 16:25] #447 closed

[2022-07-17 16:28] danielsaidi commented on #446
Hi @khashashin!

I'm not sure why the keyboard doesn't show up, but one thing you currently have to do, is to wrap the system keyboard in a custom view, so that you can create an `@EnvironmentObject` binding to the keyboard context.

You should not have to do this, but have a look at the demo app keyboard and see my comment there. I will try to improve this in future versions of the library.

[2022-07-17 19:31] traffordev commented on #447
Is it possible somehow to use attributed strings to initialise rows?

[2022-07-18 12:52] khashashin commented on #446
thanks for the reply. I've wrapped the system keyboard in @EnvironmentObject as you suggested.
However it still does not show the keyboard.

I had a lot of errors when I tried to build the project and to resolve them I've changed `Build Active architecture only` to yes in debug.
<img width="712" alt="image" src="https://user-images.githubusercontent.com/17837758/179514778-ba23667b-0277-4185-a19d-f

[2022-07-18 12:53] khashashin commented on #446
And also this in errors window:

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/17837758/179515415-40ad77e8-472a-4a17-b090-acefc0048562.png">

[2022-07-19 08:02] htnha opened #448 "Add a TextEditor to keyboard layout"
Hi, Thanks for your amazing work.

Here is my situation I want to create a custom keyboard layout with a TextEditor added like FontMaker app on the App Store. How can I should do to make it happen?

![IMG_4537](https://user-images.githubusercontent.com/8880518/179698882-33438f06-06f2-4f30-8782-d94ab36e1676.jpg)

Thanks,

[2022-07-21 11:50] NightBlaze opened #449 "Slide/Swipe to type"
Is there any functionality for swipe to type? It mentioned ~2 years ago in the issue https://github.com/KeyboardKit/KeyboardKit/issues/73 that the feature should be implemented.

[2022-07-22 11:43] danielsaidi commented on #449
Hi @NightBlaze

It's not yet implemented, as it first needs a completely reimplemented gesture engine, then also need an engine to make sense of the character sequence.

[2022-07-22 11:45] danielsaidi commented on #448
Hi @htnha!

There are two text views that you can use for this - `KeyboardTextField` and `KeyboardTextView`.

[2022-07-22 13:49] danielsaidi commented on #446
Hmmmm, you shouldn't have to fiddle with the build settings to get this to work. Can you compare your app with the demo app and find anything that differs, besides build settings?

[2022-07-22 13:51] danielsaidi commented on #447
You mean rows on the keyboard? You can use both input sets and entirely custom layouts to change the keyboard keys. You can use a custom input set provider to change the input keys and a custom keyboard layout provider to change any key.

I really don't see how attributed strings could be of use here, but I'd love to hear your thoughts.

[2022-07-22 14:08] htnha commented on #448
Thank you!
And how can I add the Copy Button and the Question Button like that?

[2022-07-22 15:14] khashashin commented on #446
It was my mistake. I have chosen the wrong target during KeyboardKit installation

[2022-07-22 15:14] #446 closed

[2022-07-22 20:03] danielsaidi commented on #448
These are just regular views, so just add them above the keyboard with a `VStack` or something like that. You can have a look at the demo's autocomplete toolbar. 👍

[2022-07-22 20:08] danielsaidi commented on #444
I will take a look and see if I find anything that can be tweaked.

Please post any additional information that you feel can help, for instance device and keyboard language, the content of your device's lexicon, shortcuts etc.

[2022-07-23 00:32] htnha commented on #448
How can I make the KeyboardTextView focused when the keyboard is active?

[2022-07-23 03:46] danielsaidi commented on #448
Have you tried with the views I linked to? They modify the library to become the text document proxy when they get focus, so all input will go to them.

If you mean that only they should be able to get input, then I'm not sure if it's possible.

[2022-07-23 04:58] htnha commented on #448
I mean the latter one. How can I get the KeyboardTextView focused programmatically when the keyboard is active?

[2022-07-23 06:13] danielsaidi commented on #448
I think you’ll have to either two with the SwiftUI focus modifiers or do some UIKit hacks to enforce focus, but I think it’ll be considered bad practice to have a keyboard force focus from the text field that triggers the keyboard to show.

[2022-07-25 15:48] pisethx commented on #75
@danielsaidi how to enable scrolling on the suggestion bar? I could not find any info on how to use it. Thanks!

[2022-07-26 01:08] pisethx opened #450 "Space added after selecting suggestion on autocomplete toolbar"
Is there an option to not insert space after each word? This might be an expected behavior for English language. But for other languages, spaces are not required after every words.

Thank you!

[2022-07-31 21:16] danielsaidi commented on #75
You just have to wrap it in a horizontal `ScrollView`. Note, though, that you may have to change the suggestion item view sizes, since adding them to the scroll view may cause them to collapse.

[2022-07-31 21:21] danielsaidi commented on #450
You can change the keyboard and autocomplete behavior as you see fit, but I'm afraid that this is not yet configurable. The space insertion is handled in `UITextDocumentProxy+Autocomplete`, so if you give me some more context about where a space should not be inserted, we could plan to make this configurable as well.

[2022-08-01 01:13] pisethx commented on #450
The issue I have is similar to #54 so following his solution works

[2022-08-01 08:12] danielsaidi commented on #450
That's great - good luck!

[2022-08-01 08:12] #450 closed

[2022-08-04 05:05] martinMcflurry opened #451 "Cocoapods supports in 6.0"
Hi @danielsaidi  thank you for the awesome library!
I want to ask wether if cocoapods is supported in 6.0.x? because it gave me this kind layout

![simulator_screenshot_3F72F3CF-2AEB-4233-86B2-56484348625D](https://user-images.githubusercontent.com/100903221/182766965-4900abb8-652f-457e-937e-6f892c76c134.png)

The font is not visible unless you tries to press a button and it will show to a callout

[2022-08-04 06:19] danielsaidi commented on #451
Hi @martinMcflurry - thanks for the kind words!

Hmmm....KeyboardKit should still support CocoaPods, but perhaps something has broken 🤔

I will investigate, but until I have the time, you could try to replace the local SPM package with CocoaPods in the demo project and see if the same problem arise there.

[2022-08-05 12:23] doubleo2 commented on #444
How can I get the content of my device lexicon and/or shortcuts? If by lexicon you mean the user dictionary, I already reset that to no avail. I'd be happy to verify that it's empty if you tell me how to dump its contents.

When I go to `General > Keyboard > Text Replacement`, I have the default "omw => On my way!" replacement plus two custom replacements "&disapproval; => ಠ_ಠ" and "&shrug; => ¯\\

[2022-08-05 13:14] danielsaidi commented on #444
Thank you for the extra information! Strange indeed. I'll take a look.

[2022-08-08 13:47] doubleo2 commented on #444
Ok, I think I've got it. The two most notable (and frustrating) suggestions I see are "The" and "A". Those suggestions appear to be coming from company names in my contacts.

On my dev device which has no contacts I created a new contact with dummy data to identify which fields iOS adds to the lexicon and I've bolded them below

- Prefix
- **First Name**
- **Middle Name**
- **Last Name**
- [Phonet

[2022-08-08 14:13] danielsaidi commented on #444
This is a great find @doubleo2! I remember reading/hearing about a related situation a while ago, where a certain contact started adding some really strange autocomplete suggestions to a bunch of people, but I don't remember where it was.

So, what do you think would be a nice way to work around this limitation? Doesn't this also affect the native autocomplete suggestions?

I guess the standard au

[2022-08-08 14:15] danielsaidi opened #452 "Make the standard autocomplete suggestion provider predictive"
A great feature would be to make the current standard autocomplete suggestion engine predictive, so that it could behave more like the autocomplete engine in the native keyboards.

Read more here:
https://developer.apple.com/forums/thread/47354

[2022-08-09 08:40] doubleo2 commented on #444
Keeping a list of words that behave differently sounds like a maintenance nightmare. Plus you'd need a separate list for each locale.

Would it be possible to always match the casing of the first letter of the word? Assuming the names "ACME" and "iOS" are saved to Contacts, it would behave as follows

- "acme" -> "acme" - First letter doesn't match so coerce entire word to lowercase
- "Acme" -> "A

[2022-08-10 09:37] doubleo2 commented on #444
No, the native iOS keyboard seems to follow the typed casing.

When I add a contact named Vrjp McFdlz the iOS keyboard makes the following suggestions

- vrj -> "vrj" | vrjp | vrjp's
- Vrj -> "Vrj" | Vrjp | Vrjp's
- VR -> "VR" | VRJP
- mc -> "mc" | mcfdlz | mcfdlz's
- Mc -> "Mc" | Mcfdlz | Mcfdlz's
- MC -> "MC" | MCFDLZ
- McF -> "McF"

I was surprised by the last one because the typed casing exact

[2022-08-10 09:41] danielsaidi commented on #444
Yeah, it seems like the logic is as you say. However, if there's an exact match for the exact casing, I think the suggestion should be presented as is.

I could add this logic to the standard autocomplete engine 👍

[2022-08-20 21:04] atgctg opened #453 "Getting async autocomplete suggestion from the server"
Swift noob here — I'm trying to extend the Demo app by making requests to the server in `FakeAutocompleteProvider`. After bypassing closure errors by adding `@escaping` to `completion` the app crashes during runtime.

[code]

How can I make this work?

[2022-08-21 07:06] danielsaidi commented on #453
Hi @atgctg! You should get some information in the crash. I see that you are force unwrapping optionals with `!`, which is not good Swift practices, since it will crash your app if the thing you're trying to unwrap is `nil`. My bet is that's what's behind the crash.

[2022-08-21 08:54] atgctg commented on #453
Thanks for the reply @danielsaidi!

Looks like the unwrapping isn't the only issue. Managed to produce an error message even if the response handling is commented out:
[code]

Console:

[code]

Probably the last one is the one causing issues. Going to rewrite the network request part, maybe that will help.

[2022-08-21 08:55] danielsaidi commented on #444
I have added a case adjustment to the autocomplete engine, which should adjust the casing closer to the input text. Let's try it out in `6.1` and see if it gives you better results.

When I investigated this, it seems like company names and terms that are added to contacts only affect the locale of the device. When I added "ACME" to a contact, the native Swedish keyboard sometimes autocompletes to

[2022-08-21 08:58] danielsaidi commented on #453
Ah ok, seems like you should call the completion on the main thread. However, I think the library should do so when updating the context.

Until I've fixed this, you can call the completion on the main thread.

Thanks for letting me know about this!

[2022-08-21 09:39] #448 closed

[2022-08-21 09:41] danielsaidi commented on #440
I've given this some thought, and I think alternate layouts would for now require adding a layout type to each locale that should support multiple layouts.

So, for the English locales, we'd have an `EnglishKeyboardLayoutType` enum with the cases `.qwerty`, `.azerty`, `.qwertz` etc. and have the layout provider return the correct alphabetical input set.

[2022-08-21 09:46] danielsaidi opened #454 "Make SwiftUI previews work without preview mode"
The current KeyboardKit preview mode is a way to make KeyboardKit previews work in other bundles, since SwiftUI previews don't support fetching assets from other packages by default.

There is however [another way](https://danielsaidi.com/blog/2022/06/01/making-swift-package-assets-work-in-swiftui-previews) to solve this, that would let us remove the preview mode altogether and that would make ext

[2022-08-21 11:01] danielsaidi commented on #454
This will be available in `6.1`.

[2022-08-21 11:01] #454 closed

[2022-08-21 11:18] danielsaidi commented on #453
I have adjusted the library so that the keyboard input controller updates the autocomplete context asynchronously on the main queue. I have also added a `lastError` property to make it easier to investigate autocomplete errors.

This will be available in the `6.1` release.

[2022-08-21 11:18] #453 closed

[2022-08-21 11:19] danielsaidi commented on #444
I'm closing this for now, since the 6.1 update should fix it. Feel free to reopen it if you think the update doesn't solve the problem in a satisfying way.

[2022-08-21 11:19] atgctg commented on #453
Great, thanks!

[2022-08-21 12:42] danielsaidi commented on #451
Hi again @martinMcflurry ,

Could you please check if this still happens in `6.1`? I have adjusted the asset and bundle handling, so that both SPM and CocoaPods should work the same way.

[2022-08-21 12:42] #451 closed

[2022-08-21 12:42] danielsaidi commented on #445
@traffordev I will fix this in the next minor version.

[2022-08-21 12:43] danielsaidi commented on #452
I will look into this in the next major update.

[2022-08-21 12:43] danielsaidi commented on #440
I will look into this in the next minor version.

[2022-08-21 15:03] DanMotataeanu commented on #281
@danielsaidi - tried this with a real device, and also used some other code found on [SO](https://stackoverflow.com/questions/37955259/get-the-current-text-inside-of-a-textfield-for-ios-custom-keyboard).
I'm dispatching it on global queue and seems that with 0.01 sleep interval it doesn't work. Tried with other values, but only 0.035 seems to be the minimum working and I see the caret jumping a lo

[2022-08-22 06:57] doubleo2 commented on #444
Unfortunately, the behavior of KeyboardKit Pro 6.1 is unchanged. With a contact named "George Best" who works at "Said IT", when I type "George said it best!", I get "George Said IT Best!"

I uninstalled the app from my phone, cleaned the build cache, and ran it again, but no change.

[2022-08-22 07:45] danielsaidi commented on #444
Ah, I seem to have overlooked case adjustments for lowercase.

This is the behavior of the old version:

<img width="423" alt="Screen Shot 2022-08-22 at 09 39 58" src="https://user-images.githubusercontent.com/429927/185866364-ccc1b7b6-0366-474a-adf1-5a00dd5ad7eb.png">

While this is the behavior of the new:

<img width="416" alt="Screen Shot 2022-08-22 at 09 40 11" src="https://user-images.github

[2022-08-22 08:03] doubleo2 commented on #444
I don't think it's a good idea to treat single characters differently. In my experience, the stock keyboard does not correct "i" to "I" (and neither does KK 6.0 or 6.1) so I wouldn't change it now. Consider the case where you have a contact who works for "Make A Wish". I'm sure there are other edge cases too where the cost of erroneous corrections outweighs the benefit of correcting "i".

[2022-08-22 08:06] rawandahmad698 commented on #440
Thank you for your consideration on this :)

[2022-08-22 08:13] danielsaidi commented on #444
I don't want to do it that way either, but the stock keyboard actually does upper-case I:
![IMG_CE260A1C62EC-1](https://user-images.githubusercontent.com/429927/185872543-44f23f96-fba1-428d-b366-bc90687b7daf.jpeg)

[2022-08-22 09:08] doubleo2 commented on #444
Sorry, you are right. I had auto-capitalize disabled on the stock keyboard.

I agree that not correcting "i" is annoying. However, given the choice between the keyboard not correcting a user error and inserting a new error, I'd choose the former every time.

Should we leave it as typed for now and create a separate issue for handling auto-capitalization? In that issue we can tackle all proper noun

[2022-08-22 15:59] danielsaidi commented on #281
Hi @DanMotataeanu! Grammarly are doing some amazing wizardry with many things, that I am yet to understand how they pull off 😅

Haven't looked into this yet, but am interested in any experiences you may have to make this happen.

[2022-08-23 05:56] danielsaidi commented on #444
@doubleo2 I'm really torn on how to best handle this, and actually consider the autocomplete of single words from the user's contacts to be an incorrect behavior on Apple's behalf. I really don't want autocomplete to not uppercase nouns. A better option would in my opinion be to make address book completions opt-in.

[2022-08-23 12:25] doubleo2 commented on #444
It's tough because it would be hard to argue that users don't type the names of their contacts. Most of the fields that are included in the lexicon are names.

When you say it would be better to made address book completions opt-in, do you mean you wish that were possible? I don't know how the auto-complete provider is implemented but from the docs

To me that sounds like you can't tell if a sugge

[2022-08-24 07:04] danielsaidi commented on #444
I will implement a new logic as suggested by @doubleo2 - hoping to release it shortly! This will however probably involve removing the case matching from the autocomplete provider and converting it to a String extension for those who need it.

[2022-08-25 07:56] danielsaidi commented on #444
I think we now have a release candidate for the improved standard autocomplete provider, with improved casing and some prediction support. We can improve it further in future patches and versions.

[2022-08-25 07:56] #444 closed

[2022-08-25 07:57] danielsaidi commented on #452
The standard KeyboardKit Pro autocomplete provider now has (limited) prediction capabilities.

This will be available in `6.2`.

[2022-08-25 07:57] #452 closed

[2022-08-26 06:27] danielsaidi commented on #445
This is a very, very strange, that I'm still struggling to understand.

Basically, the demo app's keyboard view looks like this:

[code]

However, if I remove the context property and the if block, the system keyboard stops working.

[code]

Still, if I create a wrapper view (which I tried to do within the library) that observes the context via an environment and wraps the view above, it doesn't h

[2022-08-26 07:34] danielsaidi commented on #430
This will be available in the upcoming `6.2`.

[2022-08-26 07:34] #430 closed

[2022-08-26 17:02] danielsaidi opened #455 "Replace readme files with documentation articles"
The readme documents should be replaced by linking to the documentation.

- [x] Getting Started
- [x] Actions
- [x] Appearance
- [x] Autocomplete
- [x] Callouts
- [x] Emojis
- [x] Extensions
- [x] External
- [x] Feedback
- [x] Gestures
- [x] Input-Sets
- [x] Keyboard-Layouts
- [x] Keyboard-Types
- [x] Localization
- [x] Previews
- [x] Proxy
- [x] RTL
- [x] Styles
- [x] Views

When one of these fil

[2022-08-26 21:22] danielsaidi commented on #440
I have implemented this in `6.2`.

A big new feature in `6.2`, is that we don't just have localized input set providers, such as `EnglishInputSetProvider`. Instead, the input set themselves will also be localized, which means that `AlphabeticInputSet`, `NumericInputSet` and `SymbolicInputSet` can be created with locale variants, for instance `AlphabeticInputSet.english`.

WIth this in place, I hav

[2022-08-26 21:22] #440 closed

[2022-08-26 23:15] danielsaidi commented on #449
Duplicate of #208 - closing.

[2022-08-26 23:16] #449 closed

[2022-08-31 02:00] doubleo2 opened #456 "Ignore single character suggestions from contacts"
Single character suggestions from contacts should be ignored because they are likely to cause more problems than they solve. At a minimum, the suggestion shouldn't be highlighted because there isn't enough context after typing one letter to know with any confidence what the user was trying to type.

**Steps to reproduce**

1. Create a contact for "Warren G. Harding"
2. Open a new note in Notes
3.

[2022-08-31 14:57] #378 closed

[2022-08-31 22:10] danielsaidi opened #457 "Support Dvorak"
KeyboardKit 6.1 added support for English QWERTY, AZERTY and QWERTZ.

We should also have support for Dvorak, but the layout is pretty different, so it takes a bit more work.

[2022-08-31 22:11] danielsaidi commented on #456
Good point - totally agree!

This will be implemented in the upcoming `6.3` release.

[2022-08-31 22:11] #456 closed

[2022-09-02 04:33] Rosata opened #458 "Making custom Local keyboard"
Dear support,
I would like to make a custom keyboard. I have two questions:
1- Can I use the KeyboardKit Pro version code for making it, or it is possible to use the KeyboardKit?
2- I tried to have an empty keyboard and put each buttons based on what I need, but I couldn't find a tutorial to do this. I appreciate if you guide me for that.

Thanks

[2022-09-02 07:17] danielsaidi opened #459 "Make the standard autocomplete provider remember user actions"
Make the standard autocomplete provider remember when the user taps an autocomplete suggestion or continues to type even if there is an autocompleting suggestion.

This means will make it possible to present better, personalized suggestions.

[2022-09-02 08:50] danielsaidi commented on #458
Hi @Rosata

The demo app has a "Custom" keyboard that shows you how to create a custom input set (the keyboard's input characters) as well as a custom layout.

I will also create a completely custom demo keyboard that doesn't use an input set or keyboard layout.

[2022-09-02 08:50] #458 closed

[2022-09-02 09:04] huangyake commented on #242
Hello,  After iOS 16.0 "_hostBundleID" = nil.   Do you have any other solutions? Looking forward to your reply. Thank you

[2022-09-02 10:25] danielsaidi commented on #242
I will look into it.

[2022-09-02 22:15] danielsaidi opened #460 "Create a platform-agnostic TextDocumentProxy protocol"
The `UITextDocumentProxy` is used in many places in the app, but everywhere it is used, we have to check `#if os(iOS) || os(tvOS)` since this type is not available in macOS or watchOS.

Instead, by introducing a platform-agnostic protocol that has the same functionality (or at least the functionality used in KeyboardKit), we can make a bunch of stuff available to all platforms.

Then, try to see i

[2022-09-04 11:36] Rosata opened #461 "How to remove some buttons"
First thanks for this amazing work.

1. I tried to use the custom, but I don't know how to start and I would like to remove the these two buttons in the image.
2. Also I don't know where and how to make the buttons close to the left and right border.
3. How can I add the numbers in the top?

Thanks again

<img src="https://user-images.githubusercontent.com/112678979/188311543-b78773f5-7fc8-4dd9-a5

[2022-09-07 02:40] Rosata opened #462 "Custom popup letters"
Dear Mr. Daniel,
Sorry I have asked you many questions.
I would like to know where can I find a way to customize the popup letters? As shown in the below image.
Thanks again
<img width="345" alt="Screenshot 2022-09-07 at 10 09 16 AM" src="https://user-images.githubusercontent.com/112678979/188776349-be09bb46-ff62-41ee-ab41-4471537b2f7b.png">

[2022-09-07 03:49] danielsaidi commented on #462
Hi @Rosata

No worries, happy to answer. :)

Generally, you can find a lot of information by reading the main README and having a look at the documentation and the demo projects, but I have yet to write an article about the callouts.

There are two types of callouts - input callouts (presented as you type) and action callouts (presented when you long press on a key with alternate actions). You can

[2022-09-07 03:49] #462 closed

[2022-09-07 03:54] danielsaidi commented on #461
Hi!

In the demo keyboard, the top space is actually an autocomplete toolbar. You can just remove it by changing the demo keyboard view, but be aware that action and input callouts will be cut off if you do.

The side actions are removed by creating a custom layout provider. You can have a look at the demo project, which registers a custom provider that adds a locale button if there are more than

[2022-09-07 03:54] #461 closed

[2022-09-08 10:58] marcinax opened #463 "Too many gestures are received by the action handler"
Hi,
I'd like to implement simple taps counting mechanism which increments counter each time a `SystemKeyboard` is touched. I was trying to use custom action handler based on `StandardKeyboardActionHandler` and I thought it is enough to just listen for press gestures like so:
[code]
but unfortunately, tap gesture behaves different for various kind of actions. For instance, when changing keyboard ty

[2022-09-08 11:03] danielsaidi commented on #463
Is a single gesture causing all these printouts? If so, that should be cleaned up. I also think that tap should probably be removed, since press and release should be enough.

However, until then, could you record a press, then set a flag to avoid more collections until a release for that action or another action is triggered?

[2022-09-08 11:16] marcinax commented on #463
Yes, exactly, this is a printout for a single gesture (tapping "123"/"ABC" button on keyboard).
The code is as follows:
[code]
It also prints two taps and releases for simple character tap:
[code]
However, when tapping emoji, there is only one print:
[code]

Seems that it's very nondeterministic and idea with waiting for `release` or other action might not be enough.

[2022-09-08 13:25] marcinax commented on #463
In my particular use case, where I only increment counter and I don't need any info about what kind of button has been tapped, I was able to make a workaround by creating a parent view for `KeyboardInputViewController`. It overrides point(inside:event:) in order to increment counter and pass touch events next to the subviews (keyboard). I don't use any `KeyboardActionHandler` for that.

[code]

[2022-09-14 06:31] danielsaidi opened #464 "Create a haptic feedback configuration that mimics iOS 16's haptic feedback"
With haptic feedback for the native keyboard coming to iOS 16, KeyboardKit should have a haptic configuration that aims to mimic the native haptic feedback.

[2022-09-19 13:36] nishinraj commented on #434
There seems to have a memory leak.

![Memory leak](https://user-images.githubusercontent.com/17058130/191024247-23affc8b-59b6-4bf8-b1bf-99e820d4fa4b.jpg)

Reference count keeps on increasing when switching between keyboard kit and iOS default emoji page (or default iOS keyboard).

Steps to reproduce:

- Debug keyboard scheme
- Open keyboard in some field
- Generate memory graph to see current refe

[2022-09-19 14:20] danielsaidi commented on #434
Thanks for finding this @nishinraj! These memory leaks are pretty nasty to resolve in the extension, but I'll see if I can find what's causing it. Any help is welcome.

[2022-09-20 11:54] MuhammadAhmad665 commented on #438
@sethcreate are you able to solve this problem I want to do the same thing and face the same problem.

[2022-09-20 16:05] sethcreate commented on #438
@MuhammadAhmad665 I changed to forked another library and updated the code to satisfy my requirements.

https://github.com/ian-mcdowell/InputAssistant

[2022-09-22 19:41] danielsaidi commented on #434
@nishinraj Have you found anything else regarding this? It's strange that the services are still used, but that the Keyboard view controller is deallocated.

[2022-09-22 20:08] danielsaidi commented on #434
@nishinraj I have found the cause of the memory leak.

If I add this to `KeyboardHostingController`:

[code]

I don't get any duplicate instances when switching between the demo keyboard and the native keyboards.

I will prepare a patch release with this fix.

[2022-09-22 21:29] danielsaidi commented on #242
Related discussion:
https://developer.apple.com/forums/thread/713712

[2022-09-22 21:49] danielsaidi commented on #242
I have investigated all available keys, and it seems to have been removed as a security measure, so I guess this is no longer possible.

I will deprecated `activeAppBundleId` in the next minor update and remove it in the next major version.

[2022-09-22 21:49] #242 closed

[2022-09-22 21:49] #434 closed

[2022-09-23 09:25] rawandahmad698 opened #465 "Kurdish PC Layout for KeyboardKit"
This is a different Kurdish layout based on the Arabic layout.
https://gist.github.com/rawandahmad698/032365b54c3157857bbb581856246136

Basically, copy the same AR keyboard layout.

Naming:
English: `Kurdish Sorani (PC Layout)`
Kurdish: `کوردی سۆرانی (ڕووکاری کۆمپیوتەر)`

Callouts:
https://gist.github.com/rawandahmad698/6fa23eb3bfe14b343aa4aa94526c9314

Also note, this applies to all kurdish varia

[2022-09-23 09:28] rawandahmad698 opened #466 "Callout fix for the new Kurdish Layout (Kurdish Arabic)"
Hi, We recently added a new Kurdish Layout called (Kurdish AR)
It's perfect, but requires a slight correction on the callouts. Here are the callouts on their respective buttons
https://gist.github.com/rawandahmad698/6fa23eb3bfe14b343aa4aa94526c9314

[2022-09-23 09:48] danielsaidi commented on #466
Hi @rawandahmad698

Are these the total numbers of callouts, or callouts that need to be corrected or added?

[2022-09-23 09:49] rawandahmad698 commented on #466
Hi, these are all of the callouts. Previous ones should be removed with this

[2022-09-23 09:49] danielsaidi commented on #465
@rawandahmad698 When you say "this applies to all kurdish variants of KK", do you mean that the handling should be identical on all keyboards, that is that the button symbol should be replaced with another one?

[2022-09-23 09:51] rawandahmad698 commented on #465
Yes, this button should appear as that character, but when tapped insert the other one. For every Kurdish Keyboard

[2022-09-23 10:03] rawandahmad698 commented on #465
Ikr, this is only used for the name of Allah in Kurdish and Arabic.

[2022-09-24 14:03] nrbrook opened #467 "Use KeyboardKit as custom inputView"
Your getting started guide says "Main apps can create KeyboardKit-based input controllers and use them for its text fields." but there appears to be no documentation for this.

I want to use KeyboardKit as a custom inputView/inputViewController on a text field in my App. I subclassed UITextField to make `inputViewController` readwrite, and assigned an instance of `KeyboardInputViewController`, but

[2022-10-01 11:15] danielsaidi commented on #465
@rawandahmad698 Does this PC locale have a real locale identifier?

[2022-10-01 11:53] rawandahmad698 commented on #465
It does not, It's inspired by the PC layout of Kurdish, and tweaked to be specific to mobile.

[2022-10-01 12:17] danielsaidi commented on #465
Ok, in that case you'll have to handle the display name for it in your own app, since the display name is currently the localized name for the raw locale.

[2022-10-01 12:23] rawandahmad698 commented on #465
@danielsaidi we can go with ckb-PC

[2022-10-01 12:34] danielsaidi commented on #465
I've confirmed that the locale gest the correct display name.

[2022-10-01 17:17] danielsaidi commented on #466
This will be fixed in `6.4`.

[2022-10-01 17:17] #466 closed

[2022-10-01 17:19] danielsaidi commented on #465
This will be added in `6.4`.

[2022-10-01 17:19] #465 closed

[2022-10-01 17:55] danielsaidi opened #468 "Can't create new CocoaPods versions"
CocoaPods fail to create new versions, due to errors resolving a watchOS device.

This seems to be due to something in CocoaPods:
https://github.com/CocoaPods/CocoaPods/issues/11558

Until this is fixed, either stay on KK 6.3.x or switch over to use Swift Package Manager.

[2022-10-01 20:30] danielsaidi commented on #467
Hi @nrbrook

I haven't got a demo of this, but it's discussed in this issue:
https://github.com/KeyboardKit/KeyboardKit/issues/438

I'll keep this issue around so that I remember to get around to it. If you make it work, I'd love to see some code on how you did it :)

[2022-10-01 20:46] danielsaidi opened #469 "Rewrite the gesture engine"
Today, KeyboardKit applies a set of gestures on each key in the keyboard, to make it possible to handle press, tap, release, long press etc.

Although this gesture setup is simple and convenient, it comes with a few major drawbacks:

* Having a gesture on each key makes typing a bit clunky and not as smooth as in the stock keyboards.
* It's not possible to press down on a key, swipe to another key

[2022-10-01 20:47] danielsaidi opened #470 "Make the layout able to return an action for a coordinate"
In order to rewrite the current gesture engine and replace the individual key gestures with a single set of keyboard gestures, the keyboard layout must first be able to return an action based on a certain coordinate.

[2022-10-01 21:06] nrbrook commented on #467
I figured it out - I used your example as a starting point, and then I just had to set the inputView of the first responder to the view of the keyboard vc and call reloadInputViews on the first responder. Here is my implementation (excluding setting the inputView property):

https://github.com/airturn/airturnreplacementkeyboard

thanks

[2022-10-02 12:04] rawandahmad698 opened #471 "Layout issues for 6.4"
Two suggestions and fixes for the next minor version.

1. For the Kurdish Layout (PC) caps-lock button should be removed
2. For Kurdish Layout (Arabic) it should be renamed to:

`کوردی سۆرانی (عەرەبی)`

[2022-10-02 12:06] rawandahmad698 commented on #469
This is good news, good luck!

[2022-10-02 15:01] danielsaidi commented on #471
- [ ] For the Kurdish Layout (PC) caps-lock button should be removed
- [ ] For Kurdish Layout (Arabic) it should be renamed to: (کوردی سۆرانی (عەرەبی

[2022-10-02 15:24] danielsaidi commented on #471
This will be released in `6.5`

[2022-10-02 15:24] #471 closed

[2022-10-02 15:25] danielsaidi commented on #14
I realized that I will have to plan this after the new gesture engine is done.

[2022-10-02 15:25] danielsaidi commented on #469
I realized that I will probably have to add other things to the library before this, so it will be in a later minor version instead of the next one.

[2022-10-02 15:35] danielsaidi commented on #470
This will require that the system keyboard components lock the size of the button views, which today can be customized. Otherwise, it will be possible to generate a system keyboard that doesn't honor the widths that are specified in the keyboard layout, which will make the coordinate-based approach fail.

[2022-10-02 15:38] danielsaidi commented on #470
This has to wait a little, since it requires that the system keyboard components enforces the key sizes that are specified in the layout. This can be customized today, which means that it's possible to generate a physical layout that differs from the model, which will make the keys not map properly to the underlying coordinates.

[2022-10-02 16:05] danielsaidi opened #472 "Memory leak when switching apps"
There seems to be a memory leak when using KeyboardKit and changing apps.

I added a fix for a `deinit` memory leak when changing keyboards, but this memory leak occurs when switching apps.

The following information was provided by a user:

---

I tried the latest master but the issue seems to persist.
Here is the memory graph screenshot after opening the keyboard a couple of times.
It's always r

[2022-10-04 08:05] danielsaidi opened #473 "Remove Quick and Nimble"
All tests should be rewritten in XCTests instead of Quick and Nimble, to remove as many external dependencies as possible.

This is a big change, so it will need to be done over a long period of time, whenever there's time. I'll rewrite one class at a time, until it's done. Any help is welcome.

[2022-10-04 12:52] danielsaidi commented on #471
I released this as a `6.4.1` instead of a new minor 👍

[2022-10-08 22:10] danielsaidi opened #474 "Record a new demo video"
The repository gif animation is pretty old and doesn't show much of the great functionality, such as multi-locale support, appearance and styling, autocomplete etc.

Record a new video and upload it to the repository.

[2022-10-08 22:10] danielsaidi opened #475 "Add more demo keyboards"
A couple of more demo keyboards that I'd like to have:

- [ ] A keyboard that lets you toggle styles.
- [ ] A keyboard with completely custom content, that just calls the action handler, feedback engine etc.
- [ ] A Pro keyboard that lets you read all the text in a document.

[2022-10-16 07:43] alws34 opened #476 "Add support for Hebrew"
Hi!
would you be able to add hebrew language support?
i can help translating whatever is needed.
e.g the localizable.string:

"locale" = "he_IL";

"done" = "סיים";
"go" = "המשך";
"ok" = "OK";
"return" = "חזור";
"search" = "חפש";
"space" = "רווח";

"keyboardTypeAlphabetic" = "אבג";
"keyboardTypeNumeric" = "123";
"keyboardTypeSymbolic" = "#+=";

[2022-10-17 11:56] danielsaidi opened #477 "KeyboardKit Pro license improvements"
KeyboardKit Pro should use LicenseKit to remove some license complexities from the framework.

This will also open up the possibility to allow Gumroad licenses to be immediately used for development, removing the time you currently have to wait for a new version to be released.

[2022-10-18 06:56] danielsaidi commented on #476
Hi @alws34

It would be great to add support for Hebrew. I'll look into it.

[2022-10-21 08:04] jim075960758 opened #478 "Support floating keyboard on iPad"
# Problem
When I try the demo on iPad  simulator, I find the keyboard layout is weird in floating mode.

# Environment
 iPad Pro (11-inch) (3rd generation) simulator

# Version
branch: master
commit: 038721a

# Screenshot
![screenshot](https://user-images.githubusercontent.com/108001880/197145236-4a3655e4-b536-4f90-85a7-3e8c214e484e.jpg)

[2022-10-21 08:15] danielsaidi commented on #478
Hi @jim075960758

Thanks, I haven't seen this before, but I'll take a look!

[2022-10-21 09:53] nrbrook opened #479 "Locale button is not working when a keyboard is used as an input view"
The globe (next locale) button on iPad isn't working – it doesn't trigger the next locale, it makes the background white every 3rd press, and also long pressing and selecting a locale doesn't work. It works fine on iPhone (button labelled with the current locale) Testing with https://github.com/KeyboardKit/KeyboardKitPro/commit/9c195c2682c52a3e19b2a38cad262ea4b0daa3a8.

https://user-images.githubu

[2022-10-21 12:14] danielsaidi commented on #479
Thanks for letting me know @nrbrook - I will look into it!

This has worked since forever, so I wonder what can cause this.

[2022-10-22 06:46] danielsaidi commented on #479
Hi again,

I've given it a try now, using both the non-pro and the pro demos, and both work for me.

Here's a video of the pro demo, using both long press and tap:
https://user-images.githubusercontent.com/429927/197324732-7d578042-a552-42de-a6d5-bdb7f0093729.mov

Did you do any customizations or used the keyboard in a way that can help me reproduce the bug?

[2022-10-22 07:04] nrbrook commented on #479
I think it’s probably because I’m using it as an input view?

[2022-10-22 10:01] danielsaidi commented on #479
Yes, that's probably the case since the button tries to trigger a very specific action from the input controller, which I guess is missing when you use it as an input view.

If you send me the code you use to set it up as an input view, I'll try to reproduce the error with that setup. If it's not possible to switch keyboards in this state, you can always create a custom layout and simply remove th

[2022-10-22 11:04] nrbrook commented on #479
If you use this commit in our package: https://github.com/AirTurn/AirTurnReplacementKeyboard/commit/d2246b2b99997072486605eabde96a4d80cbd493

You can use it as follows:
[code]

Perhaps a solution would be to add a property to `KeyboardContext` like `var enableSystemNextKeyboardButton = true` and check the value in `SystemKeyboardActionButtonContent`:
[code]
Unless there is a way to determine if op

[2022-10-27 11:11] danielsaidi commented on #476
I'm happy to say that support for Hebrew is coming in KeyboardKit 6.5 🎉

[2022-10-27 11:11] #476 closed

[2022-10-28 06:48] danielsaidi commented on #460
Since `UITextDocumentProxy` is a protocol, I've had problems with creating this platform agnostic protocol, since the `UITextDocumentProxy` protocol can't be extended.

[2022-10-28 06:49] danielsaidi commented on #467
I'll keep this around until we've addressed the globe button issues that we've discussed, where the globe button doesn't do anything when the keyboard is used as an input view.

[2022-11-01 10:57] alobaili commented on #467
Here's a simple implementation I just used to add a Keyboard as a custom input view of a `UITextField`:
[code]

[2022-11-03 09:56] shenruisi commented on #478
I also encountered the same problem, is there a corresponding solution?
Thanks @danielsaidi

[2022-11-03 10:12] danielsaidi commented on #478
Hi @shenruisi

I haven't had a chance to look at this yet, but perhaps we need to apply a fixed width to the keyboard view when this happens, or force it to regard the iPad as an iPhone?

[2022-11-05 22:23] danielsaidi opened #481 "Autocomplete suggestions are applied when inserting text"
If you use an autocomplete provider that can return autocompleting suggestions, previously generated autocompleting suggestions will be applied if you insert text into the proxy, without typing on the keyboard.

To reproduce this bug, perform the following steps:

- Register a [KeyboardKit Pro](https://github.com/KeyboardKit/KeyboardKitPro) license to setup a standard autocomplete provider
- ...or

[2022-11-06 14:07] danielsaidi commented on #477
The license adjustments are live in `6.5`, which opens up for future improvements.

[2022-11-06 14:07] #477 closed

[2022-11-06 17:25] danielsaidi commented on #478
@jim075960758 @shenruisi

I rephrase this as a feature, that unfortunately will be a bit tricky to solve.

To handle this, we need to implement the following:

- [ ] Detect floating mode (is keyboard width < screen width enough?)
- [ ] Use another layout provider if we're in floating mode
- [ ] Use another input set if we're in floating mode
- [ ] Make all parts of the code that depends on `Device

[2022-11-06 17:30] danielsaidi commented on #281
This is available in KeyboardKit Pro `6.4.1`.

[2022-11-06 17:30] #281 closed

[2022-11-09 14:19] danielsaidi opened #482 "Add support for swipe to type"
After implementing the new gesture engine (https://github.com/KeyboardKit/KeyboardKit/issues/469) we should add a way to record all keys involved in a keyboard gesture, from press to release, as well as a way to convert that sequence into a suggestion that we can insert if it has enough probability.

Note that KeyboardKit will **NOT** include this service or whatever it will be. It will work almos

[2022-11-09 14:26] danielsaidi opened #483 "Add support for dynamic predictive typing-based button size"
Predictive type is the way Apple makes the tap area of each button bigger or smaller depending on the probability that the character is the next that the user intends to type.

KeyboardKit should have this feature too. It will be defined as a general protocol, which like the autocomplete engine is disabled by default. It will then have a standard implementation in KeyboardKit Pro.

Since this can

[2022-11-15 08:21] dinodev0101 opened #484 "Send Gif Images from Custom Keyboard to iMessage"
Hi, Daniel. Thanks for your great work first.
I've encountered some problems while using this kit.
I'm developing an iOS Keyboard Extension like Meme or Gif Keyboard. I implemented the layout like below.

![image](https://user-images.githubusercontent.com/117986510/201866316-cc7883b7-b54f-4734-b5e1-c25545457342.png)

If I click single image, then I need to compose message like iMessage app.
But I

[2022-11-15 08:28] danielsaidi commented on #484
Hi @dinodev0101

When I've built sticker keyboards, I've done it the Kim Kardashian way, where tapping a sticker copies it to the pasteboard and you then have to paste it manually into the text field. It was not a good experience and I've received a bunch of negative reviews for this, but I also think it's because we phrased the images as "custom emojis" which gave users the impression that they c

[2022-11-15 08:52] dinodev0101 commented on #484
Thanks for your reply. Actually, I've done the pasteboard work.
Could you explain the way to paste the image manually into the text field? or the second one you pointed. 'Can you somehow use a shared pasteboard and have the sticker app listen for new content in the pasteboard?'

[2022-11-15 09:38] danielsaidi commented on #484
With manual, I mean the user taps the sticker, gets a message like "Sticker copied! Paste it into the text field" and the user then taps the text field to get the paste callout action. Not nice ux, but it works from a tech pox, although some apps pastes by resizing and can then scale up small images, which makes them blurry...while others paste them in original size. Hard to get a good result imo.

[2022-11-15 10:19] danielsaidi commented on #484
I tried GIF Genius, and they do have such an alert:
![image](https://user-images.githubusercontent.com/429927/201894328-b958c873-7e33-4506-b346-158d7f750c8b.png)

Actually, it looks like it's built with KeyboardKit :)

[2022-11-15 10:23] dinodev0101 commented on #484
Great!! I thought that it is not. You made me grinning. Really thanks.
You're my god..  : )

[2022-11-15 10:35] danielsaidi commented on #484
Haha, nice! Good luck with your implementation 👍

[2022-11-15 23:59] danielsaidi opened #485 "Add unicode identifier for Emoji"
The unique unicode identifier can be used in a bunch of ways.

``Emoji`` should provide this information.

[2022-11-15 23:59] danielsaidi commented on #485
This can be tested in `master` and will be available in `6.6`.

[2022-11-16 00:00] danielsaidi opened #486 "Add name to Emoji"
Having the English name of an emoji would make it possible to search for emojis, localize their names etc.

``Emoji`` should provide this information.

[2022-11-16 00:01] danielsaidi commented on #486
This can be tested in `master` and will be available in `6.6`.

[2022-11-16 00:01] #486 closed

[2022-11-16 00:02] danielsaidi opened #487 "Add support for emoji skin tones"
``Emoji`` should provide skin tone information, such as if it has tones, the neutral skin tone emoji, all available skin tone variants etc.

[2022-11-16 00:03] danielsaidi commented on #487
This is implemented in KeyboardKit Pro and will be available in `6.6`.

[2022-11-16 11:18] danielsaidi opened #488 "Add support for callouts in emoji keyboard"
With the new `Emoji` skin tone variant support, the `EmojiKeyboard` should let you long press an emoji to show the available skin tones as secondary callout actions. We also want to show the emoji in a callout when it's tapped.

This is however currently not possible, since the gestures that the `KeyboardGestures` applies blocks the emoji keyboard scroll view from scrolling. We must thus fix so th

[2022-11-16 11:19] #487 closed

[2022-11-23 14:11] danielsaidi opened #489 "Remove references to shared instances from library components"
The shared instances, e.g. `ActionCalloutContext.shared` and `InputCalloutContext.shared` should be conveniences and free to use, but no parts of the library should be hard-coded to use them.

Any type that refers to shared instances should take the shared instance as a default in parameter, instead of having internal properties that refer to the shared instances.

Furthermore, the `InputCalloutCo

[2022-11-24 22:39] danielsaidi commented on #292
Hi @ibayramli

This will be fixed in the upcoming **6.6,** which also adds a `minimumVisibleDuration` property to `InputCalloutContext` that lets you set the minimum duration.

The default value is 0.15, which I think gives a nice result:
https://user-images.githubusercontent.com/429927/203870992-5b84db9f-43d6-416e-bec5-b13986050b4c.MP4

You can try it out in the `master` branch if you want.

[2022-11-24 22:39] #292 closed

[2022-11-24 22:40] #459 closed

[2022-11-24 22:41] danielsaidi commented on #435
I've tried typing with the new gesture engine and I don't think there's need for this.

[2022-11-24 22:41] #435 closed

[2022-11-24 22:42] danielsaidi commented on #426
Closing this since I haven't heard back.

[2022-11-24 22:42] #426 closed

[2022-11-24 22:44] danielsaidi commented on #460
I think this is the wrong thing to focus on right now. I will probably adjust the code to not use the proxy instead.

[2022-11-24 22:44] #460 closed

[2022-11-24 22:48] danielsaidi commented on #463
Hi @marcinax

This is fixed in the brand new gesture handler that will be available in the upcoming **6.6** release.

The gesture engine will be feature toggled off by default in 6.6, then toggled on by default in 6.7 then not feature toggled at all in 6.8, where the old gesture engine will be removed if everything turns out to work well.

You can try it out in the **master** branch, by toggling o

[2022-11-24 22:48] #463 closed

[2022-11-24 22:51] danielsaidi commented on #488
This is fixed in the upcoming **6.6**.

The emoji keyboard will now apply a brand new gesture engine, that lets it handle a bunch of new gestures. This unlocks the same actions as in the regular keyboard, and lets us show input and secondary action callouts.

You will now get input callouts on iPhone, as well as action callouts with skin tone variants if you are using KeyboardKit Pro.

[2022-11-24 22:51] #488 closed

[2022-11-24 22:53] danielsaidi commented on #481
This also happens if you move the text cursor with space, then release it over a word that has an autocompleting suggestion.

[2022-11-24 22:54] danielsaidi commented on #469
This is implemented in **6.6**.

You can try it out in the non-pro demos and master branch, by toggling on the feature like this:

[code]

[2022-11-24 22:54] #469 closed

[2022-11-25 07:18] kambanthemaker commented on #452
I tried “Have a”, but the Pro version did not provide the results.

https://developer.apple.com/forums/thread/47354

[2022-11-25 07:49] danielsaidi commented on #452
Hmmm that's very disappointing, seems like iOS 16 doesn't support the underlying fiddling that made this work earlier this autumn.

[2022-11-25 08:34] kambanthemaker commented on #452
Thanks for the update

[2022-11-25 13:34] marcinax commented on #463
@danielsaidi Is it already available in KeyboardKit Pro as well when switching to master via SPM?

[2022-11-25 13:40] danielsaidi commented on #463
No, for Pro this will unfortunately only be available when KeyboardKit Pro 6.6 is released.

[2022-11-25 13:42] marcinax commented on #463
Ok, thank you. I'll switch back to this solution later while it's available in Pro.

[2022-11-25 13:45] danielsaidi commented on #463
I was aiming to release 6.6 in the beginning of December, but I think I will actually release it this weekend. I feel pretty good about it and the new gesture engine is behind a feature toggle.

[2022-11-26 19:36] danielsaidi opened #490 "Release KeyboardKit Pro as multi-platform binary"
With Xcode 14, framework binaries are no longer build with bitcode support. This results in much smaller binaries, compared to in Xcode 13 and before.

Due to this, it could perhaps be possible to now include all platforms in the built binary, which earlier would case the binary to became very large.

[2022-11-29 07:31] danielsaidi opened #491 "Emoji search"
Make it possible to search for emojis, using the new unicode name.

[2022-11-29 07:33] danielsaidi opened #492 "Emoji autocomplete"
Make it possible to autocomplete emojis, based on the unicode identifier and name.

However, things are more complicated that one can expect, since typing "Candy" (Godis in Swedish) gives us three emojis:

![IMG_7290315608F8-1](https://user-images.githubusercontent.com/429927/204466490-3b494dcf-569c-4067-b160-4cbc51bda6cc.jpeg)

[2022-11-29 07:36] danielsaidi opened #493 "Emoji localization foundation"
Add a way to crowdsource emoji localization.

I will add instructions and tools to make it easy to localize emojis, where each emoji will get a unique localization key based on its unicode identifier. There will also be a SwiftUI preview to let us easily inspect that emojis are properly localized.

You will then be able to submit localizations as PRs, at which I will create a new issue with all th