[2018-06-05 10:55] FallacyWalker opened #2 "How to show demo ?"
I cloned this project , when I ran it ,after I tap the textview , just a system keyboard showed  up, I didn't see the keyboard with the layout in the gif demo .

[2018-06-05 11:16] danielsaidi commented on #2
Hi! You have to add and enable the keyboard under system preferences.

On Tue, Jun 5, 2018 at 12:55 PM FallacyWalker <notifications@github.com>
wrote:

[2018-06-06 06:47] FallacyWalker commented on #2
OK, I got it .
But when this custom keyboard showed up , there are many constraints warning in the output window . And I run it in the simulator .
Do I need to open another issue for this ?

[2018-06-27 08:07] daviddelmonte opened #3 "Switching keyboards programmatically?"
Hi, apologies for the repeat message: Is there a way to switch keyboards (yours to standard), programmatically?

Thanks

[2018-06-29 07:54] danielsaidi commented on #3
Hi David!

I don't think know, I've never looked into it. I think the only way to switch keyboards is to provide the user with such an action, like the globe button on the standard keyboard.

However, I guess you COULD cause your keyboard to crash with a `fatalError`...perhaps this would cause iOS to load the standard keyboard, but perhaps it'd just try to reload your keyboard.

Still, even if it

[2018-06-29 07:55] danielsaidi commented on #2
Hi!

Sorry for the late reply.

I think you can just ignore the constraint warnings. Do you get them when you run on a physical device?

[2018-07-27 14:17] perlguy99 opened #4 "Full Access?"
How do you actually do this?

"Enable full access in the Info.plist, if your keyboard needs it"

[2018-08-28 18:31] danielsaidi commented on #4
Hi, sorry for the late reply!

You just set `RequestsOpenAccess` to true in the plist file, it's a setting for the keyboard extension.

You can read more [here](https://stackoverflow.com/questions/33257374/allow-full-access-to-custom-keyboard-in-ios).

[2018-08-28 18:31] #4 closed

[2018-08-28 18:31] danielsaidi commented on #2
I'm closing this since I haven't heard back in a while.

[2018-08-28 18:31] #2 closed

[2018-08-28 18:32] danielsaidi commented on #3
Hi again,

Did you get this to work?

[2018-10-04 21:06] danielsaidi commented on #3
Hi @daviddelmonte

I removed my previous answer, since it wasn't a good approach.

You should use `advanceToNextInputMode` instead. See https://developer.apple.com/documentation/uikit/uiinputviewcontroller/1618191-advancetonextinputmode for more info.

All the best

Daniel

[2018-10-04 21:06] #3 closed

[2019-03-25 18:56] danielsaidi opened #6 "Press support for system buttons"
The space, backspace and enter system button types should have a press and hold feature, so that a user can press and hold to repeat that input until the user releases it.

[2019-04-22 07:56] danielsaidi opened #7 "Autocomplete support"
KeyboardKit should have autocomplete support, so that the keyboard can request auto complete suggestions from a autocomplete suggestion provider.

[2019-04-25 20:56] danielsaidi commented on #6
I don't understand what I was thinking - this is not the native keyboard experience.

[2019-04-25 20:56] #6 closed

[2019-04-30 12:00] danielsaidi opened #8 "Stack view configuration helpers"
In KK 2.0, I will replace much of the earlier logic with stack views. This brings devs a lot of flexibility, but I'd like to add apis that make it easier to configure them for e.g. center display.

[2019-05-05 19:17] danielsaidi opened #9 "Constraint warnings"
In KK 2.0, I base the keyboard on constraints instead of manual developer commands. However, there are a bunch of constraint warnings in the demo project, that I'd like to fix.

[2019-05-06 07:52] danielsaidi opened #10 "Unit test KeyboardInputViewController"
This class is untested since the major 2.0 rewrite. Write unit tests for this class as well.

[2019-05-06 07:52] danielsaidi opened #11 "Unit test PagedKeyboardPresenter"
This class is untested since the 2.0 rewrite. Write unit tests for it.

[2019-05-06 07:53] danielsaidi opened #12 "Unit test new classes"
While working on the 2.0 release, some parts of the major rewrite didn't get tested. They should be tested before the 2.1 release.

[2019-05-07 21:55] danielsaidi opened #13 "Provide embedded icons for system buttons"
The keyboard switcher, backspace button, enter button etc. have icons that should be added to the library, as embedded images.

[2019-05-07 21:57] danielsaidi opened #14 "Add secondary actions when swiping down on iPadOS"
The native iOS keyboard has swipe support for its buttons, which means that you can have two actions on the same button. This should be added to KeyboardKit as well.

[2019-05-07 22:01] danielsaidi opened #15 "Switch keyboard within extension"
KeyboardKit has a `.switchKeyboard` action that switches to the next system keyboard. However, it should also have a `.toggleKeyboardMode` action, so that buttons on the keyboard can toggle the keyboard state.

In the native keyboard, this is used by:
- shift
- shift lock
- numeric toggle button
- symbol toggle button

[2019-05-18 18:11] danielsaidi commented on #15
This is added to 2.0

[2019-05-18 18:11] #15 closed

[2019-05-20 19:41] danielsaidi commented on #13
I'm not so sure that this is a good idea. I'm closing this ticket until someone requests this feature.

[2019-05-20 19:41] #13 closed

[2019-05-20 19:45] danielsaidi opened #16 "Add support for toolbars"
Besides button rows and collection views, KeyboardKit should have a toolbar item type. The demo keyboard should use one of these items as well, to show how they're implemented.

[2019-05-28 04:47] danielsaidi opened #17 "Press/repeat logic for some actions"
The backspace action should have a press/repeat behavior, so that a user can press and hold to repeat that input until the user releases it.

[2019-05-28 19:50] #12 closed

[2019-05-28 19:50] #10 closed

[2019-05-28 19:52] danielsaidi opened #18 "Eliminate tap lag"
The current tap gesture recognizer adds a lag to the keyboard buttons, which is notable when you try to type fast. Eliminate this to make the keyboard as responsive as the system keyboard.

[2019-05-28 21:22] danielsaidi commented on #18
This was solved by adding `.allowUserInteraction` to the standard tap animation.

[2019-05-28 21:22] #18 closed

[2019-05-28 21:30] danielsaidi commented on #16
KeyboardKit 1.2.0 contains a new `KeyboardToolbar` view that contains a stack view that can be populated with any views.

[2019-05-28 21:30] #16 closed

[2019-05-31 06:56] arampak opened #21 "Add a double tap action."
The standard behaviour of double tap on "Space" button is to close the sentence. At the moment this could be implemented by handling "space" taps and measuring time between them. But it would be great if library contains a special action type for that event that would allow to specify which particular character has to be sent to proxy on space double tap.

[2019-05-31 12:02] danielsaidi commented on #21
The tap gesture extension lets you set the number of required taps for the action to trigger. Does it work if you set the value to `2` for the space action?

[2019-05-31 12:03] danielsaidi commented on #17
There is a new `RepeatingGestureRecognizer` in the library. This can be used to add repeating behavior to buttons like `backspace`.

[2019-05-31 12:03] #17 closed

[2019-06-03 12:16] arampak commented on #21
Tried that, it's a bit tricky. By default a view may only have one tap gesture recognizer. It is possible to add another one and then call the UITapGestureRecognizer.require(toFail:) to let the single tap handled when the single tap is not recognized. What I have learn about it that in such a setup calls to handler for single taps are somewhat delayed. Also, the tap action gesture UIView extension

[2019-06-12 15:32] danielsaidi commented on #21
Hi again! Sorry for the long absence - I've been overwhelmed by WWDC and all the announcements :)

I think I understand the problem. I'll look into it!

[2019-06-12 15:34] danielsaidi opened #22 "Optional adaptive tap area"
The system keyboard invisibly expands the button tap area based on the ML-based probability of the next character. While this is most probably overkill for this lib, a button could expose a configurable, adaptive tap area based on a double probability.

[2019-07-02 06:37] danielsaidi opened #23 "Improve documentation"
The documentation of the various classes and extensions are not great and should be improved.

[2019-07-05 19:52] danielsaidi commented on #23
I have improved the documentation for the various extensions. The changes can be seen in the `autocomplete` feature branch.

[2019-07-05 20:02] danielsaidi opened #24 "Autocomplete: Text input does not trigger `textDidChange`"
`textDidChange(_ textInput: UITextInput?)` isn't called when the user types and modifies the `textDocumentProxy` text. It gets called when you change the cursor position, however.

This function is critical to get autocomplete to work. Since the keyboard detects no text change, the autocomplete request isn't triggered and the old suggestions are still displayed even when the user writes or deletes

[2019-07-17 00:15] zghotlawala opened #25 "RepeatingGestureRecognizer"
Hi,
I was trying to implement the RepeatingGestureRecognizer for backspace - however it leads me weird results. Either the timer doesn't get invalidated or timer doesn't execute. So if you can share working code would be great help
Thanks

[2019-07-17 20:00] danielsaidi commented on #25
Hi, This gesture was added as a quick implementation to show how such a
gesture could be implemented. I haven't tested it thoroughly, so it may
very well have some problems.

I will add this gesture to backspace in the next version's demo app. If
there are some flaws with the implementation, I'll find it and try to fix
it.

On Wed, Jul 17, 2019 at 2:15 AM zghotlawala <notifications@github.com>
wro

[2019-07-17 22:06] danielsaidi commented on #25
I had a look at the gesture and found a bug where a single tap can cause the repeating gesture to continue to trigger indefinitely. I have solved this bug and will add it as a hotfix.

[2019-07-17 23:51] danielsaidi commented on #25
I have solved this in 2.2.1. Please give it a try and let me know if things work better. 👍

[2019-07-17 23:51] #25 closed

[2019-07-17 23:52] zghotlawala commented on #25
Great! sure thanks mate!

[2019-07-17 23:58] danielsaidi commented on #24
This is an iOS bug. I can reproduce it in a new test project. I have reported bugs to Apple and created a question on Stack Overflow, but don't expect any quick solutions to be thrown at me.

The problem is described in detail here: https://stackoverflow.com/questions/57079057/uiinputviewcontroller-textwillchange-and-textdidchange-are-not-called-when-typin

I have managed to solve this with a real

[2019-07-18 02:31] zghotlawala commented on #25
Thanks issues is resolved.

[2019-07-18 06:31] danielsaidi commented on #25
Perfect, happy to hear that! 👍

Den tors 18 juli 2019 04:31zghotlawala <notifications@github.com> skrev:

[2019-07-18 10:33] danielsaidi opened #26 "AutocompleteBugFixTimer closes text input callouts"
`AutocompleteBugFixTimer` solves the iOS text change bug by forcing the cursor to move. However, moving the cursor also causes any presented text field callouts to disappear.

I wanted to solve this by adding knowledge of the last detected current word to this timer, and avoid moving the cursor if the current word hasn't changed, but this does not work, since the cursor *must* be moved to update t

[2019-07-18 11:14] danielsaidi commented on #7
Autocomplete support is added in KeyboardKit 2.3.0.

[2019-07-18 11:14] #7 closed

[2019-07-18 11:14] danielsaidi commented on #24
KeyboardKit 2.3.0 has a bug fix timer that helps to solve this problem.

[2019-08-04 13:24] mcgridles opened #27 "Starting out/beginner advice"
I recently came across KeyboardKit repo and I had a quick question regarding building the keyboards.

Basically, I want to make a keyboard that just changes the label and output of the spacebar but the main problem is I don’t have a ton of experience with Swift. I’ve followed all of your instructions for installation and everything seems to be okay, but in your examples you have files such as `Alp

[2019-08-04 15:58] danielsaidi commented on #27
Hi @mcgridles - I'd be happy to help you get started!

Basically, the code for the demo keyboards you mentioned can be placed anywhere, either in your hosting app or in your keyboard extension target. However, if you only intend to use a keyboard model in your extension, you only have to add it there. If you however want to use a keyboard model in both the hosting app and in the extension (I do so

[2019-08-09 06:45] danielsaidi commented on #26
When iOS 13 is out and no longer in beta, I should investigate if this is still a problem.

[2019-08-09 06:48] danielsaidi opened #28 "Investigate Dark Mode support"
KeyboardKit should support dark mode, if it requires more dark mode support than it already has.

[2019-08-09 06:49] danielsaidi opened #29 "Add SPM support"
KeyboardKit should support Swift Package Manager.

[2019-08-20 12:48] danielsaidi opened #30 "Add Xcode 11 support"
Add support for Xcode 11 and dark mode.

[2019-08-20 12:50] danielsaidi commented on #30
This is merged into **2.4.0-beta**

[2019-08-20 12:50] #30 closed

[2019-08-20 12:50] danielsaidi commented on #28
This is merged into **2.4.0-beta**

[2019-08-20 12:50] #28 closed

[2019-08-21 06:41] danielsaidi commented on #29
This can be tested in the **2.4.0-beta** branch.

[2019-08-21 06:41] #29 closed

[2019-09-18 21:07] chandrab699 opened #32 "autocomplete support"
Hello,

Can we use this release custom ios keyboard?

Can you please point to some examples to autocomplete models, both for offline dictionary and online dictionary
also if there is a way to use google services.

thanks,

[2019-09-19 05:28] danielsaidi commented on #32
Hi @chandrab699

You can use KeyboardKit in any way you want :)

The autocomplete components are however just there to make it possible to implement autocomplete with KeyboardKit. I haven't used them with any real models, neither local or online ones.

If you make it work, I'd love to take part of your findings!

[2019-09-19 05:28] #32 closed

[2019-10-15 04:19] #27 closed

[2019-10-15 04:19] danielsaidi commented on #27
Closing this since I haven't heard back. Good luck!

[2019-10-15 04:20] danielsaidi commented on #26
This was still a problem in `13.0` and `13.1`. I will wait for `13.2` to see if things improve.

[2019-10-15 04:32] danielsaidi commented on #23
I have converted the last /* documentation to /**

[2019-10-15 04:32] #23 closed

[2019-10-15 04:33] danielsaidi commented on #26
This is still a problem when I tested today. `textWillChange` and `textDidChange` are not called when the user types.

[2019-10-15 04:34] danielsaidi commented on #21
I will add this, but not in `2.5.0`.

[2019-10-15 04:36] danielsaidi opened #34 "Audio Feedback"
When switching from a native keyboard to a KeyboardKit one, the absence of audio feedback is annoying. KeyboardKit should provide a way to play audio feedback, as it does for haptics.

[2019-10-15 04:38] danielsaidi opened #35 "Switch to numeric keyboard on space"
Native keyboards switch from numeric/symbol keyboard to the alpha one when space is tapped. KeyboardKit should do that as well, or at least provide a configuration to do so.

[2019-10-15 04:39] danielsaidi opened #36 "The standard button animation is too slow"
When tapping keyboard buttons, the standard animation is too slow compared to the native one. It feels like typing under water.

[2019-10-15 04:41] danielsaidi opened #37 "Auto-switch to upper-case"
The native keyboards automatically switch to upper-case when they are not in mid-sentence. KeyboardKit should do so as well, or at least provide a way to easily configure the keyboard to do so.

[2019-10-15 04:42] danielsaidi opened #38 "Standard button shadow should look native"
The button shadow that is being used in the demo keyboard doesn't look like the system shadow. It should.

[2019-10-15 04:43] danielsaidi opened #39 "Restyle demo emoji button and add more emojis"
The demo keyboard's emoji button should look more like the native one.

[2019-10-15 04:44] danielsaidi opened #40 "Split up demo emoji and image keyboard into two"
I think it'd be better if the demo keyboard has one button to switch to emoji keyboard and one to switch to a custom one, since the keyboard now uses different button types.

[2019-10-15 04:58] thiagobutignon opened #41 "Suggestion: Demo Create Keyboard from Storyboard"
Hi @danielsaidi , first of all. Congratulations for your excellent Framework to create Custom Keyboards on iOS. This is helping me a lots to accomplish a personal project.

Could you provide a demo example using Storyboard to create an entire keyboard?

My kind regards,

Thiago

[2019-10-15 05:06] danielsaidi commented on #41
Hi @thiagobutignon - thanks for your kind words and happy to hear that it helps you out!

I have never created a keyboard from a storyboard and don't know if keyboard extensions support it. If they do, it should basically just be to connect each button to a specific IBAction and trigger the desired keyboard action.

I'm working on a new minor for this project, with new features, but will not have

[2019-10-15 09:31] danielsaidi commented on #38
This can be tested in **master**.

[2019-10-15 09:31] #38 closed

[2019-10-15 09:37] danielsaidi commented on #36
This can be tested in **master**

[2019-10-15 09:37] #36 closed

[2019-10-15 13:19] thiagobutignon commented on #41
I start a project using storyboard, but i believe you are correct to not use storyboard on keyboards. Because we have a limitation of memory in extensions in iOS.

Could you explain how to debug a Keyboard on Xcode? For some reason i can't use ```print()``` or breakpoints.

[2019-10-15 13:49] danielsaidi commented on #34
This can be tested in **master**.

[2019-10-15 13:49] #34 closed

[2019-10-15 14:06] danielsaidi commented on #35
I have added this logic to the demo keyboard action handler, since the standard action handler does not have multiple keyboards.

This can be tested in **master**.

[2019-10-15 14:06] #35 closed

[2019-10-15 14:10] danielsaidi commented on #41
Yeah, I feared as much :(

When you run your app and show the custom keyboard, you can choose `Debug/Attach to Process` and the name of the demo keyboard (not the app, but the embedded keyboard) should be displayed topmost.

If so, just tap it and wait for it to attach. You can then place breakpoints, debug etc. I'm not sure about prints, but they should work as well.

It's a bitt tricky to debug

[2019-10-16 07:18] danielsaidi opened #42 "Demo keyboard crashes when saving image to photos"
I forgot to add the correct permissions when creating the new demo project. The demo keyboard therefore crashes when saving photos to the photo library.

[2019-10-16 07:18] danielsaidi commented on #42
This is solved in **master**.

[2019-10-16 07:18] #42 closed

[2019-10-16 07:19] danielsaidi commented on #40
This can be tested in **master**. However, due to keyboard layout, the image keyboard is only available if the device doesn't have to show the main keyboard switcher. This means that only notch devices will show it.

[2019-10-16 07:19] #40 closed

[2019-10-16 07:20] danielsaidi commented on #39
This can be tested in **master**.

[2019-10-16 07:20] #39 closed

[2019-10-16 07:20] danielsaidi commented on #37
I want to release 2.5.0 asap, so I'll add this later.

[2019-10-16 19:52] danielsaidi commented on #41
Perfect, happy to hear it!

[2019-10-16 19:52] #41 closed

[2019-10-17 22:00] thiagobutignon opened #43 "Bug - Missing NSPhotoLibraryAddUsageDescription"
Hi @danielsaidi,

How are you?

I believe it's missing NSPhotoLibraryAddUsageDescription in info.plist in DemoKeyboard.

[code]

Regards,

Thiago

[2019-10-18 03:37] thiagobutignon opened #45 "Adding a textfield inside a keyboard"
Hi again,

Please, how can i create a Top Actions like this image below? I try to change this function:
[code]
But no success :(

Also how can i add textfield inside a custom keyboard and label to it?

Sorry for my beginners doubts.

## Some examples:
![WhatsApp Image 2019-10-18 at 00 29 06](https://user-images.githubusercontent.com/8093605/67063925-e09a8480-f13e-11e9-92be-7a0f4f77e49d.jpeg)

![Wh

[2019-10-18 10:30] danielsaidi commented on #43
Hi! Very good, thank you! You too?

Yeah, I forgot to add this permission when recreating the project with SPM. I added it to the `2.5.0` version, though. Have you tried it?

[2019-10-18 10:55] danielsaidi commented on #45
Hi! You can create any custom views you like. In this case, I'd suggest adding your custom views and buttons to a stack view, which you add as a top row to the keyboard.

You can have a look at the demo's autocomplete toolbar, which is a custom view that I add topmost. Instead of that, you can create a stackview with your custom views.

The bottommost view is the same thing. There is nothing avail

[2019-10-18 10:56] danielsaidi commented on #45
I accidentally pressed "close and comment" instead of just comment. I'll keep this open with a "help wanted" label, but I have no possibility to implement it myself due to limited time.

[2019-10-18 10:57] danielsaidi commented on #43
Duplicate of https://github.com/danielsaidi/KeyboardKit/issues/42

[2019-10-18 10:57] #43 closed

[2019-10-23 05:12] danielsaidi opened #46 "Enable scrolling toolbars"
Today's toolbar view contains a stack view that can display toolbar items. However, the autocomplete toolbar should be able to enable scrolling, since it may want to display a large amount of items.

[2019-11-08 00:20] devraj opened #47 "Support for scrolling autocomplete result"
At present autocomplete is a view that you can add labels etc to. It would be nice to have the option to have a scroll view that you can add an overflow of results.

[2019-11-18 20:34] anonrig commented on #45
Hey @danielsaidi , can you give an example of using textfield inside the keyboard extension?

[2019-11-20 15:21] danielsaidi commented on #45
You can basically add any "item" you like, but there's no built in textfield item yet.

[2019-12-03 06:56] KrLikeblue opened #48 "Could not find module 'KeyboardKit' for target 'arm64-apple-ios'; found: x86_64-apple-ios-simulator, x86_64"
Hello,

Whenever I try to run project in my device. It throws below error

Could not find module 'KeyboardKit' for target 'arm64-apple-ios'; found: x86_64-apple-ios-simulator, x86_64

Can you help me with this error please ?

Thanks

[2019-12-03 07:36] danielsaidi commented on #48
Hi, sorry to hear about this.

How do you add KeyboardKit to your project? SPM, Carthage, CocoaPods or manual?

[2019-12-07 05:09] KrLikeblue commented on #48
Hello,

I installed keyboardkit Manually

[2019-12-08 20:15] danielsaidi commented on #48
Ok, then it's probably a matter of how you've setup the dependencies to it. You must add a dependency to the framework from all targets that need the functionality, and also make sure that the framework is built out to the device together with your app.

[2019-12-08 20:15] #48 closed

[2019-12-08 20:17] danielsaidi commented on #47
I have created a scrollable header that can be added to an autocomplete toolbar, just like the one you can find in the system keyboards. I just have to add fade out gradients to the leading and trailing edges, after which I'll release it and add it to the demo.

[2019-12-10 20:27] danielsaidi commented on #46
Instead of having a scrolling toolbar, I will implement scrolling labels that can be added to the autocomplete toolbar.

[2019-12-10 20:28] danielsaidi commented on #47
#46

[2019-12-10 20:32] danielsaidi opened #49 "Autocomplete bug fix makes text change trigger when cursor is after the last character in a word."
If you are typing and the cursor stands after the last character, the timer-based text position adjustment makes the context change and the suggested current word changes.

[2019-12-10 20:34] danielsaidi opened #50 "AutocompleteToolbarLabel should center text when scrolling is not needed"
`AutocompleteToolbarLabel` currently always left-aligns its text. It should have an additional centered label with the same size as the view, that is only visible when scrolling is not needed.

[2019-12-10 20:36] danielsaidi opened #51 "AutocompleteToolbarLabel should fade out scrolling text edges"
Just like the native iOS autocomplete toolbar. Scrolling text should fade out horizontally.

[2019-12-10 20:36] danielsaidi opened #52 "AutocompleteToolbar should have separator lines between words"
Just like the native iOS autocomplete toolbar, AutocompleteToolbar should have separator lines between the suggestions.

[2019-12-10 21:41] danielsaidi commented on #50
This has been pushed to **master** and will be released in `2.6.0`

[2019-12-10 21:41] #50 closed

[2019-12-10 22:30] danielsaidi commented on #52
This can be tested in **master** and will be released in `2.6.0`.

[2019-12-10 22:30] #52 closed

[2019-12-10 22:31] danielsaidi commented on #51
The result looks a lot better when the separator lines are in place, so I will wait a bit with implementing the fade.

[2019-12-10 22:32] danielsaidi commented on #47
This can be tested in **master** and will be released in `2.6.0`.

[2019-12-10 22:33] #47 closed

[2019-12-10 22:33] danielsaidi commented on #46
This can be tested in **master** and will be released in `2.6.0`.

[2019-12-10 22:33] #46 closed

[2019-12-10 22:34] danielsaidi opened #53 "Autocomplete label should add a trailing space to the inserted text."

[2019-12-10 22:35] danielsaidi commented on #53
When you tap an autocomplete label, the inserted text should have a trailing space, so that the user doesn't have to tap space before continuing typing.

[2019-12-10 22:37] danielsaidi commented on #53
This can be tested in **master** and will be released in `2.6.0`.

[2019-12-10 22:37] #53 closed

[2019-12-11 17:53] ososoio opened #54 "Word delimiters couldn't work in Chinese"
Hi,

Becuase there is no space between two Chinese words, so the `wordDelimiters` won't work in my project.

https://github.com/danielsaidi/KeyboardKit/blob/151c47301b273e9bf5499cc9ec7dba101e4fe9f0/Sources/KeyboardKit/Extensions/UITextDocumentProxy%2BCurrentWord.swift#L74

The `autocompleteSuggestions` would consider all these characters as one word.

I think the correct way in typing Chinese coul

[2019-12-12 20:36] danielsaidi commented on #54
Hi @ososoio

Thank you so much for this highly informative issue and your thoughts regarding how to address the problem. Would it be possible to implement this as a custom autocomplete suggestion provider and move the current word logic into the current provider?

[2019-12-12 23:02] danielsaidi commented on #49
This is solved by completely removing the need for the autocomplete bugfix timer. Instead, let the action handler request new suggestions as the user types.

[2019-12-12 23:02] #49 closed

[2019-12-12 23:02] danielsaidi commented on #26
This has been solved by completely removing the need for the autocomplete bugfix timer. Instead, let the action handler request new suggestions as the user types.

[2019-12-12 23:02] #26 closed

[2019-12-13 18:39] Said13 opened #55 "Long tap with additional symbols"
![4A0C8AD2-8343-4E69-AEA5-B39EF6C50C3B](https://user-images.githubusercontent.com/9319861/70823200-feefca00-1de7-11ea-956a-b7e151d2b092.jpeg)

Hi!
Are there any solutions for long tap like this?

[2019-12-13 22:03] danielsaidi commented on #55
Hi @Said13

You could implement something similar by implementing custom long press handling. I will add something like this eventually, but for keyboard extensions, the callout bubble can't expand beyond the edges of the keyboard. So, we need to come up with some good ux to get this done.

[2019-12-21 12:32] ososoio commented on #54
Hi,
I think we could just change the method `shouldIncludeCharacterInCurrentWord()` to
[code]
in here
https://github.com/danielsaidi/KeyboardKit/blob/151c47301b273e9bf5499cc9ec7dba101e4fe9f0/Sources/KeyboardKit/Extensions/UITextDocumentProxy%2BCurrentWord.swift#L82

[2019-12-23 06:39] danielsaidi commented on #54
Hmmm, yeah I would have to adjust it so it works with all character variants, like Swedish ones (å, ä, ö), German (ß) etc etc.

I'll have a look at it! Perhaps Apple has a character set that I can use right away.

[2020-01-01 03:26] muhammadn opened #56 "KeyboardKit does not work on iOS 12.4"
For iOS 12.4, i had added `var window: UIWindow?` in AppDelegate class to fix the black screen problem.

However, after looking at keyboard settings, i cannot find the keyboard.

But it works well for iOS 13. What is the minimum requirements for KeyboardKit? I will be looking at supporting older devices.

I am also downloading iOS 11.0 to see if it works there as well

[2020-01-01 04:28] muhammadn commented on #56
@danielsaidi I have confirmed that it also did not work for iOS 11.0

[2020-01-02 07:00] thetay55 opened #57 "Multi language"
Hi Daniel!
How to use another language in this keyboard?

Thanks!

[2020-01-02 07:31] danielsaidi commented on #57
Hi! For now, `KeyboardKit` only uses the standard api:s from Apple, which means that you have to do it as if you'd create a custom keyboard from scratch. If you'd like to support multiple languages, you'll have to create multiple keyboards manually.

However, I think it'd be a great idea to have standard keyboards built into the library as well, so that you'd get the correct action layout and coul

[2020-01-02 07:34] danielsaidi commented on #56
Hi @muhammadn - can you please explain the black screen problem you mention? I'm not sure I've seen that problem.

`KeyboardKit` and its demos should supports iOS 11 and later. Are you having problems with the demo or with your own keyboard extension?

[2020-01-02 15:52] muhammadn commented on #56
@muhammadn Yes. My fault. My Keyboard Extension Target was set to 13.2 (Keyboard Extension Target->General->Deployment Target).

Anyway, yeah. i still need `var window: UIWindow?` in AppDelegate class or else the screen will be black (for iOS below 13)

Thanks for your prompt response! 🎉

[2020-01-02 15:52] #56 closed

[2020-01-03 07:40] muhammadn commented on #57
@thetay55 @danielsaidi I did implement a custom keyboard. (I had created a new project, add a custom keyboard extension and imported KeyboardKit.framework)

The keyboard is actually for Jawi (Malay - Arabic) and it had worked fine for me. All you need is to modify `AlphabeticKeyboard.swift` and you're good.

Thank you @danielsaidi for all your hard work to create this awesome flexible and maintain

[2020-01-03 15:12] danielsaidi commented on #57
Wow, that's amazing! Thanks for sharing :)

[2020-01-05 19:43] danielsaidi commented on #57
@muhammadn Wow, that's amazing! Thanks for sharing :) Feel free to attribute me or link to this repository if you want to 👍

[2020-01-06 07:23] muhammadn commented on #57
@danielsaidi Thanks, i will attribute you and the link to this repository on the main app's view on launch which shows the MIT license.

I was waiting for something like this to appear because other implementations aren't actively maintained. (eg. from swift 3 to swift 4 to 5 breaks a lot of things and it made it harder without a clean set of APIs)

[2020-01-06 20:17] danielsaidi commented on #57
Wonderful, I'm so happy to hear that you find it useful. Let me know if you are missing any features that you'd like to see in the library.

[2020-01-14 16:11] muhammadn commented on #55
@danielsaidi Looking forward for this feature. This would make a huge typing efficiency instead of having to press shift all the time to get special characters.

[2020-01-14 16:22] danielsaidi commented on #55
I would love to implement it, but I guess it'd have to force the keyboard to add additional spacing on top, since such callouts can't extend beyond the keyboard's edges for custom keyboards.

[2020-01-14 16:22] danielsaidi commented on #55
I'll build a couple of keyboard apps with the current version and eat my own dogfood, before I add more features. I'd like to polish what's already there before I add new stuff.

[2020-01-19 21:33] danielsaidi opened #58 "AutocompleteToolbar should be able to scroll itself instead of its buttons"
The native autocomplete toolbar behavior is to display three autocomplete suggestions and distribute them evenly within the toolbar. If their text is too long, the labels become scrollable.

However, some users have expressed their need to display more content. They therefore need the toolbar to be able to give its views as much space as they need, and that the entire toolbar should become scrolla

[2020-01-19 21:34] #58 closed

[2020-02-01 08:00] iwantooxxoox opened #59 "Question: Can we adjust the height of keyboard button"
Hi,

Thank you for the great work, I'm just wondering if we can adjust the height of keyboard button in order to align the style to the build-in system keyboard.

Thanks

[2020-02-01 08:06] danielsaidi commented on #59
Hi! Yes, if you use the built-in components, each keyboard button row has a specific height that you can specify.

[2020-02-01 21:27] zhangdi-devel opened #60 "Fix the moveCursorForward Action bug"
https://github.com/danielsaidi/KeyboardKit/blob/ac0d9d1dcf066bb2f0d875313f7385102de6c094/Sources/KeyboardKit/Actions/KeyboardAction.swift#L122

Currently, `moveCursorForward` is mistakenly set to adjusting text position by `-1`. Changing it to `1` should fix the bug.

[2020-02-02 13:00] #59 closed

[2020-02-03 11:55] danielsaidi commented on #60
Hi @zhangdi-devel - thanks for pointing this out! I have fixed it in `2.6.2`, which is now released.

[2020-02-03 11:55] #60 closed

[2020-02-06 05:26] irakli941 opened #61 "How to set Dark Mode?"
Hello,

KeyboardKit supports dark mode but I couldn't find the "switch".
I want to enable/disable dark mode

Thank you

[2020-02-06 05:30] danielsaidi commented on #61
Hi @irakli941

If you mean system-wide dark mode, you will have to enable that from the system controls.

[2020-02-06 05:39] irakli941 commented on #61
Hello! Thanks for the quick reply and great framework.
In the provided example there are two cells, light content and dark content which respectively call dark and light keyboards.

In demobutton.swift I can set the buttonview's tint, background, and text color. But I couldn't find how to change the keyboard's background color, as you can see in the attached picture, it is still light.
<img width=

[2020-02-06 05:45] irakli941 commented on #61
it should look like this
<img width="298" alt="Screen Shot 2020-02-06 at 09 44 20" src="https://user-images.githubusercontent.com/19552269/73909151-4ca72100-48c5-11ea-863a-dd623071bef5.png">

[2020-02-06 05:47] danielsaidi commented on #61
If you use asset catalog colors with dark mode variants, or the correct system colors, they should adapt automatically when you enable dark mode.

For instance, this is how the KeyboardKit demo app looks in dark mode:

![IMG_0925](https://user-images.githubusercontent.com/429927/73909284-87508f80-48ac-11ea-9656-d309becd03d3.png)

[2020-02-06 05:49] irakli941 commented on #61
Yes, I understand that, but I want to enable/disable dark mode programmatically

[2020-02-06 06:11] danielsaidi commented on #61
Oh, ok. I'm not sure - doesn't this UIViewController approach work?

[code]

[2020-02-06 06:48] irakli941 commented on #61
Sadly no, but your solution will work if you own the ViewController/App in which your keyboard lives. My app is a custom keyboard extension, but thanks anyway.
I'll close the issue

[2020-02-06 07:16] danielsaidi commented on #61
Sorry I couldn't help. Good luck!

[2020-02-06 07:16] #61 closed

[2020-02-08 14:03] PranjalLamba opened #62 "Switch between Keyboards from Toolbar"
Hi Daniel,

Thank you very much for creating this highly useful framework. I am trying to create a keyboard similar to Gboard. I created a KeyboardToolbar similar to the AutocompleteToolbar. I want to switch between keyboards(alphabetical to numeric) on the click of one of the labels in the toolbar. I  have been struggling with this for the past couple of days. Any insights into this would be real

[2020-02-10 07:07] danielsaidi commented on #62
Thank you for your kind words.

I would connect each toolbar button to a `.switchToKeyboard` keyboard action and delegate the tap action to the action handler.

The demo keyboard handles this action type to switch between keyboard types. Perhaps you can get some inspiration from it?

[2020-02-17 13:57] irakli941 opened #64 "Custom Spacing"
I'm trying to adjust the spacing between characters to mimic native keyboard appearance.
I tried to add .none KeyobardActions to the keyboard row but it did not work.
How can I accomplish this?

Native:
<img width="328" alt="Screen Shot 2020-02-17 at 17 54 59" src="https://user-images.githubusercontent.com/19552269/74659926-9ee21f00-51ae-11ea-9a85-24761afef6d6.png">

Mine:
<img width="343" alt="Sc

[2020-02-21 13:10] danielsaidi commented on #64
Hi! I am actually currently working on a "pixel perfect" keyboard setup for
a client. It's a LOT of work and pretty complicated. I think I may bring
some of the concepts back to KeyboardKit, but it currently has very little
support for more complex UI configurations.

On Mon, Feb 17, 2020 at 2:57 PM irakli941 <notifications@github.com> wrote:

[2020-03-01 01:42] Wings1986 opened #65 "When launch app, crashing"
- I changed bundle name with mine
- Then when launch project on my iPhone 11(no emulator), it crashed
<img width="1411" alt="Screenshot at Mar 01 03-39-49" src="https://user-images.githubusercontent.com/9060374/75617937-93a7cf80-5b6e-11ea-90a3-33a654470a46.png">

What is the matter?

[2020-03-01 04:58] #65 closed

[2020-03-01 19:21] danielsaidi commented on #65
Feel free to share how you solved this problem of yours, so that other people with the same problems can find help here :)

[2020-03-01 19:21] #62 closed

[2020-03-02 03:50] Wings1986 commented on #65
It was my mistake
After Clean & build , it worked successfully

[2020-03-02 05:06] Changzw commented on #64
I have the same issue. the space View is invalid in the Demo.
Although this repo doesn't satisfy my needs, I will read it again and again.
it's an awesome repo. :D

[2020-03-02 06:36] danielsaidi commented on #64
Thanks @Changzw - this is a pretty complicated thing to solve, since it involves locale-specific settings (e.g. Israeli keyboards have a system button in the top-right corner) but me and another guy have been taking a stab at the problem, and he nailed how to solve it...at least in theory.

Basically, our outcome then was:

- Develop a new "keyboard context", which contains all information needed

[2020-03-02 09:33] danielsaidi commented on #65
Perfect, thank you!

[2020-03-02 12:37] Changzw commented on #64
your use set
[code]
[code]
and add insets to your stackView for this case.

you have to get the size of the keyboard view for more complex UI configurations.
I don't why, what I only fetch the correct size at `viewDidAppear`, which is same as `viewWillTransition`

[2020-03-03 14:46] dianseptianabl opened #66 "Is it Possible to use KeyboardKit in containing App with minimum Target Build iOS 10?"
Hi @danielsaidi,

I'm new to iOS development and currently working on an existing project which has iOS 10 as the minimum build target. However, in KeyboardKit pod spec, it seems the minimum build target is iOS 11. Is it possible for me to use KeyboardKit in my project even if the minimum build target is less than 11?

Regards.

[2020-03-03 14:58] danielsaidi commented on #66
Sadly no. KK uses functionality that is only available in iOS 11+. You can always fork the repo and remove the iOS 11+ specific features, but the official library requires iOS 11.

[2020-03-03 14:58] #66 closed

[2020-03-13 12:10] alfredcc commented on #21
may be the keyboard key view  should be subclass of `UIControl` which has event of `touchDownRepeat`.

[2020-03-16 09:47] danielsaidi commented on #21
Hmmm, good idea! I'll look into it after I've wrapped up the upcoming SwiftUI support in 2.7.0.

[2020-03-18 15:10] nikans commented on #55
There're cases when you always display a toolbar above, like the custom keyboard app I'm building now.
I'll try to add callout bubbles without special characters selection for now, since I'll have to do it anyway.

[2020-03-18 15:13] nikans commented on #37
Any guidance on how to better implement that? I need this feature anyway.

[2020-03-18 15:26] nikans commented on #14
You mean for iPad? I'm currently thinking on how to create a feasible native-like iPad style for your keyboard. Any ideas?

[2020-03-19 11:59] nikans opened #68 "Require Only App-Extension-Safe API"
When linking a custom keyboard extension agains KeyboardKit using SwiftPackageManager, I'm getting

If KeyboardKit doesn't contain APIs that are not available to extensions, you can set `Require Only App-Extension-Safe API` to `YES` in the Build Settings.

[Some APIs Are Unavailable to App Extensions](https://developer.apple.com/library/content/documentation/General/Conceptual/ExtensibilityPG/Exte

[2020-03-19 12:28] nikans commented on #68
It was probably my dylib, sorry )

[2020-03-19 12:28] #68 closed

[2020-03-19 16:49] danielsaidi commented on #68
Hi! I didn't get any issues when I used KeyboardKit with SPM in my latest app. Glad to hear that everything worked out!

[2020-03-19 16:54] danielsaidi commented on #64
Custom spacing is SO much easier to do in SwiftUI. I will postpone this ticket and build tools that simplifies doing this in SwiftUI instead.

[2020-03-19 17:21] danielsaidi commented on #8
Since SwiftUI makes creating keyboards so much easier, I will close this without action.

[2020-03-19 17:21] #8 closed

[2020-03-19 17:21] #9 closed

[2020-03-19 17:52] danielsaidi commented on #14
Yeah, I was thinking about the secondary actions that you have on iPad, where you can swipe down to perform another action. I think I'll halt this until SwiftUI matures enough to make it easier to achieve.

[2020-03-19 18:11] danielsaidi commented on #37
Yeah, I found this post and found his way to reason about it valid: https://shyngys.com/ios-custom-keyboard-guide

I'll look into it, but it should be really easy to fix, using the end of sentence logic from the autocomplete feature. It's not valid everywhere, e.g. in China, but I think that having an injectable and replacable "end of sentence" strategy would solve that.

[2020-03-19 18:11] danielsaidi commented on #45
I will postpone this and aim at building a demo keyboard in SwiftUI that has this instead.

[2020-03-19 18:12] danielsaidi commented on #51
I will postpone this and implement it in SwiftUI instead.

[2020-03-19 18:13] danielsaidi commented on #54
I have given this some thought, and think that it should be possible for a keyboard extension to change the way it resolves "end of sentence". I will give this some more thought.

[2020-03-19 18:15] danielsaidi commented on #55
I think I'll solve this in SwiftUI only and provide button modifiers to add secondary actions, popup actions etc. and have standard views that are used by default, with the option to replace these views with custom ones.

[2020-03-19 23:35] danielsaidi opened #69 "SwiftUI support"
KeyboardKit should support SwiftUI. Start by adding the least amount of features that add some value, to see that everything works

[2020-03-19 23:36] danielsaidi commented on #69
This has been released as part of `2.7.0`.

[2020-03-19 23:36] #69 closed

[2020-03-23 09:55] danielsaidi opened #70 "SwiftUI support requires a separate framework"
After adding SwiftUI support to KeyboardKit, I noticed that iOS 11 and 12 devices started crashing when importing KeyboardKit, even though all SwiftUI usages are within availability checks.

I therefore created a (hopefully temporary) additional library - KeyboardKitSwiftUI - which apps can import to add SwiftUI support to KeyboardKit.

However, if you just import SwiftUI in an app, it doesn't cra

[2020-04-14 08:52] fullhousetihon opened #72 "Memory leak in addTapAction"
In file UIView + TapAction.swift
you are using objc_setAssociatedObject

when the keyboard is restarted - all buttons remain in memory. we have to force removeTapAction and objc_removeAssociatedObjects to remove an object from memory, every time the keyboard needs to be updated

[2020-04-14 09:00] danielsaidi commented on #72
Oh, that's not good! I'll look into it. If you have a nice solution for it, feel free to post a snippet here och create a pr :)

[2020-04-17 01:47] Vuong-Dao opened #73 "Slide to Type and Delete Slide to type by word ?"
Hi Team
Is it possible to add Slide to Type and Delete Slide to type by word?

[2020-04-17 07:04] danielsaidi commented on #73
Hi,

Slide to type is something I'm planning on looking into for the SwiftUI, but it would still require the client to make sense of the swipe information.

Do you have an example on delete slide?

[2020-04-17 08:35] Vuong-Dao commented on #73
You could try it on your phone :D. Anyway, how about the **character preview**?

[2020-04-17 09:52] danielsaidi commented on #73
I don't follow what you mean with a "delete slide" in an iOS keyboard. Can you attach an image or a video in this thread to help me understand? Same thing with the "character preview", I don't know what that is. :)

[2020-04-18 14:20] Vuong-Dao commented on #73
This video is for **character preview**: [link](https://drive.google.com/file/d/11FO-XaD2oaWDw2pb6_rnpdbQPRg5l6VV/view?usp=sharing)
When you tap on the button. It will show a popup nearby with that text.

[2020-04-20 05:12] danielsaidi commented on #37
I will implement this in the next version of KeyboardKit.

Since KK has no built-in concept of "capitalization" (although there is a keyboard type that you can use to express your intention) I think the implementation will be that the action handler will check if the last two characters are a "sentence ending" character, followed by a whitespace.

It would then trigger a "switch to upper-case" act

[2020-04-20 05:19] danielsaidi commented on #73
I think the preview will be pretty easy to implement in SwiftUI...but it will go together with alternate callout actions, which will be displayed in the same way.

[2020-04-20 05:37] danielsaidi commented on #72
Hi again @fullhousetihon
I just wanted to check if this is a problem with the built-in logic, or do you also use the extension yourself? All occurrences that I find in the code base use `[weak self]` and shouldn't hold strong references to anything.

[2020-04-20 05:39] danielsaidi commented on #21
With the new gesture logic in the keyboard action handler, adding a double tap will be much easier. I'll fix it to the next version.

[2020-04-20 08:34] fullhousetihon commented on #72
As I understand it, all objects that are added using runtime are not tracked by ARC.

You can check this on your demo by clicking on changing the font size several times (.shift). in the debug memorial count you can see many objects UIView

[2020-04-24 11:03] danielsaidi commented on #72
I can see if the keyboard api can have a new function that connects the button to the action handler, instead of adding a tap action like that.

[2020-04-24 11:03] danielsaidi commented on #72
Thanks, that's a great catch! I can see if the keyboard api can have a new function that connects the button to the action handler, instead of adding a tap action like that.

[2020-04-26 03:29] silasalis opened #75 "Autocomplete suggestion problem"
I can't scroll the autocomplete suggestion;
and add some more action by clicking on the suggestion!

[2020-04-26 11:20] danielsaidi commented on #75
Hmmm, ok...do you have a video or something that illustrates the problem?

The basic setup is that the ac bar will distribute the suggestion views over its available width, but it also has an option to enable scrolling. This will make the entire bar scroll, instead of each item.

[2020-04-27 14:34] dianseptianabl commented on #72
Hello @danielsaidi @fullhousetihon. I also experienced this memory leak
Is there any quick fix for this? I have forked the KeyboardKit repository but I need guidance on how to fix this as I need to release my app soon. I would apply the quick fix in my repository for now while waiting for v2.8.0

[2020-04-27 19:49] danielsaidi commented on #72
I have solved this in `2.8.0`. I'll release it tomorrow.

[2020-04-27 20:15] danielsaidi commented on #21
I have added a double tap gesture and added a standard implementation of ending the current sentence when a user double-taps space. It'll be in `2.8.0`, which I'll release tomorrow.

[2020-04-27 20:18] #21 closed

[2020-04-27 20:18] #72 closed

[2020-04-27 20:19] danielsaidi commented on #37
I will add this to the next release instead.

[2020-04-28 07:02] danielsaidi commented on #72
`2.8.0` is out now. Please give it a try and let me know if the leak is fixed.

[2020-04-28 07:03] danielsaidi commented on #21
`2.8.0` is out now and with it double taps. Please give it a try and let me know if the leak is fixed.

Please note that the double tap doesn't cancel out any single taps, so you may want to adjust the single tap action for buttons with double tap logic.

I have added an "end sentence" behavior for double taps on space.

[2020-04-28 07:04] danielsaidi commented on #21
2.8.0 is out now and with it double taps, so feel free to give it a try and let me know if it works for you. I have also added an "end sentence" behavior for double taps on space.

Note that a double tap doesn't cancel out a previous single tap, so you may want to adjust the single tap action for buttons with double tap logic.

[2020-04-28 18:07] dianseptianabl commented on #72
Hi @danielsaidi, I tried using `2.8.0` and KeyboardKit demo for the test, yesterday.
However, it seems the memory leak still happened. CMIIW

In the beginning, the memory consumption is about 30 MB
![beginning](https://user-images.githubusercontent.com/25895308/80521693-a5aebe80-89b5-11ea-9130-1507b712baf3.png)

But after changing the keyboard type several times, especially after scrolled through

[2020-04-28 20:24] danielsaidi commented on #72
Hmmm...ok, but since I've removed all calls to these extensions, the leak must be happening elsewhere...or do you still see that `addTapAction` is the cause of this?

[2020-04-28 21:28] dianseptianabl commented on #72
Before the `2.8.0` is out, I tried to confirm the issue by commented out `super.setup()` in DemoButton.swift. Also tried to commented out `tapAction` and `longPressAction` variable assignment in UIView+TapAction and UIView+LongPressAction, and it seems to fix the issue. So it's safe to say that the `objc_setassociatedobject` is the culprit.

However, in `2.8.0`, I don't know which code that caused

[2020-04-28 22:25] danielsaidi commented on #72
That's amazing, thank you for taking the time to investigate this further. There can probably be more memory leaks in the code. I will look for non-weak self-based completion blocks and other potential leaks. However, I am rather busy so any help is welcome.

[2020-04-28 22:26] danielsaidi commented on #72
Do you think we should open a new issue for the remaining leaks?

[2020-04-28 22:33] dianseptianabl commented on #72
I'm just wondering about `button.gestureRecognizers?.forEach { button.removeGestureRecognizer($0) }` in `addKeyboardGestures(to:)` function.
Yes, we remove gestureRecognizers from the buttons, but isn't it only applied to newly added buttons only, since `addKeyboardGestures` is called when `super.setup()` is called from `DemoButton.swift`(when we create button)

Shouldn't we remove gesture recogni

[2020-04-28 22:36] dianseptianabl commented on #72
I think it's ok to open a new issue for the remaining memory leaks, since this one doesn't seem to related with `objc_setassociatedobject` @danielsaidi

[2020-04-28 22:44] wearhere commented on #45
@danielsaidi I also would like to add a text (search) field to the top of the keyboard similar to GBoard as shown above. (Specifically, I'm trying to rebuild GBoard's [emoji search keyboard](https://share.getcloudapp.com/rRu9kvo2).) Do you have any work-in-progress for this? If not, I'll be glad to try and share something.

[2020-04-29 05:00] danielsaidi opened #76 "Memory leak?"
After fixing a memory leak involved with gesture applying extensions in #72 there are still one or more potential memory leaks, as described in the ticket:

"In the beginning, the memory consumption is about 30 MB, but after changing the keyboard type several times, especially after scrolled through emojis in the collection view, the memory consumption keeps increasing significantly. In the end, i

[2020-04-29 05:03] danielsaidi commented on #72
@fullhousetihon Do you also still see the leaks in 2.8.0?

[2020-04-29 05:07] danielsaidi commented on #72
@dianseptianabl I don't think that the gesture recognizers are to blame - everything should be cleared up when the buttons are no longer on screen and there are no more references to the old buttons. But it may be another part of the keyboard that is still hacking around after removing the buttons. So I'm looking for places where I have forgotten using weak self in completion blocks.

[2020-04-29 05:15] danielsaidi commented on #72
@dianseptianabl and @fullhousetihon We can continue the discussion in #76  👍

[2020-04-29 05:23] danielsaidi commented on #76
When digging into this, I also notice that just going forth and back in the menu causes memory to leak...if only a little. This is strange, since the demo app is basically just a storyboard with a text view outlet. It has no reference to the keyboard extension at all.

[2020-04-29 06:06] dianseptianabl commented on #76
Hi @danielsaidi, I use the iPhone 6s for the simulator. I don't know if it makes differences or not.

Also, how about scrolling through emojis is the collection view? It increases memory usage significantly on my simulator. However, it seems other people also experienced high memory usage when tried to display emojis in collection view

I come across these SO posts related to showing emojis in key

[2020-04-29 06:37] dianseptianabl commented on #76
Also, I just want to make sure. Did you attach the debugger to keyboard process or host app process? Because I always build and run using `KeyboardKitDemoKeyboard` instead of `KeyboardKit` scheme, thus the debugger automatically attach to keyboard process, like this one:

<img width="496" alt="Screen Shot 2020-04-29 at 13 28 09" src="https://user-images.githubusercontent.com/25895308/80567008-6bc5

[2020-04-29 07:25] dianseptianabl commented on #76
![out](https://user-images.githubusercontent.com/25895308/80570390-db3ec080-8a24-11ea-98b9-bc2c7e4f3f48.gif)
The top one is host app process
The bottom one is keyboard extension process
Hope it will help you figure out the issue.

[2020-04-29 08:49] danielsaidi commented on #76
I was naturally looking at the app's memory footprint, not the extension's 🙃

I can reproduce the error now, thank you so much.

[2020-04-29 09:05] fullhousetihon commented on #76
You need to delete all gestures not before creating a button, but before deleting.

<img width="619" alt="Снимок экрана 2020-04-29 в 12 02 34" src="https://user-images.githubusercontent.com/40422773/80578564-526a5980-8a11-11ea-8ff5-dbbfe2686f9e.png">

I added this code to the removeArrangedSubviews method to remove all gestures before removing them from the superview.

[code]

[2020-04-29 09:19] dianseptianabl commented on #76
I have tried what @fullhousetihon suggests, and it seems to "minimize" the memory leak when changing keyboard type or shiftstate. However, it's not solved memory leak when scrolling through emoji in collection view. I guess it's a different issue since other people also experience high memory usage when displaying a bunch of emojis in collection view (see my earlier comments)

[2020-04-29 09:23] fullhousetihon commented on #76
The problem is similar. Each time they scroll through the emoji they create a new view and because of gesture the old ones remain in memory.

[2020-04-29 09:26] dianseptianabl commented on #76
AFAIK when we close the keyboard, the process keeps alive in the memory so next time we open the keyboard it will be much faster. I guess it's how iOS system handle keyboard process. I have read an SO post that suggest us to call `exit(0)` when `viewDidDissapear` in KeyboardViewController, but in reality it will kill the keyboard process once we close the keyboard and next time we trigger action t

[2020-04-29 09:32] dianseptianabl commented on #76
If we remove gestures when we call `removeArrangedSubviews`, it won't remove gestures when collection view reusable cell being dequeued when we scroll through emojis. On the contrary, the gesture keep being added to the newly queued reusable cell (the ones that being displayed) CMIIW

[2020-04-29 09:37] fullhousetihon commented on #76
I don’t know how much, but it holds the RepeatingGestureRecognizer object.

<img width="1382" alt="Снимок экрана 2020-04-29 в 12 35 43" src="https://user-images.githubusercontent.com/40422773/80581540-f6560400-8a15-11ea-9aa3-38b6741b3110.png">

When you delete this line, everything becomes normal

<img width="591" alt="Снимок экрана 2020-04-29 в 12 34 45" src="https://user-images.githubusercontent

[2020-04-29 10:08] dianseptianabl commented on #76
After using @fullhousetihon code in `removeArrangedSubviews` function and commented out `textLabel?.text = action.buttonText` in `DemoButton.swift` to hide emojis temporarily, the memory usage stable around 43 - 44 MB, even when scrolling through emojis in collection view. It seems displaying emojis causing high memory usage just like the SO post said

[2020-04-29 11:39] danielsaidi commented on #76
@fullhousetihon This is the code for setting up the repeating gesture:

[code]

So the gesture itself has no strong reference to the input view controller. I'll check the code for the gesture to see if some leak happens within it.

[2020-04-29 20:36] wearhere commented on #45
I have a working text field! I found that we are able to mount regular text inputs, in this case I used a `UISearchBar`, above the keyboard.

When it's tapped and/or told to `becomeFirstResponder`, the cursor appears and the user can drag that around like normal, but you can't type into the search field&mdash;the system keyboard doesn't appear over our keyboard and our keyboard doesn't automatical

[2020-04-30 07:06] danielsaidi commented on #45
That's amazing @wearhere - thanks for sharing! Let me consider the override and if there's another way to achieve the same thing. I am busy for a few days, but will take a look at it soon.

[2020-05-02 02:47] wearhere opened #77 "Crash when removing `KeyboardButtonRowCollectionView` from view hierarchy"
My view hierarchy is like so, playing around in the demo app:

[code]

I'm not adjusting the sizes of these views other than how is described above.

Apparently, in this setup (and maybe generally?) removing `MyCustomView` from the view hierarchy results in its width being set to 0:

![image](https://user-images.githubusercontent.com/110000/80852826-8182f580-8be0-11ea-9562-85911f9ff0b1.png)

This

[2020-05-02 04:48] danielsaidi commented on #77
Hi @wearhere

So if I understand correctly, the zero width is applied by the system when the view is removed from the stack view?

I don't see this problem when I debug on a simulator...my demo views keep their size after having been removed from the stack:
<img width="832" alt="image" src="https://user-images.githubusercontent.com/429927/80855339-a444f680-8c40-11ea-9587-96958defcc7c.png">

Do you

[2020-05-02 05:40] danielsaidi commented on #77
I have created a fix for the crash and released it as `2.8.1`. However, it only fixes the crash and does not do anything for the zero size.

It would be great if you could try it out and see if it solves your problem...although it would be really interesting to know why the resizing happens.

[2020-05-02 05:40] #77 closed

[2020-05-03 00:37] wearhere commented on #77
Yeah, seemed to be the case per the stack trace I shared in the OP. I assume that something about my view hierarchy caused the stack views' automatic constraints to react badly. My guess is that it was that I was adding and removing the `KeyboardButtonRowCollectionView` from the stack view to hide / show it&mdash;this caused some other visual glitches; perhaps it left `MyCustomView`'s constraints

[2020-05-03 00:44] wearhere opened #78 ""Authentication failed because no credentials were provided" when loading Quick"
Any tips on resolving this error?

![image](https://user-images.githubusercontent.com/110000/80895677-4940ed00-8c9c-11ea-8ed5-e78b2aa6bc05.png)

I've connected my GitHub account to Xcode but clicking "Ok" in the popup shown doesn't work, I get prompted to sign in again!

![image](https://user-images.githubusercontent.com/110000/80895691-72fa1400-8c9c-11ea-98d2-e6aa880888b0.png)

It's possible that

[2020-05-03 01:04] wearhere commented on #45
@danielsaidi cool! By the way, my extension has now evolved where I have _two_ keyboards up on screen at once:

![image](https://user-images.githubusercontent.com/110000/80896021-adfd4700-8c9e-11ea-9d7f-869ef11483f4.png)

That is, I represent the search results as instances of `KeyboardButtonView` so that tapping them inserts the emoji into the document.

This meant that my action handler could no

[2020-05-03 20:52] wearhere commented on #78
Ok I have a lead here. I was just trying to a Swift package dependency using Xcode's menus and when I entered the repository URL as "https://github.com/mrackwitz/Version.git" (an HTTPS URL) I was prompted to authenticate as shown in the "Sign in" screenshot above, but when I entered the repository URL as "git@github.com:mrackwitz/Version.git" I was not prompted. I vaguely recall dealing with somet

[2020-05-03 21:11] wearhere commented on #78
Fixed it! First I tried forcing Git to use SSH instead of HTTPS like https://ricostacruz.com/til/github-always-ssh describes. This didn't work. (I already had it set up, even.) But then I saw that article say that GitHub could use HTTPS by:

I already had that set up too, but it seems that my credentials were out of date. After following the instructions at https://help.github.com/en/github/using-

[2020-05-03 21:11] #78 closed

[2020-05-04 01:54] wearhere commented on #78
Ok I got the error again and this time it was fixed by removing my attempt to force Git to use SSH entirely based on [this Stack Overflow](https://stackoverflow.com/a/58179025/495611). I think I needed to force it for something at my last job but hopefully not anymore 🤞

[2020-05-04 07:34] DmytroLapshyn opened #80 "Calling viewWillAppear from viewDidAppear in the demo app's keyboard view controller"
Hi,

I've noticed the [following code in the demo app](https://github.com/danielsaidi/KeyboardKit/blob/master/KeyboardKitDemoKeyboard/KeyboardViewController.swift#L58):

[code]

I am a total novice in iOS development so please bear with me - just wanted to clarify if calling `viewWillAppear` from `viewDidAppear` was intentional? Or, should rather the demo app's keyboard view controller override `v

[2020-05-04 07:42] danielsaidi commented on #80
Hi! Perfect, thank you for letting me know 🙏 It's a typo...definitely not intentional. I'll try `viewWillAppear`.

[2020-05-04 12:22] danielsaidi commented on #80
I have fixed this and pushed to `master`, thanks once again!

[2020-05-04 12:22] #80 closed

[2020-05-04 13:12] danielsaidi commented on #78
Phew, seems like you've had a busy time with this error! Happy to see that you've got things under control now.

[2020-05-04 13:15] danielsaidi commented on #45
Wow, looks great! I will take some time to digest all this information. Would you be ok with me adding pieces of this to KeyboardKit to simplify for people to implement similar features?

[2020-05-04 13:17] danielsaidi commented on #77
Ok, great that you got it to work. It most definitely shouldn't reset the view sizes just because the views are removed from the view hierarchy, so something fishy is going on there.

[2020-05-04 18:39] wearhere commented on #45
Absolutely! KeyboardKit has been such an amazing help to me, I'm glad to contribute back. Please let me know if I can explain anything further.

[2020-05-04 23:37] Renny-X opened #82 "Add space button drag gesture to change cursor position."
Hello
Do you know how can space btn Do adjust insert position like native keyboard

[2020-05-05 03:57] danielsaidi commented on #82
Hi @Renny9

That's a great idea. I'll see if I can fix it in the `UIKit` version, or if it'll be a `SwiftUI` thing.

[2020-05-05 07:58] Renny9 commented on #82
At first, I think maybe there has a func like 'handleInputModeListFromView: withEvent:' for space btn, but I didn't find it.

Then, the func 'adjustTextPositionByCharacterOffset:' can do left-right, but I have no idea to calculate the 'offset'  for up-down. Also 'documentContextBeforeInput' / 'documentContextAfterInput' do not cantin the string before or after '\n'.

If u get any idea, let me know

[2020-05-06 13:09] danielsaidi commented on #37
I have prepared the library to handle this easier, but have not added it yet. I'll try to get it into the next version.

[2020-05-06 13:21] danielsaidi commented on #45
Amazing, thank you! I have just released `2.9.0` and will start removing a bunch of deprecated members for a `3.0` release. I'll see if I can get around to this in that version.

[2020-05-07 02:10] wearhere opened #83 ""-[UIInputViewController needsInputModeSwitchKey] was called before a connection was established to the host application""
Whenever my keyboard (a fork of the demo keyboard) reads `KeyboardViewController#needsInputModeSwitchKey`, the following error is logged to the console:

Do you see this too? Any ideas about how to suppress? The weird thing is that this occurs even when called after the view controller has been clearly initialized for quite some time e.g. when repeatedly switching between the emoji and alphabetic

[2020-05-07 03:58] wearhere commented on #45
@danielsaidi this change https://github.com/danielsaidi/KeyboardKit/commit/6d898fab149bb036a855d71ba43f3c73cedc5002#diff-539e8d0c4596e6aba2216974b25c7e10L243 has complicated my scheme [as previously described](https://github.com/danielsaidi/KeyboardKit/issues/45#issuecomment-623036884), because I can no longer choose to provide my "search document proxy" to the keyboard actions instead of the inpu

[2020-05-07 04:04] wearhere commented on #45
Related: https://github.com/danielsaidi/KeyboardKit/commit/6d898fab149bb036a855d71ba43f3c73cedc5002#r38998296

[2020-05-07 05:44] danielsaidi opened #84 "Add support for external emoji providers"
The current, manually managed emoji lists in `EmojiCategory` should be able to use an external provider, to keep emojis in sync over time.

See this discussion for more information, sample code etc: https://github.com/danielsaidi/KeyboardKit/commit/50162c10dd8706e88922f1a38740b20ad1d5508e#commitcomment-38996369

[2020-05-07 05:51] danielsaidi opened #85 "Only delay keyboard change for buttons with double-tap"
`2.9.0` added keyboard changing logic to the library. However, due to double taps and especially Shift, I needed to add a delay so that keyboard type changing actions have time to register double taps before they are removed from the view hierarchy.

See if this delay can be applied only in this case, that is when the action changes keyboard type AND has a double tap action.

[2020-05-07 07:38] danielsaidi commented on #83
I have seen this before, but can't reproduce it now in 2.9.0 or 3.0.0 on simulator or real device.

However, I don't think you can do what you suggest, since the switch key is needed on devices with a home button and must not be used on face-id based devices.

Perhaps you could do one `viewDidLoad` setup where you assume that the switch is not needed, then refresh later if that value has changed?

[2020-05-07 07:46] danielsaidi commented on #45
Damn, you're right...sorry about that. I still think the change is good, since it gathers more logic in the `KeyboardAction` and just let the action handlers use that logic if they want to.

Do you think I should expand `KeyboardAction` to have `standardTapAction` as well as `standardTapAction(for: vc)` and `standardTapAction(for: proxy)`, let `standardTapAction` resolve the action with a nil coal

[2020-05-07 15:47] danielsaidi commented on #82
Yeah, up/down is a real hassle. Do you think horizontal would be enough?

[2020-05-07 19:12] wearhere commented on #82
I wonder if there's some way to figure out the line width in terms of number of characters. If there were, then you could do up like `adjustTextPosition(byCharacterOffset: -lineWidth)` and down by adjusting positive `lineWidth`.

(A visual demonstration of this:

[code]

To go up you move left by `-(cursorOffset + (lineWidth - cursorOffset)) === -lineWidth`.)

Gboard only does left/right though so

[2020-05-07 19:25] wearhere commented on #83
Huh curious that you can't repro, I still can in 2.9.0 in the iPhone 11 Pro simulator, running a version of the demo app. (Perhaps my changes therein affect this, not exactly sure how atm. Anyhow.)

Oh interesting. I have wondered about the need for a switch key given that my iPhone 11 Pro always shows the globe at bottom right, yeah.

A curious thing is that Gboard always shows a switch key: http

[2020-05-07 19:31] wearhere commented on #85
Thanks for filing the issue @danielsaidi. I like the idea of more tightly-scoping the delay! I also wonder if it would be possible to leave the shift key in the view hierarchy when the rest of the keyboard changes. Your SwiftUI efforts will probably help with this 😊 .

Even in the UIKit version, I wonder, is the problem that the keyboard collection view is completely replaced when the keyboard typ

[2020-05-07 19:54] wearhere commented on #45
Agreed!

So `standardTapAction(for: vc)` and `standardTapAction(for: proxy)` would be like `standardInputViewControllerAction` and `standardTextDocumentProxyAction`, renamed? I think that'd work.

One thing I don't like so much about that is the need for the action handler to call both methods, I'm assuming:

[code]

That feels to me like the action handler needs to know that some actions manipula

[2020-05-07 20:11] wearhere opened #86 "Reload keyboard collection views from their data sources"
I'm building an emoji search keyboard like Gboard. I model the search results as a keyboard (a `KeyboardButtonRowCollectionView`) so that when the user taps a result, it inserts into the document:

<img height="500" src="https://user-images.githubusercontent.com/110000/81339335-da301380-9062-11ea-9685-03c9a4878fa9.gif"/>

To filter the search results as the user types, I would like to reload the c

[2020-05-07 21:08] wearhere opened #87 "Introduce `KeyboardAction` case `emoji(String)`"
## Use case

In the makings of an emoji search keyboard

<img height="500" src="https://user-images.githubusercontent.com/110000/81344077-f59f1c80-906a-11ea-9024-67fd9b98c3a9.gif"/>

I have several ways in which  I would like tapping on emoji keyboard buttons to behave differently than other buttons. One is that I'd like emoji keyboard buttons to insert the corresponding emoji into the document wh

[2020-05-07 21:57] danielsaidi commented on #82
That's a very interesting idea...given that the `documentContextBefore/AfterInput` is sufficient.

Perhaps start with horizontal and work from there?

[2020-05-07 22:01] danielsaidi commented on #83
Interesting, but that isn't the native behavior tough. Is it the "next" keyboard of a Gboard multi keyboard setup or the next system keyboard?

I will probably adjust the demo to setup the keyboard in `viewDidLoad` as well, but refresh it on `viewDidAppear` if the state changes.

[2020-05-07 22:03] danielsaidi commented on #85
That might be possible, or to load the entire new keyboard below the current one and make it almost transparent, then remove it after a delay. But it sure is a hack :D

[2020-05-07 22:13] danielsaidi commented on #45
I have fixed this in `master` and hope we can release it as a `2.9.1`. Basically, `standardTapAction` has been stripped and either returns any of the new `standardTapActionForController` and `standardTapActionForProxy` properties. The standard action handler still uses `standardTapAction`, but you can use `standardTapActionForProxy ` and pass any proxy as input argument.

[2020-05-07 22:16] danielsaidi commented on #86
I don't know, can you subclass and give it a try and see how it works out?

[2020-05-07 22:20] danielsaidi commented on #87
I have also considered adding an `emoji` action earlier, since I agree that there are situations where you want a distinction between the two. And if you don't, you can just use `character`, right? I see no harm in adding it, do you?

If so, maybe we should add it to `2.9.1`?

[2020-05-07 22:21] wearhere commented on #87
Another behavior I'm considering, specific to emoji buttons: having the keyboard auto-dismiss (advance to next keyboard) when the user taps an emoji button. Going to play with this but I think I typically only type one emoji at a time so this will be a convenience.

[2020-05-07 22:21] wearhere commented on #87
@danielsaidi commented before I saw your update. Sounds great! Yeah I don't see any harm just wanted to ask your perspective.

[2020-05-07 22:37] wearhere commented on #86
Oh the diff I show above works! I just wanted to ask your feedback on the `willSet` / `didSet` relationship before I put up a PR, ask if you though there might be a cleaner approach.

[2020-05-07 22:41] wearhere commented on #83
It's the next system keyboard. Video: https://share.getcloudapp.com/WnuGDYvm

Btw, I can see how this might be a violation of Apple's guidelines around custom keyboards? But if Gboard got away with it I might try to too heh.

[2020-05-08 03:21] wearhere commented on #83
Btw I switched over to `master` and pulled latest and can reproduce this warning in the demo app / with the demo keyboard, in the iPhone 11 Pro simulator. Shows up when I first click the Globe button to switch to the keyboard, then again when switching from emojis to alphanumerics within the keyboard.

[2020-05-08 03:34] wearhere opened #88 "Keyboard shifts vertically when it loads"
Running the demo keyboard on `master` in the iPhone 11 Pro simulator, I see

<img height="500" src="https://user-images.githubusercontent.com/110000/81367105-239f5380-90a1-11ea-8abe-7fce7c3b21c4.gif"/>

The big vertical space that appears at the top looks kind of similar to the space allotted for the autocomplete toolbar, so I tried disabling that by commenting out [this line](https://github.com/d

[2020-05-08 12:00] danielsaidi commented on #87
I'll add such an action to 2.9.1. It will be up in `master` shortly.

[2020-05-09 20:05] #87 closed

[2020-05-09 20:07] danielsaidi commented on #88
I see this many versions back. However, it does not appear on hones with a home button.

Any ideas what may be causing this?

[2020-05-09 20:35] danielsaidi commented on #86
I've had a look at this, and implemented it in `2.9.1`. You can test it in `master`.

[2020-05-09 20:35] #86 closed

[2020-05-09 20:43] danielsaidi commented on #75
Closing this since I haven't heard back. Feel free to reopen this if the problem remains.

[2020-05-09 20:43] #75 closed

[2020-05-09 20:59] danielsaidi commented on #83
I get no logs whatsoever from the demo keyboard, even if I attach to process. I have tried iPhone 11, iPhone 11 Pro and iPhone 8...no logs.

Can you try the latest `master`? I have cleaned up the demo keyboard a bit. Do you still see this warning? Can you attach a screenshot?

[2020-05-09 22:40] wearhere commented on #88
Not sure. One thing I thought I might try is forcing the keyboard to a certain height rather than letting the height be determined by auto-layout of the stack view's contents. Do you know how I might do this?

I cannot get the recommended solution for this (search "height" in [this document](https://developer.apple.com/library/archive/documentation/General/Conceptual/ExtensibilityPG/CustomKeyboard

[2020-05-11 00:10] wearhere commented on #83
Yeah, I still see the warning on the latest `master`. Here's a video showing the warning appearing when I first switch from the system keyboard to the demo keyboard and then when switching between the alphabetic and emoji keyboards within the demo keyboard: https://share.getcloudapp.com/RBuvreqj.

[2020-05-11 03:03] wearhere commented on #86
Cool, thanks @danielsaidi !

[2020-05-11 03:43] wearhere commented on #87
Thanks @danielsaidi!

[2020-05-11 03:43] wearhere commented on #45
@danielsaidi works great, thanks!

[2020-05-12 01:50] wearhere opened #90 "Keyboard appearance is never dark"
Talking about the keyboard buttons here:

<img src="https://user-images.githubusercontent.com/110000/81628240-f27e9600-93b4-11ea-83e6-f76960245014.png" height=500/>

This is in the demo app on latest `master`, with the simulator's appearance toggled to Dark (in the "Features" menu). The keyboard appears like this when shown for both the "Light content" _and_ "Dark content" text views.

## Cause

T

[2020-05-12 02:25] wearhere commented on #90
Unfortunately, neither `keyboardAppearance` nor `userInterfaceStyle` appear to indicate that the keyboard should use a dark appearance in Springboard search results&mdash;even when the system is in light mode&mdash;as the system keyboard does:

<img src="https://user-images.githubusercontent.com/110000/81631560-f6aeb180-93bc-11ea-95f6-8764f197c960.png" height=500/>

vs. a custom keyboard using the

[2020-05-12 02:41] wearhere commented on #90
The keyboard background knows whether the keyboard should be in light or dark mode (in the search results screenshot, you can see it tint dark) but I don't know how to read that.

[2020-05-12 04:47] wearhere commented on #88
Ok I found that I can force the keyboard to a height by adding the constraint like

[code]

I still get the dueling constraints warning from the previous comment, but this height constraint wins out.

Doesn't fix the problem, unfortunately&mdash;the keyboard still shifts vertically. Doesn't seem to matter whether the forced height is greater or less than the system keyboard.

[2020-05-12 09:34] wearhere commented on #90
Ok I figured it out. When the system is in dark mode, then the input view controller's `traitCollection.userInterfaceStyle` is immediately updated to read `.dark` (as in, from `viewDidLoad`, where the demo view controller sets up the keyboard).

However, if the system is not in dark mode, yet the document (text field/view)'s `keyboardAppearance` is `.dark`, then the input view controller's `traitC

[2020-05-12 10:44] wearhere commented on #88
Alas, the shifting seems to be related to iOS removing its own autocomplete toolbar. With that setting (called "Predictive") disabled:

<img src="https://user-images.githubusercontent.com/110000/81674542-3a77da00-9402-11ea-9213-8d8359a48cc0.gif" height=500/>

Much better, although still with a small shift upward (something else system-related?). Ah well. At least this is a clearer avenue for a Rad

[2020-05-12 11:30] danielsaidi commented on #88
Annoying, but I guess we could see this as beyond the control of the library? :)

[2020-05-12 18:07] wearhere commented on #88
Yeah I guess so. Will close this out for now.

[2020-05-12 18:07] #88 closed

[2020-05-12 18:48] danielsaidi commented on #88
Bummer :(

[2020-05-16 20:52] ososoio commented on #54
Hello, my current solution is putting a tiny UILabel on the top of the keybpard, caching the current input letters, then insert the candidate text when user tap to select one.
![screenshot](https://user-images.githubusercontent.com/44096493/82130013-12b9b500-97fa-11ea-9bf9-039b2031d150.png)

[2020-05-16 21:03] ososoio commented on #54
Hope this might help others.
Again, thank you for your great work.

[2020-05-17 07:13] danielsaidi commented on #54
Hi @ososoio

Happy to hear that you have solved this problem. Is there any way your solution could be implemented as a general, reusable part of SwiftUI?

Since I lack knowledge in this area, I wouldn't want to implement something half-baked and claim that it's fixed, while it only solves a small slice of the problem. I'd also probably name it to something ignorant, like `ChineseAutocompleteProvid

[2020-05-17 07:28] ososoio commented on #54
I don't think a library should do this work, since there is no such problem in the english-like keyboard. And the keyboards like mine cloud easily do it themselves.

[2020-05-17 07:33] danielsaidi commented on #90
Hi @wearhere - I finally have some time to look into this! I love how much information you pack into the issues you create - thank you!

I cleaned up and fixed some typos in the demo keyboard earlier, where I incorrectly called `super.viewWillAppear` instead of `super.viewDidAppear` in the demo keyboard's `viewDidAppear` function. I also removed some parts that I didn't see made any difference, bu

[2020-05-17 07:34] danielsaidi commented on #54
If so, I should probably make it easier to extend the library with this kind of logic, or is it easy enough?

[2020-05-17 07:48] ososoio commented on #54
I think there is no need for further work, making the KeyboardToolbar easy to customize would be nice.

[2020-05-17 07:51] danielsaidi commented on #83
I will have a look into this when I get some more time on my hands. I get no warnings whatsoever.

[2020-05-17 08:13] danielsaidi commented on #54
Ok, I'll close this then. Any suggestions about how to improve `KeyboardToolbar` would be greatly appreciated. You can create a separate issue for that.

[2020-05-17 08:13] #54 closed

[2020-05-21 22:16] wearhere opened #92 "Display an input callout when tapping buttons"
Where I mean that, when the user taps a key, they see a "key cap" view appear above their finger:

![](https://camo.githubusercontent.com/618f4c14cd12b40db3730c3fed8354c684160d58/68747470733a2f2f7261772e6769746875622e636f6d2f696c6c79616275736967696e2f4359524b6579626f617264427574746f6e2f6d61737465722f53637265656e73686f74732f4359524b6579626f617264427574746f6e2e676966)

I found a project that mimics

[2020-05-21 22:21] wearhere opened #93 "Display an input callout when long-pressing buttons"
Similar to what Apple does when pressing the "n":

<img height="500" alt="long-press" src="https://user-images.githubusercontent.com/110000/82611841-5142cd00-9b76-11ea-9977-78a095c83439.png">

This can also be done by the library described in #92, `CYRKeyboardButton`.

Something super cool, that that library does not support out of the box, would be to show a menu in the expanded key cap view like

[2020-05-21 23:02] wearhere commented on #93
A simple way of showing a menu on long-press is to use a context menu. Let's say you have a custom action type of `.settings` like this:

[code]

Then in your keyboard view controller you can do:

[code]

which produces the following on long-press:

<img height="500" src="https://user-images.githubusercontent.com/110000/82614275-47bc6380-9b7c-11ea-83ac-464fda690d75.png"/>

[2020-05-21 23:06] wearhere commented on #83
`needsInputModeSwitchKey` does return the right value for me btw (`true` if and only if the phone has a home button), even when it logs the warning.

I think I'll go through with the Gboard approach described above, though, by showing a settings key (instead of a switch key) with a long-press menu like shown / set up [here](https://github.com/danielsaidi/KeyboardKit/issues/93#issuecomment-63238870

[2020-05-29 20:51] wearhere commented on #92
I removed the bit about drawing above the keyboard using a transparent top row since revisiting Stack Overflow didn't surface any ways to make the keyboard background transparent. Our "keycap views" will probably have to draw sideways or downwards if there isn't space above the keyboard.

(That said, a lot of keyboards will probably have some sort of toolbar on top and that would provide space for

[2020-06-02 01:55] Wings1986 opened #97 "Not working without full access enable"
Apple rejected keyboard app
![image](https://user-images.githubusercontent.com/9060374/83471220-cb375800-a48c-11ea-9276-b24e7fa55420.png)
![image](https://user-images.githubusercontent.com/9060374/83471282-fae66000-a48c-11ea-9f09-757051ffa3b4.png)

Apple are saying 'copying/pasting image on keyboard extension should work when the “Full Access” setting is toggled off too.

[2020-06-02 07:30] danielsaidi commented on #97
Yes, a custom keyboard unfortunately can't rely solely on full access requiring features. It must be functional in some other way, if the user chooses to not allow full access.

[2020-06-02 07:30] #97 closed

[2020-06-02 07:36] danielsaidi commented on #92
Hi! I'm finally done with the major time consuming stuff I had until the end of last week 🎉

This looks great! However, before we can implement this, we need to consider how to represent this for each action, and how to bind it to the buttons. For instance, these could perhaps be considered to be "context actions" or "callout actions", while we must also find a way to represent "secondary action"s

[2020-06-02 08:28] danielsaidi commented on #83
How do you want to proceed with this issue?

[2020-06-02 08:30] wearhere commented on #92
Hey Daniel! Hope your talk went well.

I have a prototype of this feature that ought to work automatically for `KeyboardButtonView`s whose actions are `.character` or `.emoji`, I think (since all of those should show these sorts of keycap views, with the same character as is shown on the regular button, and with the same handling once the key is released). Will try to put it up tomorrow!

I also h

[2020-06-02 08:40] danielsaidi commented on #92
Cool, sounds great! I'll try to come up with a nice adaptive way to model secondary and call out actions for each action type.

[2020-06-02 09:07] Wings1986 commented on #97
Can you let me know how we can resolve this issue?

[2020-06-02 09:14] danielsaidi commented on #97
There is unfortunately no other way than to add more features to your keyboard.

[2020-06-02 09:19] wearhere commented on #83
I have a new wrinkle: a beta user on an iPhone 7 is reporting that, when he taps my settings-or-next-keyboard button (described above), it sometimes goes to the next keyboard and sometimes to settings—whereas, on a phone with a home button, it always ought to go to the next keyboard. This implies that `needsInputModeSwitchKey` may be unreliable after all.

I’m going to give him a build tomorrow th

[2020-06-02 09:23] wearhere commented on #97
@Wings1986 one idea, if (it seems) your keyboard is all about inserting images, is maybe you could make your app bundle not only a keyboard but also an iMessage app—you can make sticker apps that either bundle a static set of stickers or that create stickers from dynamic image sources. Perhaps you could reuse some of your images and/or code for this and maybe you wouldn’t even have to add features

[2020-06-02 09:28] Wings1986 commented on #97
Thanks for your help.
But I re-skined your project with new images(replaced new image in image keyboard) and new keyboard color
We did not add any changes too in your project. (only replace images)

[2020-06-02 09:36] danielsaidi commented on #97
In my custom "emoji" apps (where the custom keyboard has image-based "emojis") if the user does not enable "full access", the keyboard inserts the text "sent you a xxx" where xxx is a localized string for the tapped image, which I manage manually. I also added system actions like backspace, space etc. This makes the keyboard "functional" but not very useful even without full access. I also added a

[2020-06-02 09:37] danielsaidi commented on #83
Sorry to hear that :/

[2020-06-02 09:38] wearhere commented on #92
Some notes / thoughts on secondary and callout actions:

- I’ve come up with a way to dynamically generate all skin tone permutations of any given emoji. So their secondary actions can be automatically derived by the framework.
- Apple has three presentations of secondary actions. The first two I’ll call “no primary action”

![image](https://user-images.githubusercontent.com/110000/83504117-f6b047

[2020-06-02 09:52] Wings1986 commented on #97
Sorry, Where can I find that function.
I pulled your latest version(master) and if I click image without full access enable, it appear 'You must enable full access to copy images' popup dialog.

[2020-06-02 10:03] danielsaidi commented on #97
It’s something you have to implement yourself and nothing the library can help you with.

[2020-06-05 13:18] danielsaidi opened #98 "Stop supporting iOS 11 and 12"
This would make it possible to make SwiftUI a first-class citizen, instead of the separate library that it must be today (https://github.com/danielsaidi/KeyboardKit/issues/70).

Or do we want to wait for another year, to see how SwiftUI evolves and give app developers one more year to end their own support for iOS 11 and 12?

[2020-06-05 13:23] danielsaidi opened #99 "SwiftUI discussion forum"
In this issue, let's discuss fun and exciting things that we can build in SwiftUI, whether or not to make the library SwiftUI exclusive etc.

Personally, I think that the existing UIKit functionality should remain, but let's discuss what we can create in the future, using SwiftUI.

[2020-06-05 18:47] wearhere commented on #98
I'm in favor! I think that KK seems pretty stable and feature-rich and the major opportunity ahead is to make layout simpler and more reliable—perhaps by replacing the use of stack and collection views with SwiftUI.

Maybe Swift itself is a good precedent here? I wasn't using it between versions 1 and 2, don't remember how much stuff broke or how hard it was to rewrite; but I do recall that Apple

[2020-06-05 19:06] danielsaidi commented on #98
With WWDC being so close, I definitely think that we should wait and see, at least to see if there will be a bunch of breaking changes. For reference, migrating from Swift 2 to 3 was a nightmare.

Maybe wait for the new betas to ship, change KK accordingly and then keep the UIKit parts around as legacy in 3 while starting to build a better, more focused experience in SwiftUI?

[2020-06-05 19:13] danielsaidi commented on #99
I had an amazing time rebuilding my keyboard apps in SwiftUI, but some things do not exist yet - for instance having control over a scrollview's offsets. The paged emoji keyboard was therefore not as straightforward to create as it could have been, but on the other hand..now we have it as a component, ready to be used :)

Porting some of the other views, like the collection based ones, to SwiftUI

[2020-06-05 21:38] wearhere commented on #92
Update here: I'm waiting to PR my popups until I've completed all of the presentation styles I mention above, to make sure the architecture will handle everything.

As an example, I decided that it was necessary to ensure that the popups would be able to display upward so that the user would not cover the popups with their finger, so I have devised a mechanism to dynamically add and remove extra v

[2020-06-05 21:40] wearhere commented on #93
As I mention in #92, I have work in-progress here 🚀

[2020-06-05 22:34] danielsaidi commented on #92
OMG that looks amazing @wearhere !

[2020-06-05 22:36] danielsaidi commented on #93
What you show there looks extremely promising!

[2020-06-05 22:37] danielsaidi commented on #93
These kinds of components, like the callout container view, are something I think the library should provide to SwiftUI-based keyboards!

[2020-06-05 22:48] wearhere commented on #92
@danielsaidi Aw thanks! The styling‘s not even complete in that shot 😄

[2020-06-09 23:31] wearhere commented on #83
I gave my testers two new builds. The first build determined the functionality of the settings-or-next-keyboard button in `KeyboardViewController#viewDidLoad`, i.e. so that it would always be a settings button _or_ a next-keyboard button rather than having the tap gesture look that up later.

The response to this build was that the button always showed as a settings button. This confirms that on t

[2020-06-12 04:30] wearhere opened #100 "Layout collapses when switching keyboard types"
In my keyboard, when tapping the shift and/or "123" buttons sometimes, the layout collapses like this:

<img height=400 src="https://user-images.githubusercontent.com/110000/84465071-f2c7b680-ac2a-11ea-9f3e-40bb9b32511d.png"/>

I'm pretty sure that this is due to `changeKeyboardType` being asynchronous. I set the delay to 0 and then for good measure overrode `changeKeyboardType` to be synchronous

[2020-06-12 07:54] wearhere commented on #100
Ok I think that making `changeKeyboardType` synchronous did help stabilize it, but the layout still failed when opening the keyboard, switching to another app, switching back, then pressing "123". The final constraint failure was just between two `UISV-distributing-edge` constraints and the `UISV-spacing` constraint in the `keyboardStackView`, didn't see anything wrong there. But switching apps ca

[2020-06-12 09:13] wearhere commented on #100
Ok I'm dumb: I had a negative bottom margin on the search bar. When switching keyboards, there would temporarily be no view below the search bar (that and everything would remain visible, while the keyboard rows below were replaced), and the keyboard stack view would be unhappy. If I remove that margin everything's fine.

[2020-06-12 09:13] #100 closed

[2020-06-16 04:15] wearhere opened #101 "Is it ok to call `KeyboardButtonView#setup` multiple times?"
I had to fork `KeyboardButtonCollectionView` for a couple of reasons†, that is no longer subclass `KeyboardCollectionView`, and one thing that freed me to do was to create a custom `UICollectionViewCell` subclass with a view hierarchy like this:

[code]

The reason I did this was that then, when my data source vends cells, it can reuse the existing `KeyboardButtonView` (see code at the bottom of t

[2020-06-16 04:48] danielsaidi commented on #101
Hi! Let's see if I can shed some light on my intentions :) But first of all, yes calling setup multiple times should absolutely be ok.

`KeyboardCollectionView` is just a plain collection view that specifies a set of actions as well as some standard behavior. It dequeues and reuses empty `UICollectionViewCell`s and is intended to be subclassed to customize its cells.

The reason why it removes any

[2020-06-16 04:48] #101 closed

[2020-06-16 05:18] danielsaidi commented on #101
I just released `2.9.2` that moves the subview removal logic from `KeyboardCollectionView` to the built-in subclasses that need it. Thanks for noticing this strange behavior! 👍

[2020-06-16 05:19] danielsaidi commented on #100
Great to see that you found the problem! I am adjusting the async switch logic in 3.0 and am moving it into the standard button handler, so that it only affects buttons with double-tap logic.

[2020-06-16 06:05] danielsaidi commented on #83
I am changing how this can be accessed in 3.0. Hopefully, it works better then.

[2020-06-16 06:22] wearhere commented on #100
Woo! That sounds like a great idea.

[2020-06-16 06:28] wearhere commented on #101
Cool, thanks for the explanation and fix!

[2020-06-16 06:35] wearhere commented on #83
Cool. I suspect that there is some logic to when the correct value can be accessed, maybe when we receive `viewWillSyncWithTextDocumentProxy` or something like that. I don't think that the value not being available in `viewDidLoad` is a showstopper although it is nice to be able to lay out the final UI as early as possible.

[2020-06-16 07:33] danielsaidi commented on #83
I have added a new context concept in 3.0, which moves logic from the controller to the context. I think it will be easier to use.

[2020-06-17 07:52] wearhere opened #102 "`textWillChange` is called extra times if the keyboard contains text inputs"
Per [docs](https://developer.apple.com/documentation/uikit/uitextinput/1614508-inputdelegate), UIKit automatically assigns text inputs' `inputDelegate` at runtime. Introspection reveals that the delegate is a private class. I'm not sure how that class forwards messages to the keyboard view controller, but it does—for all active text inputs. If the keyboard contains [its own text inputs](https://gi

[2020-06-17 07:58] wearhere commented on #24
Hilariously (just documenting this for anyone trawling the issues): `selectionDidChange` is _not_ called when you change the cursor position.

[2020-06-17 15:11] danielsaidi commented on #102
I'm not sure how to proceed with this, if we even should. Until KeyboardKit contains functionality or components that allow for text input, this is perhaps beyond the scope of the library and more of an implementation detail.

[2020-06-17 15:11] danielsaidi commented on #24
Haha, yes I have noticed that as well :)

[2020-06-17 20:38] wearhere commented on #102
Fair enough. I filed it to advise development related to several other issues but I can leave comments on those issues.

[2020-06-17 20:38] #102 closed

[2020-06-17 20:40] wearhere commented on #45
https://github.com/danielsaidi/KeyboardKit/issues/102 may need to be tackled when this library adds functionality or components that allow for text input.

[2020-06-17 20:52] wearhere commented on #90
I think that https://github.com/danielsaidi/KeyboardKit/issues/102 further demonstrates the risk of relying on `viewWillSyncWithTextDocumentProxy`.

@danielsaidi I have a pretty clean solution IMO but I'm not exactly sure how to implement it in the library. The solution looks like implementing

[code]

And this solution could be baked into the demo app to advise clients for sure—but the demo app,

[2020-06-17 20:54] wearhere commented on #83
That sounds cool. Maybe we could move `textDocumentProxy.keyboardAppearance` into the context as well https://github.com/danielsaidi/KeyboardKit/issues/90#issuecomment-645618267

[2020-07-02 14:24] danielsaidi commented on #99
The SwiftUI-based demo keyboard is coming together nicely. There are a bunch of features missing, but take a look at it and come with feedback. SwiftUI is without a doubt the future. 👍

[2020-07-02 14:26] danielsaidi commented on #98
I think the roadmap will be to use KeyboardKit 3.x to make SwiftUI support really solid, then ditch support for UIKit and iOS 11 & 12 in 4.0.

We shouldn't let 3.x live for that long, though. Perhaps later year.

[2020-07-02 14:28] danielsaidi commented on #98
When we stop supporting iOS 11 and 12, we can move **KeyboardKitSwiftUI** into the main repository.

[2020-07-02 14:30] danielsaidi opened #103 "Stop supporting UIKit"
SwiftUI provides such an amazing experience for building custom keyboards, that the old UIKit components and views have no future moving forward.

I will deprecate all UIKit-excusive parts of the library in a later 3.0 version, then remove them in KeyboardKit 4.0.

[2020-07-02 14:31] danielsaidi commented on #99
I'm splitting this ticket into multiple ones, and mark them with the Swift 4 milestone.

[2020-07-02 14:31] #99 closed

[2020-07-02 14:32] danielsaidi opened #104 "Move KeyboardKitSwiftUI into the main repo"
When KeyboardKit 4.0 stops supporting iOS 11 and 12, KeyboardKitSwiftUI can be moved into the main repo.

[2020-07-02 14:33] danielsaidi commented on #93
I think we should aim at implementing this in 3.1 or 3.2.

[2020-07-02 14:34] danielsaidi commented on #92
I think we should aim at implementing this in 3.1 or 3.2.

[2020-07-02 14:35] danielsaidi commented on #90
I noticed strange color behaviors in UIKit-based keyboards and have implemented a much better structure for this in SwiftUI. Please give it a try and let me know if it works better there.

[2020-07-02 14:36] danielsaidi commented on #85
I have solved this in 3.0.

[2020-07-02 14:36] #85 closed

[2020-07-02 14:38] danielsaidi commented on #76
I haven't looked at this more in the UIKit demo. Can anyone of you check if you can recreate the memory leak in the new 3.0 beta SwiftUI app?

[2020-07-02 14:41] danielsaidi commented on #73
In SwiftUI, buttons will get a swipe gesture. It's not currently exposed, but I think it could be to keep track of all drag gestures. This could be used to implement swipe to type. However, it would be SwiftUI exclusive and an implementation is a few minor versions away at least.

[2020-07-02 14:43] danielsaidi commented on #70
Further handled in #104

[2020-07-02 14:43] #70 closed

[2020-07-02 14:45] danielsaidi commented on #64
I can now confirm that this is a lot easier in SwiftUI. Give the new demo app a try and let me know what you think. You find it in the **3.0-beta** branch.

[2020-07-02 14:45] #64 closed

[2020-07-02 14:45] danielsaidi commented on #55
I'll try to implement this as a SwiftUI exclusive feature in 3.2.

[2020-07-02 14:47] danielsaidi commented on #45
@wearhere I will close this, since this is soooo much easier in SwiftUI, but I'd love to gather up all your valuable information in some way. Any ideas?

[2020-07-02 14:49] danielsaidi commented on #37
This is currently implemented in the demo apps. I'll try to add it to the standard keyboard action handler before releasing 3.0.

[2020-07-02 14:50] danielsaidi commented on #14
This will be implemented as a SwiftUI exclusive feature later in 3.x or 4.x.

[2020-07-02 14:51] danielsaidi opened #105 "Add autocomplete support to SwiftUI"
I'd like to get this ready before releasing 3.0, but I may postpone it to 3.1.

[2020-07-02 14:51] danielsaidi opened #106 "Add alert/toast support to SwiftUI"
I will try to add this to 3.0, otherwise to 3.1.

[2020-07-02 16:50] wearhere commented on #55
Hey @danielsaidi, I have this sorted as part of #93 if you'd like to consider that implementation! I'll try to start putting up pieces of it this weekend.

[2020-07-02 16:55] wearhere commented on #45
Oh that's great to hear. Curious do you plan to change how the action handling works in SwiftUI? That's really where what I've learned with the document proxy comes into play. If you plan to keep that in some form—`KeyboardActionHandler` itself I mean, with the views registering with it differently I would expect—then I would be glad to contribute my [`TextDocumentProxy`](https://gist.github.com/w

[2020-07-03 02:38] dianseptianabl commented on #76
Hi @danielsaidi, will check it later in my spare time

[2020-07-03 14:46] danielsaidi commented on #45
I will keep the action handling intact, but I have moved a bunch of stuff from the input controller to a new context object, which may simplify things later on.

I have almost finished the 3.0 demo app, which will not have features like alerts and autocomplete, but at least the different keyboards. In my opinion, things are MUCH more stable with SwiftUI, so I'd be most interested in hearing what y

[2020-07-03 14:48] danielsaidi commented on #55
Perfect! Not sure if we can reuse the UIKit approach with some wrapping, or if we should rewrite it entirely in SwiftUI.

[2020-07-03 14:49] danielsaidi commented on #83
The entire proxy is in the context, so it's really easy to access. The context approach requires some syncing from the input controller, but that is handled in the library's base class, so it's pretty stable.

[2020-07-05 07:57] danielsaidi opened #107 "SwiftUI converts dark keyboard appearance to dark mode"
I just ran into a problem in the SwiftUI demo application.

I have the device in light mode and open the keyboard with a text view that prefers a dark text appearance. This causes the `colorScheme`environment variable to become `.dark`.

This causes problems, since dark appearance keyboards have a different background than keyboards in dark mode. IF the device is really in dark mode, the dark mode

[2020-07-12 17:11] danielsaidi commented on #107
I have managed to recreate this in a new test project as well.

I have decided to not consider this to be a 3.0 blocker, but will add TODOs to the source code and hope to be able to fix this problem in a later version.

[2020-07-13 09:10] danielsaidi commented on #107
I have decided to not consider this to be a 3.0 blocker, but will add TODOs to the source code and hope to be able to fix this problem in a later version.

[2020-07-13 09:28] danielsaidi commented on #107
I have reported the bug to Apple:
https://feedbackassistant.apple.com/feedback/7970669

[2020-07-13 09:31] danielsaidi commented on #57
@muhammadn I have added a new set of "input sets" to KeyboardKit 3.0. This means that you could specify input sets for "alphabetic", "numeric" and "symbolic" for the keyboard above and use it to build multi-language keyboards A LOT easier.

Would you be interested in creating such a set for arabic? I have created one for English and will add Swedish before publishing 3.0.

[2020-07-13 10:08] muhammadn commented on #57
@danielsaidi Thank you for your effort. Do you mean for arabic is my for current keyboard project or should i create a new project for me to try it?

My main worry is the support for iOS 11 on my current project to support older devices. But i think i will try to work on a new project based on KeyboardKit 3.0 if iOS 11 is no longer supported. 👍

[2020-07-13 22:08] danielsaidi commented on #57
@muhammadn First of all....KeyboardKit 3.0 will still support iOS 11, so you can relax :) Even though a bunch of SwiftUI features will require iOS 13, I hope that the new major will bring a bunch of improvements even if you target iOS 11 and 12.

Second, KK will now come with new input sets, which in the library are defined like this:

[code]

This means that it will be very easy to create a new "

[2020-07-13 22:12] danielsaidi commented on #106
This is applied and can be tested in the SwiftUI demo, but it won't be used until the image keyboard is implemented.

[2020-07-13 22:12] #106 closed

[2020-07-13 22:14] danielsaidi opened #108 "Implement SwiftUI demo emoji keyboard"
The SwiftUI demo currently doesn't have an emoji keyboard. This should be implemented in the next minor version.

A problem that must be solved is that a emoji keyboard like the one in UIKit will crash due to memory pressure, since stacks don't reuse their views. A lazy grid would solve this problem, but that would make an emoji keyboard iOS 14 only.

The demo could however use a one page emoji ke

[2020-07-13 22:17] danielsaidi opened #109 "Implement SwiftUI demo image keyboard"
The SwiftUI demo currently doesn't have an image keyboard. This should be implemented in the next minor version.

[2020-07-14 04:25] muhammadn commented on #57
@danielsaidi ah ok! I will try it out 3.0-beta branch now to see how it goes for my end. 🚀

[2020-07-14 10:42] danielsaidi commented on #90
I have fixed this for the UIKit demo keyboard. It's in the `3.0-beta` branch.

[2020-07-14 10:42] #90 closed

[2020-07-14 12:20] danielsaidi opened #110 "CocoaPods can't resolve KeyboardKit 3.0"
I can't release `KeyboardKitSwiftUI` 3.0 to CocoaPods, since my computer can't find `KeyboardKit` 3.0 in the trunk.

Can someone else confirm that this is the case?

[2020-07-19 20:17] danielsaidi opened #111 "SwiftUI demo keyboard globe button doesn't work"
The SwiftUI system keyboard view doesn't add a NextKeyboardButton for the `.nextKeyboard` action.

Since this is the only action that has to be handled outside of the action handler, the standard system button that is created in the demo doesn't do anything.

[2020-07-19 22:01] danielsaidi commented on #111
This is fixed in the latest demo.

[2020-07-19 22:01] #111 closed

[2020-07-19 22:03] danielsaidi commented on #110
I tried now and it worked right away. I must have been on a strange cache that didn't flush properly.

[2020-07-19 22:03] #110 closed

[2020-07-19 22:04] danielsaidi commented on #107
I will try to find a semi transparent background color that gives the same result.

[2020-07-19 22:04] danielsaidi opened #112 "System image buttons font weight is too fat"
System image buttons should use think instead of regular.

[2020-07-19 22:05] #112 closed

[2020-08-12 11:14] danielsaidi opened #114 "Xcode 12 fail to build MockTextDocumentProxy"
The mocked `deleteBackward` function somehow does not build in Xcode 12, where `args: ()` must be replaced
 with `args: 0`. I'm not sure why this is needed. Other non-arg functions work just like before.

Perhaps it is just a beta bug that will be solved later?

I'll revisit this when Xcode 12 is released.

[2020-08-27 03:36] khaelou opened #115 "Simple tutorial under Get Started ReadMe heading.."
Not asking much yet a simple guide for setting up a project from scratch using Keyboard Kit.. would be really useful considering all other methods are outdated nor even mention SwiftUI. I managed to get all the demos the run properly yet most of the project is hard to follow if I wanted to start fresh...

[2020-08-28 05:03] lingolab2 opened #116 "support for Traditional Chinese - Handwriting keyboard"
how does one enable Traditional Chinese - Handwriting keyboard for a given text field and support it?
looking for hints, actually want the user to type in Japanese-Kanji using Apple's iOS graphic kanji pad
- is it possible to check if the iPhone has the  Traditional Chinese - Handwriting keyboard installed?
- how to use it if available?
![Screenshot 2020-08-28 at 10 33 02 AM](https://user-images.g

[2020-08-31 11:29] shivamseth285 opened #117 "TextView in Custom keyboard"
hi @wearhere I read your comment at [https://github.com/danielsaidi/KeyboardKit/issues/45#issuecomment-623036884](url)

But I am unable to find this in repo.

Where can i find this change.

[2020-09-01 12:03] #117 closed

[2020-09-02 19:50] danielsaidi commented on #116
Hi! You can use any views with KeyboardKit so you can just create views or buttons that send a text action to the action handler.

[2020-09-02 19:52] danielsaidi commented on #115
Hi! Yes, I will try to get better demos in place.

[2020-09-02 23:05] khaelou commented on #115
Okay, highly appreciated!

[2020-09-03 05:38] danielsaidi commented on #115
Actually, I'd love to keep this issue around to remind me to create more demos 👍

[2020-09-03 06:28] albilaga opened #118 "TextField inside the custom keyboard kit"
I want to create custom keyboard with `TextField` inside it. I already created view for `topView` like this
[code]
So the UI working just fine but the problem is when I use custom keyboard to type, it is sending the data to `TextField` on the outside custom keyboard not in the `TextField` above. Any idea how to do it @danielsaidi @wearhere ?

[2020-09-11 14:57] jackhumbert commented on #38
I was able to hone this in a little more for use with (semi)transparent buttons:

[code]

The `path.append` cuts out the button's shape from the shadow, so the area under the actual button doesn't get darken. I also found that there is a slight difference between the dark and light versions - these are the settings I found to look the closest:

[code]

If you're interested in this at all, I'd be h

[2020-09-12 11:21] danielsaidi commented on #103
I won't go down this road. `UIKit` will still be supported even when the library shifts focus to `SwiftUI`.

[2020-09-12 11:21] #103 closed

[2020-09-12 14:24] danielsaidi commented on #38
Looks great! I'd love a PR 👍

[2020-09-12 22:11] danielsaidi commented on #115
I have gone through the docs and separated the `UIKit` and `SwiftUI` parts. I'm also simplifying the demos, so I hope that you will find the 3.1 demos and docs easier to follow.

[2020-09-12 22:11] #115 closed

[2020-09-12 22:12] danielsaidi commented on #76
I added more `[weak self]` a while back. Hopefully they solved the memory leaks. If not, feel free to reopen this ticket.

[2020-09-12 22:12] #76 closed

[2020-09-12 22:13] danielsaidi commented on #73
This ticket is a duplicate of other tickets. Closing this.

[2020-09-12 22:13] #73 closed

[2020-09-12 22:15] danielsaidi commented on #92
@wearhere I'm working on 3.1 and to add autocomplete support to SwiftUI. After that, I'd love to take a look at your code for displaying that callout.

[2020-09-13 13:03] danielsaidi commented on #105
Autocomplete support has been added to KeyboardKitSwiftUI and to the SwiftUI demo app.

[2020-09-13 13:03] #105 closed

[2020-09-13 13:06] danielsaidi opened #120 "Add auto-capitalization behavior to keyboard action handler"
Native keyboards auto-switch to upper-case when they are not in mid-sentence. KeyboardKit should do so as well, or at least provide a way to easily configure the keyboard to do so.

I found this post and found his way to reason about it valid:
https://shyngys.com/ios-custom-keyboard-guide

I'll look into it, but it should be really easy to fix, using the end of sentence logic from the autocomplete

[2020-09-13 17:19] khaelou commented on #115
This is nice yet this still isn't easy to follow considering if I wanted to start from scratch by simply importing the kit

[2020-09-13 19:41] danielsaidi commented on #109
I have added an image keyboard to the SwiftUI demo extension. It applies a custom height to highlight the current resizing bug that affects SwiftUI-based keyboards: https://github.com/danielsaidi/KeyboardKitSwiftUI/issues/2

[2020-09-13 19:41] #109 closed

[2020-09-13 21:24] danielsaidi commented on #108
I have added a limited emoji keyboard to the SwiftUI demo app. It's not as powerful as the UIKit one, but once KeyboardKit supports SwiftUI 2, I will create one with lazy stacks.

[2020-09-13 21:24] #108 closed

[2020-09-13 21:36] danielsaidi commented on #45
Since SwiftUI makes the top actions so easy to implement, I will make this issue focus on adding a text field to the keyboard. I will try to get a working demo for this in a while.

[2020-09-13 21:38] danielsaidi commented on #57
Multi-language keyboards are much easier to implement in KeyboardKitSwiftUI, so I will close this ticket for now.

[2020-09-13 21:38] #57 closed

[2020-09-13 21:41] danielsaidi commented on #107
I will make the system buttons look better in 3.2.

[2020-09-13 21:42] #116 closed

[2020-09-14 07:38] danielsaidi commented on #115
@khaelou I have added two short tutorials for UIKit- and SwiftUI-based keyboard. Have a look to see if you find them useful. You can find them from the main readme and from the new `SwiftUI` and `UIKit` sections.

[2020-09-15 06:35] Dennisdezhangaho opened #121 "Hi Daniel: i think i get a support issue, just let you know"
error: The package product 'Mockery' requires minimum platform version 10.15 for the macOS platform, but this target supports 10.10 (in target 'KeyboardKitTests' from project 'KeyboardKit')

[2020-09-15 06:40] danielsaidi commented on #121
Ah, thank you! I'll fix it immediately.

[2020-09-15 06:48] Dennisdezhangaho commented on #121
<img width="363" alt="Screen Shot 2020-09-15 at 2 47 29 PM" src="https://user-images.githubusercontent.com/41890721/93175562-631e3080-f762-11ea-9929-03f9416bc672.png">
no need to fix it, i think i made a mistake here. sorry for that

[2020-09-15 06:55] danielsaidi commented on #121
Yeah, I just realized...KeyboardKit only supports iOS 🙃 ...but I think Xcode should remove unsupported platforms from that list. I've run into that myself many times.

But thanks to you, Mockery now supports 10.10 👍

[2020-09-15 06:55] #121 closed

[2020-09-15 06:57] danielsaidi commented on #121
At least now, you get a better error message, so thank you once again!

<img width="1258" alt="image" src="https://user-images.githubusercontent.com/429927/93176327-66e58f00-f731-11ea-9235-298f0458a788.png">

[2020-09-18 19:17] xingY97 opened #122 "Keyboard Not showing up when running with a targetted custom keyboard."
Hi, congratulation on this excellent keyboard package!

I'm working on a personal project with a translation feature on my keyboard, I followed the UIKit tutorial on your README file.
But for some reason, your Keyboard is not showing up when I select an input filed. Can you provide any insight on why is this happening?

Here is the error message:
keyboardExtentionTest[81444:12933962] [External] -[

[2020-09-19 18:26] albilaga opened #123 "Possible Memory Leak On Keyboard Kit"
I tried both `KeyboardKitDemoKeyboard` and `KeyboardKitDemoKeyboard_SwiftUI`. When running, open debug session and try change keyboard many times (from keyboard kit demo to native and vice versa). Notice in debug session memory will always increase every time keyboard kit active (memory increased around 1.3 - 2 MB).

[2020-09-19 18:50] danielsaidi commented on #123
Great find! I thought it would be fixed in the SwiftUI project but I guess I’ll have to do some proper leak hunting 👍

[2020-09-20 05:44] albilaga commented on #123
I also tried to look at but all the instrument things is not familiar to me. I'll also take a look and update if found the cause :D

[2020-09-21 05:17] danielsaidi commented on #122
Hi @xingY97 - thank you! Other people have reported it as well, although I haven't had any problems. I will take a look at it when I get a chance.

However, it shouldn't stop the keyboard from showing up. Does this happen on a device or in the simulator? If it happens in the simulator, you may have to toggle the keyboard with Command+K.

[2020-09-21 18:56] xingY97 commented on #122
it happened in the simulator, I was able to pull up to keyboard file, but the file is empty

[2020-09-22 20:15] noajshu opened #124 "Strange AutoSuggest Errors in Certain Applications"
Thanks for this great framework! 👍
I have been working to debug strange behavior that only occurs in certain applications. Specifically this is very easy to reproduce in the Slack mobile app. This behavior can be reproduced in both the SwiftUI and UIKit versions of the KeyboadKit Demo Keyboard and in other downstream applications which use the framework.

**Steps to reproduce:**
1. Download the Sl

[2020-09-22 22:24] danielsaidi commented on #124
Wow, that's interesting! The `currentWord` logic has worked well for my basic tests, but it will be interesting to see what causes it to fail in these situations 👍

[2020-09-22 22:25] danielsaidi commented on #122
What do you mean with that the file is empty? Does the keyboard not show up?

Btw, are you using UIKit or SwiftUI?

[2020-09-22 22:27] danielsaidi commented on #118
As Jeffrey wrote when working on solving this, you have to switch the context's text document proxy when you select the text field. I'm not sure if this is doable in SwiftUI though.

[2020-09-23 23:50] ososoio opened #125 "Use setMarkedText() to handle multiple keystrokes character"
Hello,

I just found a perfect way to resolve my previous issue #54 .

In this [Apple Developer Documentation](https://developer.apple.com/documentation/uikit/keyboards_and_input/creating_a_custom_keyboard/handling_text_interactions_in_custom_keyboards), section *Mark Text While the User Is Editing*,
they introduces a `setMarkedText(_:selectedRange:)` method, shows how to combine multiple keystrok

[2020-09-23 23:51] ososoio commented on #125
I created a demo APNG with my keyboard:

<img src="https://user-images.githubusercontent.com/44096493/94085095-bca8ee00-fe39-11ea-9d24-2752fbb4b055.png" alt="Demo APNG" width="500"/>

[2020-09-24 00:14] ososoio commented on #125
I just added this to my keyboard project today, so excited can't wait to share with others 😄
This's quite different from current `Autocomplete`, but may be helpful for some other keyboard developers.

[2020-09-24 03:58] albilaga commented on #118
I use this https://stackoverflow.com/a/61121199/1351913 to recreate `CustomTextField` that inside `KeyboardKit`. And then I use `ObservedObject` to notify change from my view to the text in `CustomTextField` when `CustomTextField` is active.

[2020-09-24 06:37] danielsaidi commented on #118
Did that solve your problem?

[2020-09-24 06:43] danielsaidi commented on #125
@ososoio Exciting to read about your progress! Is the keyboard above a custom keyboard that you've build with KK?

[2020-09-24 07:22] ososoio commented on #125
@danielsaidi  It was based on KeyboardKit at the beginning, then I changed to just an `UIStackView` with several `UIButton`, for more precisely control and config.

[2020-09-24 07:39] danielsaidi commented on #125
I see, great job! So the callout with secondary actions is custom made by you as well?

[2020-09-24 07:55] ososoio commented on #125
Yeah, but the bubble preview just a `CABasicAnimation` with `UIBezierPath`, it does not contain further actions. I'm still finding a way to add input callout, hope you or someone might accomplish this.

[2020-09-24 22:01] albilaga commented on #118
Yes. This solve the problem

[2020-09-28 06:30] danielsaidi commented on #125
I'm reopening this to keep as a reference until I've improved this.

[2020-09-28 06:37] danielsaidi commented on #118
Cool, I'll see if I can add such a keyboard to the demo

[2020-09-29 17:25] noajshu commented on #124
I noticed this blog post:
[](https://www.grammarly.com/blog/engineering/string-index-type-safety-in-swift/)
I wonder if this may have something to do with it? Essentially for different character encodings the "replaceCurrentWord" functionality can become garbled.
Here is a quote:
"[...] Swift represents strings as a collection of grapheme clusters, and that’s what Apple’s deleteBackward method use

[2020-09-29 18:48] noajshu commented on #124
Actually I just tried out Grammarly's keyboard and it seems to have serious issues in Slack as well.

[2020-09-30 06:14] danielsaidi commented on #124
I don't like my current basic approach with the pre- and post cursor logic combined with a basic list of word delimiters. It doesn't work at all in Chinese and obviously has serious problems in other cases.

It was just the easiest implementation I could go with to get autocorrect to work at all, given my limited time with this library, but I should perhaps extract it into a protocol-based service

[2020-10-26 15:00] reeichert commented on #92
Hi guys, any update on this feature?

[2020-10-27 16:08] danielsaidi commented on #92
Hi! I haven't looked at it anymore, but I will be needing it for a personal project as well. That will be in SwiftUI, though.

[2020-10-27 17:31] wearhere commented on #92
Hey @danielsaidi, it might make sense to pursue a new implementation of this. I'm still happy to share the code I have written for my callouts, but it's pretty intricate and (more importantly) not using SwiftUI, so I'm not sure it'd make sense to try to merge into the project per se.

I'm still hoping to migrate my own keyboard to SwiftUI in which case I'd need (and might be interested in contribu

[2020-10-27 17:42] reeichert commented on #92
It's ok if you want make SwifUI-only, but since in my project I need to support iOS 11+, UIKit is the core for us.

Do you mind to share your implementation @wearhere ?

[2020-10-29 03:05] fukuru commented on #58
![Screen Shot 2020-10-28 at 11 02 07 PM](https://user-images.githubusercontent.com/41601425/97520429-9b27ae80-1971-11eb-91d1-0056f33b92b0.png)

Hey @danielsaidi,

I implemented `enableScrolling()` and while the toolbar itself is scrollable, the labels are too and therefore are truncated as shown in the image above. I have also tried adjusting the `distribution` property in `AutocompleteToolbarView

[2020-10-29 03:20] alongmatch commented on #123
Is this problem fixed?

[2020-10-29 06:48] danielsaidi commented on #123
Not yet :(

[2020-11-03 07:46] danielsaidi commented on #92
I'd love to take a new look at your implementation @wearhere and at least see how you created that nice bubble effect! However, I do agree with you that it's probably based on app-specific tweaks that make it hard to generalize for a library?

I'd have to sit down and take a look at the SwiftUI approach's inability to resize. I actually do resize in an app of mine, but it's a pretty app-specific s

[2020-11-07 06:36] TonnyToobler opened #126 "Landscape UI issue"
Switching to UI landscape mode causes a height issue, and when trying with demo application the UI design differs from the native keyboards, especially the second row and the entire height of the keyboard.

For the reference -
 **KeyboardKit demo application UI in Landscape**
![KeyboardKit-Demo-landscape-UI](https://user-images.githubusercontent.com/55737247/98433837-ace71f80-20f0-11eb-8aad-56540a

[2020-11-12 09:43] danielsaidi commented on #126
Hi Tonny! Thank you for the issue and the images!

Pixel perfect keyboards have been something that I've not aimed at achieving with neither the library or the demo keyboards. First, all locales have various button layouts, margins etc. and every iOS version, device and trait collection can affect the layout, colors etc. I tried doing it for English alone in a client project, and it was just overw

[2020-11-13 00:47] fukuru commented on #123
Hey, just checking in. Any leads on what could be causing the memory leak?

[2020-11-14 08:41] danielsaidi commented on #123
Hi! My gut feeling says that there is a missing weak self or weak/unowned dependency somewhere. I am swamped with work and another project, but will try to find time to fix this during December.

[2020-11-26 20:10] aliihsanural opened #127 "Show callout with secondary actions"
Hi danielsaidi,
First of all I thank to you for great repository.
I try to use your repo and in tests i didn't find a feature. I upload an image about this feature. In Default keyboard when i press to letter is growing as in the uploaded picture. But in your repo I didnt find this. Has your repo include this feature?. Also yours select letter when touchupinside but i think in default touchupOutsid

[2020-11-26 20:18] danielsaidi commented on #127
Hi @aliihsanural

This feature is not included at the moment, but it's on top of my list to do whenever I get time to work on this project again.

[2020-11-27 06:56] mustafaysil commented on #127
Hi @danielsaidi
if you want using Objective-C framework inside the KeyboardKit, I can recommended for aforementioned feature in this link: https://github.com/illyabusigin/CYRKeyboardButton
All the best!

[2020-11-27 07:46] danielsaidi commented on #127
Thank you! I will have to port this to SwiftUI though, since that is the future of this library.

[2020-11-30 14:01] danielsaidi opened #128 "Device specific row heights"
Today, the UIKit demo gets incorrect button heights and button insets on iPad and landscape oriented phones.

Adjust the standard height extension to be specific to `KeyboardStackViewComponent` instead, then add a standard inset property to `KeyboardButtonRowComponent` and apply them by default if no custom heights or insets are provided.

Make sure that all these cases work well:
- [x] iPhone 12

[2020-11-30 20:10] #128 closed

[2020-11-30 20:11] danielsaidi commented on #122
Closing this due to inactivity. Feel free to reopen if you have any additional information.

[2020-11-30 20:12] danielsaidi commented on #126
I have fixed the height issue in the **layout** branch, which will become 3.2 once I'm done with the insets and new layout.

[2020-11-30 20:13] danielsaidi commented on #114
This was due to not specifying the mock target signature, which caused a conflict.

[2020-11-30 20:13] #114 closed

[2020-11-30 20:17] danielsaidi opened #129 "Make SwiftUI demo use new default height and insets"
With the new UIKit height and inset adjustments, the SwiftUI app should use them too.

[2020-11-30 20:18] danielsaidi opened #130 "Make UIKit iPad demo use correct keyboard layout"
The iPad keyboard in UIKit does not position the system buttons correctly. The layout has system buttons rightmost on all rows, but the demo uses the phone layout.

[2020-11-30 20:19] danielsaidi opened #131 "Make SwiftUI iPad demo use correct button layout"
The iPad keyboard in SwiftUI demo does not position the system buttons correctly. The correct layout has system buttons rightmost on all rows, but the demo uses the phone layout.

[2020-12-01 15:00] danielsaidi opened #132 "Add support for more locales"
KeyboardKit currently has a `InputSet`, which has support for English.

Extend this with more locales and find a way to make this scaleable.

[2020-12-01 15:02] danielsaidi commented on #132
I have added support for German, Italian and Swedish and have also added a `KeyboardInputSetProvider` protocol, that can be used to resolve input sets in a more dynamic way.

KeyboardKit comes with a `StandardKeyboardInputSetProvider` which tries to use the current locale (falls back to English) and a `StaticKeyboardInputSetProvider` that just takes three sets when it's created.

[2020-12-01 15:02] #132 closed

[2020-12-01 20:14] danielsaidi commented on #123
I may have found the reason for this. The input view controller has a keyboard context, which refers back to the controller. I will try to make the contex's controller reference `unowned` to see if it solves the problem.

[2020-12-01 20:38] danielsaidi opened #133 "Should KeyboardKit have a register of all locales?"
If so, we can perhaps use this one here:
https://gist.github.com/jacobbubu/1836273

[2020-12-01 21:26] danielsaidi opened #134 "Remove controller from KeyboardContext"
This property should no longer exist.

Remove it from:
- KeyboardContext
- StandardKeyboardContext
- ObservableKeyboardContext

[2020-12-01 21:40] fukuru commented on #123
Thanks for looking into this Daniel! Keep us posted & let us know if we can help in any way.

[2020-12-02 07:42] danielsaidi commented on #130
The UIKit demo now uses the new utils to get a more native look.

Have a look at the screenshots for native vs. KeyboardKit comparisons.

I will however add an emoji button to the right of the space bar, which will make the demo look a little different.

![Simulator Screen Shot - iPad (8th generation) - 2020-12-02 at 08 28 36](https://user-images.githubusercontent.com/429927/100843180-41d40300-347

[2020-12-02 07:43] #130 closed

[2020-12-02 07:43] danielsaidi opened #135 "Identify iPad devices that lack a home button"
On iPhones without a home button, `needsInputModeSwitchKey` becomes `false`, which gives us a chance to customize the keyboard layout and not add the keyboard switcher, since it's not needed.

However, on iPad Air and iPad Pro, this doesn't work. `needsInputModeSwitchKey` becomes `true`, which causes these iPad devices to get the same keyboard layout as iPad devices with a home button.

See screen

[2020-12-02 07:46] danielsaidi commented on #135
![Simulator Screen Shot - iPad Air (4th generation) - 2020-12-01 at 21 47 19](https://user-images.githubusercontent.com/429927/100843583-dc344680-347a-11eb-9cf5-91ffa1df91fe.png)
![Simulator Screen Shot - iPad Air (4th generation) - 2020-12-02 at 08 27 48](https://user-images.githubusercontent.com/429927/100843588-dd657380-347a-11eb-9c02-fd7f802c1c85.png)

[2020-12-02 07:48] danielsaidi opened #136 "Identify large iPad Pro devices"
Large iPad Pros have a complex keyboard layout that is currently not implemented:

![Simulator Screen Shot - iPad Pro (12 9-inch) (4th generation) - 2020-12-01 at 21 51 51](https://user-images.githubusercontent.com/429927/100843728-14d42000-347b-11eb-82ce-2b271f2ff61b.png)

[2020-12-02 16:40] danielsaidi commented on #123
Thanks @fukuru - I really appreciate it!

Unfortunately, memory still seems to grow with ~1Mb every time I recreate the extension, so I guess it's still there.

I will aim to solve this in the next minor version.

[2020-12-02 22:10] #131 closed

[2020-12-02 22:11] #129 closed

[2020-12-02 22:13] danielsaidi opened #137 "SwiftUI keyboard should resize when keyboard type changes"
Today, SwiftUI keyboards don't automatically change height if their keyboard type changes to a keyboard with another size than the current one. This makes the new keyboard adapt to the old height.

Instead, the SwiftUI setup should also setup the view controller to listen for changes in the keyboard type, and setup itself for the new keyboard.

[2020-12-02 22:57] #137 closed

[2020-12-02 22:59] danielsaidi commented on #126
I'll keep this issue around to keep the inset problems top of mind.

[2020-12-02 23:22] danielsaidi commented on #123
Ok, I have sat with this for an hour now and can reproduce the exakt behavior that @albilaga reports.

In UIKit, instruments point out `DemoButton` and `RepeatingGestureRecognizer` when I check for memory leaks. That doesn't mean that the gesture must be the one containing the leak, only that it's not released since the button it not released.

However, I cannot find the problem. I see no obvious

[2020-12-02 23:22] danielsaidi commented on #123
I was hoping to find the leak and include it in 3.2, but I think it'll have to be in another version.

[2020-12-04 01:14] fi0 opened #138 "Dark Mode"
System keyboard
![image](https://user-images.githubusercontent.com/25412990/101109090-061f7180-3611-11eb-8bdf-0b94597ab65e.png)

KeyboardKit
![image](https://user-images.githubusercontent.com/25412990/101109109-0fa8d980-3611-11eb-9cdd-ba17310e7d62.png)

Is there an option for a theme that looks more similar to the system keyboard?

[2020-12-04 03:07] fi0 commented on #138
Probably it's a simulator issue. It looks fine on a real device.

[2020-12-04 04:53] Dennisdezhangaho opened #139 "AutoCorrection"
Do you have a Kit for word-autocorrection?

[2020-12-04 08:02] danielsaidi commented on #139
Hi @Dennisdezhangaho

Unfortunately not at the moment, but if you mean what I think you mean, that the word you're typing should provide autocomplete callout bubbles in the textfield that is being edited, that should be handled by the system, right?

[2020-12-04 08:04] danielsaidi commented on #138
Hi @fi0

This is a duplicate of #107 and I still get the incorrect colors when I run the SwiftUI demo app.

However, the UIKit demo gets the correct colors 🤔

[2020-12-04 08:09] danielsaidi commented on #123
I aim to fix this and the SwiftUI dark appearance color bugs in a patch next week.

[2020-12-04 08:16] Dennisdezhangaho commented on #139
Not a bubble, just like the autocomplete function you have, and for extra, it will provide a library, give word suggestion when you type wrong!

Sent from my iPhone

[2020-12-04 08:21] danielsaidi commented on #139
Ah, so the autocomplete that is in the demo, just with corrections instead of suggestions?

There is nothing built in, but there is a protocol that you can implement to create your own autocomplete provider. There really should be something in the system lexicon, otherwise you can use a cloud-based service.

[2020-12-04 08:44] fi0 commented on #138
Thank you. I'm closing this issue in favor of #107

[2020-12-04 08:44] #138 closed

[2020-12-04 10:17] Dennisdezhangaho commented on #139
Yes, you are right.

My difficulty is that I have not any coder experience, but I really want to develop a custom keyboard my self. Never mind, I am learning, maybe I should go to some lessons!

[2020-12-04 17:35] fukuru commented on #123
Much appreciated @danielsaidi

[2020-12-04 20:50] aliihsanural commented on #127
Hi danielsaidi,
I really appreciate to hear that our demand is in your plan. I hope this feature will come as soon as possible 🙏.
Thank you so much again.

[2020-12-05 08:07] fi0 commented on #104
Will UIKit still be supported?

[2020-12-05 09:05] danielsaidi commented on #104
Yes, I will make sure that the upcoming layout engine is implemented for UIKit as well. Also, everything that is added can be used by UIKit as well. I will not actively remove it.

However, I will most probably make a mental shift to SwiftUI and focus on that experience being as good as it can possibly be. UIKit will be around, but I will for instance perhaps not add secondary action gestures, cal

[2020-12-05 09:26] fi0 commented on #104
Thank you! :)

[2020-12-06 09:57] mustafaysil opened #140 "Can change the keyboard keys height ?"
Hi @danielsaidi ,
First of all I thank to you for great repository.
Is it possible to change the height of the keyboard keys ?
Thanks for answer and for all 🙏🏻

[2020-12-07 07:35] danielsaidi commented on #140
Hi @mustafaysil

Thank you for using it! 👍

Yes, the heights can be customized.

The UIKit demo (KeyboardKitDemoKeyboard) uses `KeyboardButtonRow`s, which supports passing in a custom `height` argument. By default, it uses a default height that aims at mimicking the system keyboard.

The SwiftUI demo (KeyboardKitDemoKeyboard_SwiftUI) uses a `SystemKeyboard`, which supports passing in a custom `but

[2020-12-07 07:35] #140 closed

[2020-12-07 07:36] danielsaidi commented on #139
Sounds great! This support will be improved in the SwiftUI parts of the library over time 👍

[2020-12-07 07:36] #139 closed

[2020-12-07 07:37] danielsaidi commented on #51
I will see where this ends up, but I will not implement this for UIKit.

[2020-12-07 07:37] #51 closed

[2020-12-07 07:39] danielsaidi commented on #82
@wearhere I'm planning the upcoming releases and just wanted to see if you came up with something here?

[2020-12-07 07:41] danielsaidi commented on #127
Hi @aliihsanural - yes, I will try to find a nice way to implement this. One question, do you use UIKit or SwiftUI?

[2020-12-07 07:42] danielsaidi commented on #123
@fukuru Another project came up, but I hope that will have time to look at at least the memory leak, which now is one leak in UIKit and one in SwiftUI.

[2020-12-07 08:35] aliihsanural commented on #127
Unfortunately I use UIKit 😔.

[2020-12-07 08:46] danielsaidi commented on #127
There is another issue for this, where a UIKit implementation is discussed. Look here: #93

[2020-12-07 09:00] mustafaysil commented on #140
Hi @danielsaidi
Cool, i got it now. :blush:
thank you very much for your answer. 🙏🏻
All the best!

[2020-12-08 07:45] danielsaidi commented on #127
@mustafaysil I had a look at CYRKeyboardButton and while it looks great, there are a bunch of drawbacks:

- It's written in obj-c and hasn't been updated in 6+ years
- It's based on a TurtleBezierPath lib that hasn't been updated in 7+ years
- It has quite a lot of code that would have to be ported

However, the end result is great, so it's a shame that it hasn't been updated and isn't a standalon

[2020-12-08 07:46] #127 closed

[2020-12-08 07:47] #126 closed

[2020-12-08 07:49] danielsaidi commented on #125
@ososoio Do you have some sample code for the callout bubble? I'm hoping to implement it in UIKit and then in SwiftUI.

[2020-12-08 11:52] danielsaidi opened #141 "Memory leak in SwiftUI"
There is a memory leak in the SwiftUI library, that is unlike the one in UIKit.

[2020-12-08 11:53] danielsaidi commented on #123
The DemoButton memory leak disappears if I comment out `viewController.addKeyboardGestures(to: self)`.

[2020-12-08 12:16] danielsaidi commented on #123
The bug is because the `RepeatingGestureRecognizer` does this: `self.delegate = self`

Not that surprising hahaha.

[2020-12-08 13:18] danielsaidi commented on #123
The leak has been solved 🎉 The problem was that the action that was passed into the repeating gesture recognizer had a reference to the button argument, which wasn't made weak before being passed into the action.

However, I still see a memory leak when I switch keyboards, but it doesn't seem to be caused by any code in KeyboardKit:

<img width="370" alt="image" src="https://user-images.githubuser

[2020-12-08 13:28] #123 closed

[2020-12-09 09:05] albilaga commented on #123
I am now no longer working on keyboard project so sadly I don't. know if it is solve my previous problem or not. But thank you for your hard work. The lib is great 👍

[2020-12-09 12:30] ososoio commented on #125
@danielsaidi
Hi, my solution is a `CABasicAnimation` transfer from original key button shape to a key with bubble,

the animation function is here:
https://github.com/yuetyam/jyutping/blob/50ee2937b5531213495eef73a109ca9682a3b696/Keyboard/KeyButton/KeyButton.swift#L63

the key button shapes are here:
https://github.com/yuetyam/jyutping/blob/50ee2937b5531213495eef73a109ca9682a3b696/Keyboard/KeyButt

[2020-12-14 22:48] danielsaidi opened #142 "Rewrite the caps lock double tap logic."
Today, the keyboard switch requires a delay, so that buttons (e.g. the Shift button) has time to register a double tap.

However, this is not good, since the delay can interfere with typing. Instead, let the action handler hold and manage this state and move to caps lock if a short-lived flag is active.

[2020-12-29 00:14] danielsaidi commented on #142
I have moved the responsibility of this from the double-tap action to a new `keyboard action behavior`, which is used by the standard keyboard action handler. It keeps track of the last time a shift button was tapped and causes the keyboard to auto-switch to a capslocked state.

As such, the button doesn't have to be around long enough to be double-tapped, which means that we no longer need the de

[2020-12-29 01:00] danielsaidi commented on #142
These changes can be tested in `master`.

[2020-12-29 01:00] #142 closed

[2020-12-29 01:02] danielsaidi commented on #120
This has been implemented in `3.3` and can be tested in `master`.

[2020-12-29 01:02] #120 closed

[2020-12-29 01:03] danielsaidi commented on #118
Duplicate of #45

[2020-12-29 01:03] #118 closed

[2020-12-29 20:44] devzhr opened #143 "Update Keyboard or AlphabeticKeyboard"
Hi,

How to Update `Keyboard` or `AlphabeticKeyboard` after `func handleTap()` since `text` if the text equals` "test1"` ?

Thank you

[2020-12-29 21:00] danielsaidi commented on #143
Hi! I’m not sure I follow. Can you explain in more details?

[2020-12-29 23:31] devzhr commented on #143
J'ai deux type de clavier azerty et qwerty et dans autocomplete et ajouter un array ['azerty', ´qwerty '] et je sais que la fonction handleTap qui gère le truc alors ma question comment je peux mettre le clavier a jour après le  clique sur handleTap ça veut dire changer les nouveaux caractères vers azerty ou qwerty

[2020-12-30 06:58] danielsaidi commented on #143
Aha, so you want to change the keyboard type?

If you create a custom action handler (you can look at `DemoKeyboardActionHandlerBase` in the demos), you can just override `handle(_ gesture: KeyboardGesture, on action: KeyboardAction, sender: Any?)`, call `super` then do your custom things, whatever that may be.

To actually replace the keyboard, it works differently if you use `UIKit` or `SwiftUI`

[2020-12-31 11:52] devzhr commented on #143
Thank you for your reply,

I use `UIKit`

I tried to override `func handleTap()` in your `DemoKeyboardViewController` but I can't

and especially reload the keyboard after some conditions on `handleTap ()`

[2021-01-04 08:15] danielsaidi commented on #143
Do you also call `super.handleTap()`?

[2021-01-04 11:04] devzhr commented on #143
can you provide me a piece of code like in function or extension to add on `DemoKeyboardViewController` so that I can `override handleTap` and add code that reloads the `keyboard` ?
we are still talking about switching the keyboard to AZERTY after `handleTap`

[2021-01-04 11:14] devzhr opened #144 "'shared' is unavailable in application extensions for iOS: Use view controller based solutions where appropriate instead."
public extension UIEdgeInsets {

`'shared' is unavailable in application extensions for iOS: Use view controller based solutions where appropriate instead.`
<img width="897" alt="Capture d’écran 2021-01-04 à 12 12 19" src="https://user-images.githubusercontent.com/20423496/103529675-5a26ab80-4e86-11eb-897c-c7a137305450.png">

[2021-01-05 21:26] #143 closed

[2021-01-06 14:20] Jinil-JP commented on #144
Hello @devzhr, Add this in your pod file and reinstall your pods or update it. it will helps you.

post_install do |installer|
  installer.pods_project.targets.each do |target|
    target.build_configurations.each do |config|
      config.build_settings['APPLICATION_EXTENSION_API_ONLY'] = 'No'
    end
  end
end

[2021-01-06 14:34] Jinil-JP opened #145 "Accent Not Supported"
Accent Not Supported in this Keyboard kit. I Already Implement a full keyboard kit then I Found there is no functionality for Accents.

[2021-01-06 15:04] Jinil-JP commented on #92
Hello @danielsaidi Do you find a way to add this bubble effect for accent in this project?

[2021-01-06 18:08] danielsaidi commented on #92
Hi @Jinil-JP - I'm actually sitting with it right now. I have a working approach in a demo application and will begin adding it to the main project now. However, there is still some work left to make it fit into the rest of the design, so it may take a while before it's available. I have a model that works for both UIKit and SwiftUI as well as a bubble that works in SwiftUI.

[2021-01-06 18:09] danielsaidi commented on #145
I am working on it now. I have the callout bubble sorted out in an external project, but will have to fit it into the KK architecture and also find an extensive way to specify secondary callout actions for any char and emoji action.

[2021-01-06 18:11] danielsaidi commented on #144
Thank you @Jinil-JP for suggesting a solution!

@devzhr Can you verify that this works? If so, I'll add it to the readme. You can also try using SPM.

[2021-01-07 00:52] danielsaidi opened #146 "KK doesn't adapt if dark mode is toggled when the keyboard is visible"
If you open a KK keyboard then toggle dark mode, the keyboard will not respond to the change.

[2021-01-07 00:55] danielsaidi commented on #145
I have merged a first implementation of accent support to **master** 🥳

Feel free to check it out and give it a good try. It still has some rough edges, but I'm really happy with the result so far.

![IMG_0209](https://user-images.githubusercontent.com/429927/103837132-5a43c880-508b-11eb-8e3b-3b254aec4646.PNG)

[2021-01-07 00:57] danielsaidi commented on #145
I'm reopening this and will close it after 3.4 is out.

[2021-01-07 00:59] danielsaidi commented on #93
I have finally managed to put together a first implementation of a secondary input callout! See the screenshot below 🥳

I have also created a start set for secondary input actions, which currently supports English and Swedish, but can be easily extended with more locales.

I have merged this **master** and added it to the SwiftUI SystemKeyboard. Feel free to check it out and give it a good try. It

[2021-01-07 01:04] danielsaidi commented on #55
I have finally implemented a first version of this, see the attached screenshot! 🎉

This a SwiftUI exclusive implementation, although the general, locale-based data source over secondary inputs for each character is UIKit/SwiftUI agnostic. This data source currently supports English and Swedish, but can easily be extended to support more locales.

This callout is automatically enabled for the Syst

[2021-01-07 01:07] danielsaidi commented on #92
I have just implemented a callout bubble for secondary inputs, so I will reuse that logic to implement the typing callout as well.

[2021-01-07 01:41] devraj opened #147 "Custom autocomplete toolbar to display secondary hint text"
__Note:__ From the outset we believe that this is something that would exists in parallel to the autocomplete feature that's already part of Keyboard Kit.

## Use case:

We are building custom keyboards for an [indigenous language program](http://www.wcclp.com.au) in Australia, their attempt is to restore, revive and reclaim Indigenous Languages. The keyboard offers an autocomplete feature for the

[2021-01-07 04:36] devraj opened #148 "Selected language hint displayed in space bar"
## Use case

Following #147 it would be nice to have the ability to provide a text which denotes the current languages and it's displayed on the space bar of the provided system keyboard.

The native iOS keyboard does this quite nicely.

[2021-01-07 08:13] Jinil-JP commented on #145
Do you update it in Swift UI or UI KIt? I want it on UI KIt so if not then I will try to implement that one by comparing swift UI if you already do that please let me know so we can easily improve this one.

[2021-01-07 15:12] Jinil-JP commented on #144
Yes we can also do it by a change in Build Setting -> Required Only App Extension - Safe API to NO.

[2021-01-07 18:30] devzhr commented on #144
@danielsaidi  Yes this work 👍 with :
[code]
Thank you @Jinil-JP

[2021-01-07 20:28] danielsaidi commented on #145
I have just released KeyboardKit 3.4, which has SwiftUI support for this.

I'm closing this issue, but I'd love to take a look at any UIKit-based implementation you may put together. You can have a look at how I've implemented this in SwiftUI and perhaps aim for a similar solution for UIKit?

You can also make use of the new secondary callout action provider and the new keyboard action extension f

[2021-01-07 20:28] #145 closed

[2021-01-07 20:29] danielsaidi commented on #107
I tried solving this in 3.4 but I didn't want it to block the new callout logic, so I'll fix it later.

[2021-01-07 20:30] danielsaidi commented on #92
I have just released KeyboardKit 3.4, which has SwiftUI support for this.

I would love some extra eyes in the result and would love to improve the overall look and feel over time.

[2021-01-07 20:30] #92 closed

[2021-01-07 20:30] danielsaidi commented on #93
I have just released KeyboardKit 3.4, which has SwiftUI support for this.

I would love some extra eyes in the result and would love to improve the overall look and feel over time.

[2021-01-07 20:30] #93 closed

[2021-01-07 20:30] danielsaidi commented on #55
I have just released KeyboardKit 3.4, which has SwiftUI support for this.

I would love some extra eyes in the result and would love to improve the overall look and feel over time.

[2021-01-07 20:30] #55 closed

[2021-01-07 22:52] danielsaidi commented on #144
Thanks @devzhr and @Jinil-JP - I've added the post install part to the main readme.

[2021-01-07 22:52] #144 closed

[2021-01-07 22:55] danielsaidi commented on #147
Great fleshed out issue, thank you!

I'll consider whether to adjust the autocomplete protocol for this feature or if this is more app-specific that can draw inspiration from what's already in the library.

[2021-01-07 22:57] danielsaidi commented on #148
Yes, 100% agree! I'd love to be able to have language-specific texts for return as well.

I'm thinking that this may be something that could use the same approach as the newly added secondary callout action provider, where `KeyboardAction` has standard actions and the library then has a provider protocol that has a standard implementation that returns the standard actions, but that can be overridd

[2021-01-08 08:36] Jinil-JP commented on #145
Yes, I am on the way to developing these types of accent supports for UIKit. I will update you for this.

[2021-01-08 08:42] danielsaidi commented on #145
Perfect, thank you!

[2021-01-08 09:01] danielsaidi opened #149 "Add SwiftUI-based emoji keyboard"
Create a lazy grid-based emoji keyboard. However, this will only be available in iOS 14 and later.

[2021-01-08 10:06] danielsaidi opened #150 "Hosting controller view isn't resized when the keyboard size changes"
`KeyboardHostingController` is correctly displayed when the keyboard is first presented. However, I would like to investigate if the keyboard size changes according to new keyboards and screen orientation changes.

This only applies to SwiftUI-based keyboards.

[2021-01-08 10:08] danielsaidi opened #151 "Secondary callout bubble should resize to fix button content"
Today, the secondary callout bubble items are resized to the size of the keyboard button.

However, this causes wide chars like ‰ to be chopped off. Due to this, I have disabled wide chars in the callout until this issue is fixed.

The callout items should either have dynamic width (which causes problems with positioning the bubble) or find a way to let the button content not cut off.

[2021-01-08 15:21] danielsaidi opened #152 "Disable keyboard input callout on iPad devices"
The native keyboard input callout bubble is not active on iPad devices. Instead, the buttons are highlighted when pressed.

Disable the callout bubble by default on iPad and add a color highlight instead.

[2021-01-08 15:22] danielsaidi opened #153 "Add keyboard button color shift on iPad devices"
The native keyboard input callout bubble is not active on iPad devices. Instead, the buttons are highlighted when pressed.

Disable the callout bubble by default on iPad and add a tap animation instead.

[2021-01-08 15:25] danielsaidi opened #154 "Create a SwiftUI emoji keyboard"
The current demo has a limited emoji keyboard. Add a full one to be a part of the keyboard.

[2021-01-08 16:17] danielsaidi opened #155 "Add curves to the secondary input callout"
Make the secondary callout look something like this:

<img width="339" alt="image" src="https://user-images.githubusercontent.com/429927/104038368-4efcb400-51d5-11eb-8e0a-e8409eba3034.png">

[2021-01-08 16:18] danielsaidi opened #156 "Add curves to the input callout"
Make the input callout feature curves like this callout:

<img width="339" alt="image" src="https://user-images.githubusercontent.com/429927/104038474-73589080-51d5-11eb-9506-70dde3afb55e.png">

[2021-01-08 17:04] danielsaidi commented on #155
I will add this to the next version, but you can already test it in **master** and the demo app.

The end result looks like this:

![IMG_CEC64E6E5D41-1](https://user-images.githubusercontent.com/429927/104043252-d5b48f80-51db-11eb-817e-c5fd06635b30.jpeg)

This is not 100% accurate, though, since native iPad keyboards have a different callout...but I like this better :)

[2021-01-08 17:06] #155 closed

[2021-01-08 18:38] danielsaidi commented on #156
I have fixed this and will release it in the next patch version. You can try it in **master** and in the demo app.

This is how it looks:

![IMG_0235](https://user-images.githubusercontent.com/429927/104051807-02bb6f00-51e9-11eb-819e-b7e3618a142e.PNG)

[2021-01-08 18:38] #156 closed

[2021-01-08 23:14] #151 closed

[2021-01-09 13:40] Jinil-JP commented on #156
when will we target to launch this feature in UIKIt?

[2021-01-09 13:51] danielsaidi commented on #156
I'd be happy to do so at anytime.

[2021-01-10 12:00] danielsaidi commented on #152
This can be tested in **master**.

[2021-01-10 12:00] #152 closed

[2021-01-10 12:03] danielsaidi commented on #148
@devraj I have made pretty huge structural changes and a lot of deprecations to make this easier. There are just a few breaking changes that should not affect too many people, and if so the required changes are trivial.

I have made it easier to replace views in `SystemKeyboard`, have separated out a `SystemKeyboardButtonContent` from the buttons view and have added new `SystemKeyboardSpaceButton`

[2021-01-10 12:03] #148 closed

[2021-01-10 12:04] danielsaidi commented on #147
I will try making the autocomplete feature more general and replace the String typealias with a protocol. I hope that I'll be able to do this without any breaking changes.

[2021-01-10 12:50] danielsaidi commented on #148
This is what it looks like if you replace the standard space button with a `SystemKeyboardSpaceButton`:
https://user-images.githubusercontent.com/429927/104123294-b0925f00-534a-11eb-910d-893471584eef.mov

[2021-01-10 12:52] danielsaidi commented on #148
This is what it looks like if you replace the standard space button with a `SystemKeyboardSpaceButton`:

Uploading RPReplay_Final1610279067.MP4…

[2021-01-10 12:56] danielsaidi commented on #147
Ok @devraj - it's done!

I have redesigned the autocomplete feature to use a new `AutocompleteSuggestion` protocol. To avoid many breaking changes, `String` currently implements `AutocompleteSuggestion`.

By injecting a custom view into the autocomplete toolbar, you can then return a custom view if the suggestion has a subtitle. I have done this in the demo app, to make the result look like this:

[2021-01-10 12:57] danielsaidi commented on #147
This will be in the next minor version, but you can already give it a try in **master**.

[2021-01-10 12:57] #147 closed

[2021-01-10 12:58] danielsaidi commented on #14
I will not make this in 3.5 and probably not even in 3.6 so I remove this for now.

[2021-01-10 13:02] danielsaidi commented on #82
I will implement this for SwiftUI and will aim to do so by adding a new gesture action that takes an initial drag position and an offset. The standard keyboard action handler will then by default move the cursor left/right when the user drags space.

[2021-01-10 19:24] danielsaidi commented on #82
@Renny-X @wearhere I have added an implementation for this to the `StandardKeyboardActionHandler`. The `SwiftUI` button gesture is connected to this functionality, while the UIKit is not.

[2021-01-10 19:44] #82 closed

[2021-01-10 20:11] danielsaidi opened #157 "Make keyboard button sizes easier to configure."
Much like the input set provider and keyboard layout provider, we should have something that provides us with standard sizes for a keyboard button, so that the keyboard views themselves don't have to keep this in mind.

I'm thinking a `standardButtonWidth(for: context)` `KeyboardAction` extension that returns an enum that has `.fixed`, `.shared`, `.percentual` etc. sizes, so that the views only ha

[2021-01-10 20:12] danielsaidi commented on #157
Once we have this provider in place, we should also let it be responsible for the keyboard dimensions that is now injected into `SystemKeyboard` and `SystemKeyboardRowItem`.

[2021-01-10 20:14] danielsaidi commented on #150
It actually was 🙃

[2021-01-10 20:14] #150 closed

[2021-01-10 20:18] danielsaidi commented on #136
I have looked at other keyboards, like SwiftKey, and think I will leave this to anyone who needs this level of replication.

Adding this support to the library would make KeyboardKit very complex and hard to use. I think it's better to aim for a good iPhone and iPad baseline, then provide intuitive ways to customize the keyboard instead.

The new provider concept is a way that I think simplifies c

[2021-01-10 20:18] #136 closed

[2021-01-10 20:22] danielsaidi commented on #135
I have looked at other keyboards, like SwiftKey, and have decided to leave this to anyone who needs this level of replication.

Adding this support to the library would make KeyboardKit very complex and hard to use. I think it's better to aim for a good baseline, then provide intuitive ways to customize the keyboards instead.

The new provider concept is a way that I think simplifies customization

[2021-01-10 20:22] #135 closed

[2021-01-10 20:24] danielsaidi commented on #84
I think I will use the same provider concept as we have for many other things in the library now. The provider will then be added to the context, which makes it easy to replace.

[2021-01-10 21:51] danielsaidi opened #158 "Use UITextChecker to create a standard autocomplete suggestion provider"
A client suggested that I should look into `UITextChecker` for autocomplete/correct logic.

[code]

It looks promising, so perhaps I'll add it as a standard provider.

[2021-01-10 21:56] danielsaidi commented on #147
Big thanks to @devraj and [Anomaly Software](http://anomaly.net.au/) for sponsoring this feature. Highly appreciated!

[2021-01-10 21:58] danielsaidi commented on #148
Big thanks to @devraj and [Anomaly Software](http://anomaly.net.au/) for sponsoring this feature. Highly appreciated!

[2021-01-11 15:04] danielsaidi opened #159 "Minor 3.5 glitches"
Some minor things should be fixed as a hot fix to the 3.5 release:

- [x] There's a bug that causes upper-case chars to not get any secondary actions.
- [x] Pressing and holding a button with no secondary actions should not dismiss the input callout.

[2021-01-11 20:51] danielsaidi opened #160 "Some apps scales up keyboard and causes tears in the callout bubble"
If you try the SwiftUI demo app, the secondary callout bubble looks good in most apps.

However, the WhatsApp, Google Chat and LinkedIn apps do something with the keyboard, that causes it to become taller than in other apps. Also, the globe and dictation buttons are larger, as if the app puts some transform on the keyboard.

In this image, LinkedIn is to the left and Google Chat to the right:

![i

[2021-01-11 20:58] danielsaidi opened #161 "Ending a sentence with space should have a time limit"
Today, tapping two spaces after each other closes the current sentence. It doesn't matter if you want 1 second, 10 seconds or a day. However, the system keyboard HAS a time limit, so that should be the default behavior here as well.

[2021-01-11 21:17] danielsaidi commented on #159
These minor adjustments are

[2021-01-11 21:17] #159 closed

[2021-01-12 08:17] danielsaidi commented on #157
I think I will focus on emojis and small ui glitches in 3.6, then aim for the layout engine in 3.7.

[2021-01-12 08:23] danielsaidi commented on #125
Hi @ososoio - hope you're doing well! I just wanted to let you know that I have implemented a first, rough take on the input callout and secondary actions as well. It's SwiftUI-specific, though, but I'd love a shape-based bubble instead of the composite view I have today.

I'm still interested in improving the input and ac experience for non-western keyboards, so I will keep this issue around and

[2021-01-12 20:15] danielsaidi opened #162 "Make entire autocomplete button tappable."
The current autocomplete button only receives tap actions where there's content. Make the entire button tappable.

[2021-01-12 20:28] #162 closed

[2021-01-12 20:29] danielsaidi opened #163 "The tap gesture action should trigger if the secondary input callout gesture ends without secondary actions"
The default behavior for a button gesture should be to trigger the tap gesture action if the secondary callout gesture finishes without any actions in the callout.

[2021-01-12 20:30] #163 closed

[2021-01-13 22:11] danielsaidi opened #164 "The autocomplete toolbar should always append a space to the end of the proxy."
I have adjusted the toolbar so that it does if the replacement doesn't end with a space.

[2021-01-13 22:16] #164 closed

[2021-01-13 22:27] danielsaidi commented on #133
I close this, since I don't think so.

[2021-01-13 22:27] #133 closed

[2021-01-14 03:41] Brennanium opened #165 "SecondaryInputCalloutContext.shared doesn’t update"
```SecondaryInputCalloutContext.shared``` doesn’t update when the public field ```ObservableKeyboardContext.secondaryCalloutActionProvider``` is changed.

The result is if you try to set your own ```SecondaryCalloutActionProvider``` in a ``` KeyboardInputViewController```’s ```viewDidLoad```, the custom ```SecondaryCalloutActionProvider``` is never used because ```ObservableKeyboardContext``` sets

[2021-01-14 15:36] luffy-yu opened #166 "Emoji keyboard doesn't behave like the IOS intrinsic Emoji keyboard."
Firstly, I really appreciate your outstanding work.

Recently, I found two slight differences between the KK Emoji keyboard and that inside the IOS system.

1. KK Emoji Keyboard can not slide left or right smoothly, more specific speaking, it can switch one whole page. But the IOS one can slide in a minimum unit of one column.
2. KK Emoji Keyboard does not move the first column of the tapped categ

[2021-01-15 05:13] Brennanium commented on #165
Adding a ```didSet``` appears not to work in ```ObservableKeyboardContext``` probably because of the ```@Published``` property wrapper.

[2021-01-15 05:17] Brennanium commented on #166
As far as I can tell, the KK emoji keyboard isn’t supposed to be exactly like the system emoji keyboard, it’s supposed to just be a quick demo of what KK can do...

[2021-01-15 12:37] danielsaidi opened #167 "Stop supporting UIKit?"
I have come to the conclusion that I will not be supporting UIKit from v4.

I will write more about this decision, but basically it's too much hassle to ensure a good experience for the two frameworks. Also, as I keep focusing on SwiftUI, UIKit will keep falling behind in features and level of polish. This also affects the docs, which have to cover both frameworks.

My advice is to start looking a

[2021-01-15 12:40] danielsaidi commented on #166
Thank you @luffy-yu - happy to hear that you like it!

@Brennanium - the demo emoji keyboard is not meant to be a full-fledged replacement for the system emoji keyboard. It's more of a demonstration of what you can do.

I am currently putting all focus on SwiftUI and will not be maintaining the UIKit parts of the library any longer, so I suggest that you copy the emoji keyboard to your own app and

[2021-01-15 12:40] danielsaidi commented on #165
Thank you @Brennanium - I will look into this!

[2021-01-15 13:55] luffy-yu commented on #166
@Brennanium @danielsaidi  Thank you for your replies. I have an idea and have found a solution. Maybe I can make some contribution.

[2021-01-15 15:15] danielsaidi commented on #166
Sounds great! :)

[2021-01-15 15:30] danielsaidi opened #168 "Remove all comments about experimental features"
In `4.0`, the experimental features will be fleshed out and stable.

Remove all comments regarding experimental features.

[2021-01-16 02:05] Brennanium opened #169 "AutocompleteToolbar action(for:, proxy:) doesn’t replace current word, just inserts replacement"
The most recent commit in KeyboardKitSwiftUI changed the behavior of inserting a ```AutocompleteSuggestion``` in ```AutocompleteToolbar.action(for:,proxy:)``` so now it doesn’t replace the current word, it just inserts the whole replacement at the cursor.  This breaks the function of auto complete suggestions completely including the autocomplete suggestions in the SwiftUI demo app...

Possible so

[2021-01-16 04:18] danielsaidi commented on #169
Damn my mistake, I’ll get it fixed in a little while. Thanks!

[2021-01-16 05:15] Brennanium commented on #165
After some Googling, I tried the ```didSet``` again and I worked totally fine this time for some reason!  Must have done it wrong the first time somehow 😅

[2021-01-16 06:01] danielsaidi commented on #165
Perfect, thanks! I'm closing this then :)

I'm just about to push a hot fix for the AC bug you reported earlier. It'll be up in a few minutes.

[2021-01-16 06:01] #165 closed

[2021-01-16 06:17] Brennanium opened #170 "KeyboardAppearanceProvider font overwritten when action has image by default"
If you provide your own font for an action in a `KeyboardAppearanceProvider`, `View.standardButtonFont(for: context:)` in View+Button.swift always uses `.light` font weight for actions which have an image by default.

Shouldn’t the font provided in `KeyboardAppearanceProvider` just be used as is?

[2021-01-16 06:22] danielsaidi commented on #169
Done, you can test it in **master**.

[2021-01-16 06:22] #169 closed

[2021-01-16 06:30] danielsaidi commented on #170
Yes, absolutely! However, the appearance provider is a new concept and one big problem that I current have with it, is that I can't add SwiftUI-specific types to it, since it is in the main repo. I'm not sure how to get around it.

[2021-01-16 06:52] danielsaidi opened #171 "Remove `secondaryCalloutActionProvider` from `KeyboardContext`"
This provider should not have been added here, since it requires us to change any already created sared secondary input context. This is where this property should be changed.

This is a breaking change, which is allowed since this is an experimental feature.

[2021-01-16 07:12] #171 closed

[2021-01-16 07:13] danielsaidi opened #172 "Fix invalid accent in numeric and symbolic keyboards"
`´` was accidentally used in standard numeric keyboards.

It has now been replaced with `’`.

This also fixes so that the secondary callouts are shown.

[2021-01-16 07:13] #172 closed

[2021-01-16 07:43] danielsaidi opened #173 "Remove services from keyboard context"
`KeyboardContext` has become bloated and now contains both contextual information as well as serving as some sort of dependency container for services and providers.

This has to change. It makes it hard to design service protocols, since a standard implementation may require a keyboard context. Since the context now creates the standard instances, that are stored in the context, we get a strange

[2021-01-16 12:18] danielsaidi commented on #84
I did this as a minimal change, by adding an `EmojiProvider` and make `EmojiCategory` implement this protocol.

This way, any new SwiftUI view can use an emoji provider and thus present any number of emojis.

The can be tested in **master**.

[2021-01-16 12:18] #84 closed

[2021-01-16 12:23] danielsaidi opened #174 "Make standard action handler automatically register tapped emojis"
The standard action handler should register tapped emojis so that a frequent emoji provider can automatically display them for the `.recent` emoji category.

[2021-01-16 12:23] danielsaidi commented on #174
This can be tested in **master**.

[2021-01-16 12:23] #174 closed

[2021-01-16 12:33] luffy-yu commented on #166
I made it.

Refer: [https://github.com/danielsaidi/KeyboardKit/pull/175](https://github.com/danielsaidi/KeyboardKit/pull/175)

[2021-01-16 12:38] danielsaidi commented on #166
I saw it and am very impressed with what I've seen so far :)

As I wrote in the PR, I will give it a try this weekend. If it works well and doesn't affect too many general parts of the library, I would love to merge it. However, we should probably discuss what will happen too all these great UIKit-specific things when UIKit support is removed in KK 4.

I would be open to creating a new repository

[2021-01-16 12:39] danielsaidi commented on #166
I'm reopening this until I've had a chance to look at your PR.

[2021-01-17 08:06] danielsaidi opened #177 "Make emoji category and action use the new Emoji struct."
This struct can be used to get more information about emojis and to work with them in a more structured way, so we should use it to greater extent.

[2021-01-17 10:17] danielsaidi opened #179 "Fix the emoji keyboard memory problems"
`3.6` added a set of new emoji keyboard views. Although they work when added to a standard app, the demo keyboard crashes due to memory issues, either when scrolling the keyboard or just adding a keyboard with 35 emojis.

I will merge the views to be able to release `3.6` but this should be solved before the 4.0 release. It would be a shame if we would have to resort to wrapping a collection view.

[2021-01-17 10:20] danielsaidi commented on #149
3.6 comes with new views, like `EmojiCategoryKeyboard`, `EmojiCategoryKeyboardMenu` and `EmojiKeyboard`. However, they crash due to memory pressure when adding more than ~32 emojis to them.

The emoji views are wrapped in a lazy h stack, so I don't know why this happens...especially not when the stack is wrapped in a scroll view. I will however, merge this with an `IMPORTANT` comment in the affect

[2021-01-17 10:20] #149 closed

[2021-01-17 10:49] danielsaidi commented on #170
I really like your PR and the offset change, but we should just make sure that the images still get a light font.

[2021-01-17 11:08] Brennanium commented on #170
Images still get light font! Just commented in the PR:

https://github.com/danielsaidi/KeyboardKit/pull/176

[2021-01-17 11:14] danielsaidi commented on #170
The light weight must apply to any SwiftUI-based keyboard, unless a custom weight is applied. I will therefore re-add the old view approach as a fallback.

[2021-01-17 11:17] Brennanium commented on #170
Sounds good!

I tried to set the `return` key to say "return" and it always used a light font; as long as I can change the default behavior somehow I'll be happy haha

[2021-01-17 11:23] danielsaidi commented on #170
Yeah, this will be a little messy until the main repo has SwiftUI support :/

[2021-01-17 11:23] #170 closed

[2021-01-17 11:43] danielsaidi commented on #166
With the new demo emoji keyboard in place, I'm happy to close this. Great job!

[2021-01-17 11:43] #166 closed

[2021-01-17 11:44] danielsaidi opened #180 "iOS incorrectly enables dark mode for dark keyboard appearance"
I created a new issue for this, to make it easier to overview.

Basically, the SwiftUI keyboard can't tell the difference between a dark appearance text field and running the app in dark mode. This means that dark appearance text fields get the dark mode colors.

This looks really strange, which you can see in the demo keyboard. However, I should be able to get the raw information from the text do

[2021-01-17 13:32] Antonito opened #181 "Customization enhancements"
Hello Daniel,

I'm trying to build a 'unicode' keyboard with your library and would love your input on how to achieve this.

From what I understood, today's alphabetic keyboards are simply based of an `AlphabeticKeyboardInputSet` – which only defines lowercased version of letters.
While it works for most cases, I find this approach problematic whenever someone wants to deal with non-standard/unusu

[2021-01-17 20:35] danielsaidi commented on #181
Hi @Antonito - thanks for the great description of your problems!

The main idea with the system keyboards is to make it easy to replicate the alphabetic, numeric and symbolic input sets. Or rather, that's the main idea with the input sets, which I over time will use to create language-specific replications of the native keyboards.

So while I think the idea of adjust the input set concept, I thin

[2021-01-18 12:09] MohitAgrawal96 opened #182 "How can we change keyboard language and implement accent?"
Hello,
Hope you are doing well
I integrate KeyboardKit in my app. I have one question that how we can keyboard layout like if a user will select "Arabic" language from picker then the keyboard turns onto Arabic from English or vice versa.
and also want a keyboard accent for eg if i long press on a particular key then a view will appear for a particular key accent.
Thank you.
![Screenshot 2021-01-1

[2021-01-18 12:20] danielsaidi commented on #182
Hi Mohit!

I am currently working on these features, to make them easier to implement. They're half-baked in KK 3.x but I will try to make them a lot more mature in 4.0.

For now, you can create your own input set and keyboard layout (you are most welcome to send the new ones as a PR) and inject the layout into a `SystemKeyboard`. You can then create a custom `SecondaryCalloutActionProvider` (you

[2021-01-19 07:45] danielsaidi commented on #179
This is solved, thanks to Antoine Baché! The problem was giving each emoji a huge font size and a tiny autoscale factor. This caused memory consumption to go crazy.

Due to this, the configuration now uses a font and an item size. It's a bit more work and can cause emojis to collide, but at least it's now possible to use the keyboard.

[2021-01-19 07:45] #179 closed

[2021-01-20 13:30] danielsaidi opened #183 "Secondary callout actions stop triggering"
The secondary callout action initially work, but suddenly stop working.

I have debugged this and everything works, the action is properly handled and sent to the input view controller's text document proxy. I will investigate if the input view controller reference or its proxy reference dies.

When I debug, I see that the `keyboardContext` in the `SecondaryInputCalloutContext` refers to a differe

[2021-01-20 15:35] danielsaidi commented on #183
I think I have solved this, by moving the shared set into the input view controller's setup function.

[2021-01-20 15:35] #183 closed

[2021-01-20 17:05] danielsaidi opened #184 "Remove pasteboard and photo library functionality"
This will be a breaking change, but one that is easy to fix (and that should affect very few people).

Since KK today contains photo library utilities, every app that imports it must add `NSPhotoLibraryUsageDescription` to its Info.plist. Since this is no core feature (it's only used for images and KK has no built-in image handling), removing it should affect very few people.

[2021-01-20 17:11] danielsaidi opened #185 "Remove photo album functionality"
This will be a breaking change that affects few developers.

KeyboardKit today contains calls to `UIImageWriteToSavedPhotosAlbum`, which requires all apps that import it to add a `NSPhotoLibraryUsageDescription` to Info.plist.

Given that image handling is not a core feature (the image action is not even handled), I will remove `PhotosImageService`, `StandardPhotosImageService` and `UIImage+Photos

[2021-01-20 22:15] danielsaidi commented on #146
I have solved this by replacing the hard coded colors with asset colors.

[2021-01-20 22:15] #146 closed

[2021-01-20 23:51] danielsaidi commented on #180
I don't think it's possible to fix this, since the color scheme of a dark appearance text field **is** dark, even though the system uses a light color scheme. I am certain of this now, since the new color assets are affected as well.

To Mae the best of this, I have made the dark appearance color assets non-adaptive and given them the values from light mode. It's not perfect, but better than what

[2021-01-20 23:51] #180 closed

[2021-01-20 23:56] danielsaidi opened #186 "Investigate if we have to stop supporting CocoaPods"
KeyboardKit now comes with embedded resources that require SPM to resolve properly.

This means that CocoaPods will probably no longer work for these resources, such as color assets. Check this before releasing KK 4.0 and stop supporting CocoaPods if these colors no longer work.

[2021-01-21 13:36] danielsaidi opened #187 "The standard font for lowercased alphabetic chars is too small"
The standard font for lowercased alphabetic characters should be larger.

[2021-01-21 20:37] danielsaidi opened #188 "Remove environment objects?"
The SwiftUI parts of KeyboardKit injects observable objects as environment objects to get around limitations with having two different libraries. I don't like this however, since it hides dependencies.

Instead, I will convert these to init arguments for the views that needs them.

[2021-01-21 22:44] danielsaidi commented on #157
I have built a new layout engine that sizes the keyboards semantically instead of explicitly. `KeyboardDimensions` has a new width function that lets you provide a desired width, such as `.available`, `.fixed(25)`, `.percentage(0.2)` etc. This information can then be used in a more specific context.

`SystemKeyboard` uses this approach now. The rules makes the SwiftUI keyboard come very close to t

[2021-01-21 23:38] danielsaidi commented on #157
I have a really hard time getting this to work while keeping the code free from breaking changes. I'm considering making this a 4.0, to give me a chance to make bigger overall changes.

[2021-01-22 20:15] Antonito opened #189 "CallOutCurve path with NaN"
[code]

It seems `CallOutCurve` `path` method is called with CGRect `.nan` width & height.

![image](https://user-images.githubusercontent.com/11705040/105539852-987cf100-5cf5-11eb-868f-278a84215150.png)

This can be tested by adding a `Symbolic Breakpoint` on symbol `CGPostError` via Xcode.

Tested on iOS 14.3

[2021-01-23 08:12] #189 closed

[2021-01-23 08:46] danielsaidi commented on #187
There is no clean way to do this now, since the appearance provider can't refer to `Font`.

I'll fix this after KK 4.

[2021-01-23 08:49] danielsaidi commented on #167
I can consider leaving UIKit keyboard support, with these conditions:
- We must drop support for iOS 11 and 12 to cleanly move SwiftUI support into the main repo.
- The UIKit demo app will be removed and replaced with a tutorial.
- UIKit support must not hold SwiftUI support back.

[2021-01-23 09:11] danielsaidi commented on #161
I have solved this in **master** and will release it as a `3.6.1` patch.

[2021-01-23 09:11] #161 closed

[2021-01-23 09:12] danielsaidi commented on #141
I will see if removing the bidirectional coupling will solve this.

[2021-01-25 17:05] Brennanium commented on #187
I tried experimenting with different font sizes in my KeyboardKit app to try to get them to match the system keyboard; the system keyboard must use some weird font or maybe even have its own custom font because I could never get the smaller uppercase letters to match larger lowercase letters in font weight.  If you just make the lowercase letters bigger, the `regular` font weight looks weird, but

[2021-01-26 13:02] danielsaidi commented on #98
The `v4.0` branch now supports iOS 13 and later.

[2021-01-26 13:02] #98 closed

[2021-01-26 21:33] danielsaidi commented on #104
This can be tested in `v4.0`.

[2021-01-26 21:33] #104 closed

[2021-01-27 19:59] danielsaidi opened #193 "Create a single keyboard context"
The `StandardKeyboardContext` is no longer needed, since KeyboardKit now has support for iOS 13 and can use `ObservableKeyboardContext` right away.

Remove the `StandardKeyboardContext` and only keep the `ObservableKeyboardContext`.

[2021-01-27 20:24] danielsaidi commented on #193
This can be tested in `v4.0`.

[2021-01-27 20:24] #193 closed

[2021-01-27 20:29] danielsaidi commented on #134
This can be tested in `v4.0`.

[2021-01-27 20:29] #134 closed

[2021-01-27 20:49] danielsaidi opened #194 "Demo keyboard breaks on iPhone 8"
I'm working on moving to KK 4.0 and just noticed this:

<img width="451" alt="image" src="https://user-images.githubusercontent.com/429927/106052085-80d4ac80-60e9-11eb-8195-3c05713d3f73.png">

This must be fixed before the release.

[2021-01-28 08:47] danielsaidi commented on #185
This can be tested in `v4.0`.

[2021-01-28 08:47] #185 closed

[2021-01-28 09:57] danielsaidi opened #195 "Make UIKit self-contained."
The `UIKit` folder should be an extension to the rest of the library. The core parts should not depend or refer to anything in this folder.

Before releasing `4.0`, delete this folder to see that the rest of the library still builds.

[2021-01-28 11:46] MohitAgrawal96 commented on #182
Hello Daniel,
Hope you are doing good.
Sorry for the late reply to your comment.
I want to know that how can I change language for a keyboard like if a user selects an Arabic language from picker or any other language then keyboard inputs would have to change to that selected language.
Thank you.

[2021-01-28 12:08] danielsaidi commented on #182
Hi Mohit!

First, KeyboardKit only have limited locale support, so you'd have to build the keyboard yourself. This involves creating an input set with the characters you'd like, creating a keyboard layout with the correct actions around the input keys, then setup the correct layout, for which the built-in support currently is very limited.

All the pieces are there, but you have to build it yourse

[2021-01-28 12:39] danielsaidi opened #196 "Replace auto connected timer with on-demand timer"
Today, **all** SwiftUI buttons wire up an auto connected timer that triggers 10 times/second. The buttons aborts the action if no repeat press is active.

This is a massive waste, since all buttons listens to all timers all the time. A repeat gesture should instead start a timer when needed and stop it when the gesture stops.

[2021-01-28 12:40] danielsaidi commented on #196
This can be tested in `v4.0`

[2021-01-28 12:40] #196 closed

[2021-01-28 12:42] #167 closed

[2021-01-28 19:53] danielsaidi commented on #188
`AutocompleteToolbar` no longer requires a nested `ObservableAutocompleteContext`.

[2021-01-29 13:34] danielsaidi commented on #194
This was due to space being 50%. This is incorrect. I will fix this as part of 4.0.

[2021-01-29 13:34] #194 closed

[2021-01-29 14:09] danielsaidi commented on #173
`keyboardBehavior` has been moved out to the keyboard input view controller.

[2021-01-29 15:21] danielsaidi commented on #173
`keyboardAppearance` has been moved out to the keyboard input view controller.

[2021-01-29 16:09] danielsaidi commented on #188
I will remove environment objects that don't rely on the binding aspects of having one.

However, the observed context will drive the state of the UI, which is great. The services then only have to be designed to accept a context, which will cause them to be called whenever the context changes.

[2021-01-29 16:09] #188 closed

[2021-01-30 15:40] danielsaidi commented on #173
`keyboardLayoutProvider` has been moved to the keyboard input view controller and `keyboardInputSetProvider` has been embedded into the layout provider.

[2021-01-31 09:18] danielsaidi opened #197 "The space drag gesture inserts a space"
When you press and drag the spacebar, the gesture inserts a space when it ends. It should not.

[2021-01-31 09:19] danielsaidi commented on #173
`actionHandler` has been moved to the keyboard input view controller and renamed to `keyboardActionHandler`.

[2021-01-31 09:19] #173 closed

[2021-01-31 10:50] danielsaidi commented on #177
This can be tested in `v4.0`.

[2021-01-31 10:50] #177 closed

[2021-01-31 10:56] danielsaidi commented on #141
Instruments still indicate memory leaks, but they're deep into the SwiftUI runtime.

Also, memory consumption no longer seems to go up when I switch keyboard or keyboard type.

[2021-01-31 10:57] danielsaidi commented on #141
<img width="278" alt="image" src="https://user-images.githubusercontent.com/429927/106381780-75b89f80-63bb-11eb-93a4-245e798987c4.png">

[2021-01-31 10:58] danielsaidi commented on #141
This can be tested in `v4.0`.

[2021-01-31 10:58] #141 closed

[2021-01-31 21:09] #168 closed

[2021-01-31 21:42] danielsaidi commented on #197
This can be tested in `v4.0`.

[2021-01-31 21:42] #197 closed

[2021-02-01 06:43] danielsaidi opened #198 "Action handler must not trigger UIKit animations"
When UIKit becomes a side-technology, the action handler must not trigger any such animations. Instead, it should be up to the button.

[2021-02-01 08:54] danielsaidi commented on #198
This has been moved to the button in `v4.0`.

[2021-02-01 08:54] #198 closed

[2021-02-01 08:56] danielsaidi opened #199 "Inject more contexts with environment objects"
To simplify using the various observable contexts, `KeyboardKit` will now inject them as environment objects. This removes the need of passing them around as view init params.

I was hesitant to this at first, since they are invisible dependencies. However, I will document the required environment objects for each view. Also, since KK injects everything at start, I think it's worth a try.

[2021-02-01 08:56] danielsaidi commented on #199
This can be tested in `v4.0`.

[2021-02-01 08:56] #199 closed

[2021-02-01 18:17] danielsaidi commented on #195
No other parts of KeyboardKit depends on code in the `UIKit` folder now.

This can be tested in `v4.0`.

[2021-02-01 18:17] #195 closed

[2021-02-02 15:53] danielsaidi opened #200 "Add support for return, search, go etc."
Add more actions to make it even easier to customize the design and behavior of keyboard buttons.

For instance, by having a `newLine` and a `return` the former can be returned for some iPad devices while the latter can be returned on iPhone devices.

The keyboard context should be able to provide the primary action as well. This could then be added bottommost by the layout providers, instead of h

[2021-02-02 16:49] danielsaidi opened #201 "Improve layout providers"
`iPhoneKeyboardLayoutProvider` and `iPadKeyboardLayoutProvider` are pretty basic right now and optimizes for portrait orientation. This is good enough for 4.0, but I want to improve them further:

* Unit test the classes.
* Improve landscape layout
* The return key should rather be a `primary` action that adapts to the current context.

These will be implemented in a future update.

[2021-02-02 16:51] danielsaidi commented on #153
I don't consider this to be a blocker, so I will implement this in a minor update to 4.0.

[2021-02-03 07:50] danielsaidi commented on #157
This can now be tested in `v4.0`. The layout has some performance issues on older devices, so I'll create a separate ticket for that.

[2021-02-03 07:50] #157 closed

[2021-02-03 07:54] danielsaidi opened #202 "New layout engine"
The new layout engine works great on new devices, but lags on older ones. Especially going from landscape to portrait can cause the keyboard to "shrink in" from beyond the edges of the screen.

I have improved this by flushing the keyboard, but it doesn't feel like a good approach. I wonder if injecting the context instead of keeping it as an environment object causes the observations to behave wo

[2021-02-03 07:56] danielsaidi opened #203 "Wrap up 4.0 release"
The following non-tech things must be done before we can release 4.0:

- [x] Adjust readme
- [x] Move UIKit information to a single readme
- [x] Move UIKit demo to a separate folder
- [x] Add a new sample gif to the readme
- [x] Create new SwiftUI demo

[2021-02-03 15:12] danielsaidi opened #204 "Keyboard type buttons can stop responding"
Sometimes, tapping e.g. "123" does nothing, even though the input buttons still work.

I first thought that this was due to the new `.shared` `KeyboardInputController`, that the buttons triggered an old input controller, but that is not the case:

<img width="584" alt="image" src="https://user-images.githubusercontent.com/429927/106766652-5a0efc80-663a-11eb-9305-10a7d94b67ef.png">

This isa blocke

[2021-02-04 07:13] MohitAgrawal96 commented on #182
Hello Daniel,
Thank you for your guidance and now I'm able to change the keyboard language, for instance, English to German or vice versa. Now my requirement is to achieve accent support for a keyboard extension. How did I achieve this.
would I have to changes in KeyboardAction+System.swift file?
Thank you.

[2021-02-04 15:12] danielsaidi commented on #202
I have big performance problems on iPad, where orientation changes causes the keyboard to stutter. I managed to get it fast on iPhone 7, but my iPad Air 2 have a hard time.

I first suspected the actual way the buttons laid themselves out to be the cause of the problem, but performance was horrible even when I rolled back to the old way of just sharing the existing state. I have inspected the UI c

[2021-02-04 15:14] danielsaidi commented on #182
You can have a look at how the library wires up the English and Swedish callout action provider and just to the same with your own provider. I want to make this a lot easier in the next upcoming version, but given my recent problems I'm not sure when it'll be done.

[2021-02-05 07:37] jinilp opened #205 "Accent not supported"
Hello Daniel,
I've implemented your Keyboard Kit library for my Custom Keyboard extension. I'm happy to integrate your library.
Now I want to achieve keyboard accent support for my custom keyboard accent. How can I achieve this?
Please help me out.
Thanks and Regards.

[2021-02-05 07:38] danielsaidi commented on #205
Hi! This is a duplicate of https://github.com/danielsaidi/KeyboardKit/issues/182 so let's continue the discussions there. 👍

[2021-02-05 07:38] #205 closed

[2021-02-05 07:49] jinilp commented on #182
Hello Daniel,
My requirement is also same. I also want keyboard accent support for my keyboard extension.

[2021-02-05 07:52] danielsaidi commented on #182
You can add custom accents in 3.6. Just have a look at how it's done in the library, which you can test in the demo.

It will be a lot easier in 4.0, though. I had to backtrack on my work there due to performance problems, but I'm committed to releasing 4.0 in February.

[2021-02-05 10:21] jinilp commented on #182
In which keypressEvent, I can find this?
can you please guide me in detail on this?

[2021-02-05 10:23] danielsaidi commented on #182
Are you using UIKit or SwiftUI? This is only available for SwiftUI, I'm afraid.

[2021-02-05 10:32] jinilp commented on #182
I'm using UIKit?

[2021-02-05 10:44] danielsaidi commented on #182
If you are using UIKit, you have to implement the accent logic yourself. I have implemented it for `SwiftUI`, which is the focus of the library moving forward.

I'd be happy to accept a pull request for UIKit after 4.0 is done, but I will not invest more time in UIKit in the future.

[2021-02-07 22:18] danielsaidi commented on #202
I rewrote this and made it as fast as the old, non-adaptive approach. I will wrap this up with some unit tests and previews, but the result can be tested in `v4.0`.

[2021-02-07 22:19] #202 closed

[2021-02-07 22:22] danielsaidi opened #207 "Embed localized resources"
Since SPM can now embed resources, KeyboardKit should provide localized resources for standard texts like "Return" and "Space".

[2021-02-08 17:22] #182 closed

[2021-02-08 17:23] danielsaidi commented on #182
I'm closing this since I will document how to do this in SwiftUI, as part of the 4.0 release.

[2021-02-11 11:23] danielsaidi opened #208 "Replace per-key gesture with global keyboard gesture"
Today, you can't drag your finger around on the keyboard to select new buttons, since each button has a separate gesture. As soon as that gesture becomes active, it's bound to the currently active view.

The gesture engine should be rewritten so that we can replace the current per-key gesture with a global keyboard gesture. The new gesture should only apply to a keyboard that is generated with a k

[2021-02-11 22:43] danielsaidi commented on #203
Everything is prepared for release. I'm just waiting for some feedback and may change some minor things before release.

[2021-02-11 22:43] #203 closed

[2021-02-13 14:46] devzhr opened #209 "Question: Change image with simple point"
Hi @danielsaidi ,

How to Change this image with simple point ?

![IMG_3150](https://user-images.githubusercontent.com/20423496/107852678-7406c700-6e12-11eb-9121-e0b60d6d32c6.jpg)

[2021-02-15 07:15] danielsaidi commented on #209
Hi @devzhr!

In the UIKit demo, the `DemoButton` is responsible for this image:

<img width="490" alt="image" src="https://user-images.githubusercontent.com/429927/107916059-e4722d00-6f65-11eb-813d-4c1bbeb0e851.png">

You can just change it there :)

[2021-02-15 07:15] #209 closed

[2021-02-15 08:37] danielsaidi commented on #181
Ok, I have implemented this, but with a little different take.

First of all, I renamed `KeyboardShiftState` to `KeyboardCasing`, then added a `neutral` state to it.

I then introduced a `KeyboardInput` which looks like this:

[code]

The input rows are now based on this type instead of strings, which gives you a lot more flexibility when creating input sets. The three modes don't even have to be

[2021-02-15 08:37] #181 closed

[2021-02-15 09:10] danielsaidi commented on #187
I have fixed so that the difference between KeyboardKit keyboards and system keyboards are smaller.

I did this by giving lowercased char actions a `title2` text style and `light` weight by default.

See the diffs below:

## System keyboard

![image](https://user-images.githubusercontent.com/429927/107926251-c44a6a00-6f75-11eb-9ac4-1c0c2339319e.png)
![image](https://user-images.githubusercontent.c

[2021-02-15 09:10] #187 closed

[2021-02-15 11:05] danielsaidi opened #210 "Add frost effect to keyboard buttons"
iPad keyboards have a frost effect that iPhone keyboards don't have.

Implement this in KeyboardKit as well:

![image](https://user-images.githubusercontent.com/429927/107938902-4d699d00-6f86-11eb-803a-15b74a64cf98.png)

[2021-02-15 11:08] danielsaidi opened #211 "Add press/release action triggers"
Native keyboards switches keyboards when the switch button is pressed, not tapped.

We should support this by implementing a press action trigger.

[2021-02-15 12:46] danielsaidi commented on #200
These have been added to 4.0 and can be tested in `master`.

[2021-02-15 12:46] #200 closed

[2021-02-15 12:48] danielsaidi commented on #153
I have added this to both the standard action colors as well as to the appearance, so it will be available in 4.0.

It can be tested in the `master` branch.

[2021-02-15 12:48] #153 closed

[2021-02-15 13:04] danielsaidi commented on #207
I have added a couple of localized resources now, although just a few.

They are exposed via the `KKL10n` enum for now, and have a `text` property that provides the localized text.

For now, the following texts are added to the enum:
* languageName
* locale
* return
* space

[2021-02-15 13:04] #207 closed

[2021-02-15 21:18] danielsaidi commented on #211
I have implemented this for `keyboardType`.

However, the `shift` double tap behavior made the gesture logic too complicated, so I chose to omit it for now.

This can be tested in `master`.

[2021-02-15 21:18] #211 closed

[2021-02-15 21:21] danielsaidi opened #212 "Improve callout curves"
The callout curves are too curvy and don't look like the native ones. Fix this.

[2021-02-16 08:09] haneenmahd commented on #210
This effects looks so 🆒

[2021-02-16 08:22] danielsaidi commented on #210
Yeah, I hope that it will be easy to implement :)

[2021-02-18 21:28] muhammadn opened #213 "Hardware keyboard maps keys incorrectly when Info.plist PrimaryLanguage is set to "mul""
I am currently looking into this as when i pair a real keyboard to ipad on bluetooth, the characters that is supposed to be mapped is not correctly shown on typing.

Some of the documents i have read:
https://developer.apple.com/documentation/uikit/keyboards_and_input/adding_hardware_keyboard_support_to_your_app

https://developer.apple.com/videos/play/wwdc2020/10109/

It still uses UIKit so i aft

[2021-02-19 08:42] danielsaidi commented on #213
Hi @muhammadn

I haven't tested KeyboardKit with any physical keyboards. Do you have a video that illustrates the problem?

[2021-02-20 12:38] muhammadn commented on #213
I have an Apple Magic Keyboard and I connect it to iPad via Bluetooth, I
couldn't get the correct letters using this physical keyboard.

Do you want a video of me using the Bluetooth keyboard?

On Fri, 19 Feb 2021, 4:42 pm Daniel Saidi, <notifications@github.com> wrote:

[2021-02-21 18:55] danielsaidi commented on #213
I just don't understand how KeyboardKit is meant to interact with the hardware keyboard :)

[2021-02-23 11:33] jinilp opened #214 "Custom view doesn't load in UIAutocompleteToolbar"
Hello Daniel,
hope you are doing good.
I'm happy to integrate 4.0 version of KK for my custom keyboard extension.
all things are working fine except UIAutocompleteToolbar.
Because whenever I try to load my custom view in buttonCreator parameter then that view had not loaded in this section.
All code is working fine till 3.6.3 but when I moved to 4.0 and I did change AutoCompleteToolBar with UIAuto

[2021-02-24 12:08] jinilp commented on #214
Hello daniel
there?

[2021-02-24 12:19] danielsaidi commented on #214
Hi @jinilp

Are you saying that you get the default view instead of your custom one?

[2021-02-24 12:21] jinilp commented on #214
Thank for reply
Yes i'm getting default AutoCompelte View instead of my custom one
Please guide me for this

[2021-02-24 12:29] danielsaidi commented on #214
Hmmm, that's strange because this is what the `UIAutocompleteToolbar` inits look like:

[code]

Are you using the one with a `buttonCreator` param?

Whenever new suggestions are set, this `didSet` is triggered:

[code]

I haven't tried this in KK4 other than in the demo, but I can't see how the custom builder can be bypassed.

The demo doesn't use a custom builder, though:

[code]

[2021-02-24 12:45] jinilp commented on #214
yes i use buttonCreator param in my KeyboardViewController for loading my custom view but nothing did happened
I'm following all the steps which I used in older version but not loading view in new KK4 version

[2021-02-24 13:08] danielsaidi commented on #214
Kan ju attach some code samples here?

[2021-02-24 13:56] jinilp commented on #214
class KeyboardViewController: KeyboardInputViewController {

    var vwLangTranslate : KeyboardLanguageHeaderView!

    lazy var autocompleteToolbar: UIAutocompleteToolbar = {
        UIAutocompleteToolbar(textDocumentProxy: textDocumentProxy, height: 50)
    }()

    // MARK: - View Controller Lifecycle

    override func viewDidLoad() {
        super.viewDidLoad()

        keyboardActionHandler